.mat-expansion-panel-header-description {
  flex-grow: unset!important;
  margin-left: 10px !important;

}
.mat{
  border-color: rgb(204, 202, 202);
  border-width: thick;
  border-style: double;
  border-radius: 2%;
}
.mat1{
  border-color: rgb(204, 202, 202);
  border-width: thin;
  border-style: solid;

  margin-bottom:5px ;
}
/* General styles */

form {
  display: flex;
  flex-direction: column;
   margin: 0 auto;
 border-radius: 5px;
 font-family: 'Montserrat', sans-serif;
}

mat-accordion,
mat-expansion-panel,
mat-expansion-panel-header,
mat-card,
.row {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  display:block;
  margin-bottom: 5px;
}

.select-wrapper1 {
  position: relative;
  font-size: 14px;
}

.select-wrapper1 select {
  font-size: 14px;
  height: 25px;
  overflow: hidden;
}

 .mat-form-field {
  width: 350px;
  height: 40px;
  border-top: 0.1em solid #0b0a0a;
  border-left:.1em solid #0b0a0a;
  border-right:.1em solid #0b0a0a;
  border-bottom:.1em solid #0b0a0a;
   /* Set the width as needed */
}

/* Styling the mat-select dropdown */
.mat-select-panel {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  border-radius: 4px; /* Add border radius for rounded corners */
  border: 1px solid #260808;
  width:350px /* Add border for visibility */
}

/* Styling the mat-select option */
.mat-option {
  font-size: 14px; /* Set font size */
}

/* Styling the mat-select option when hovered */
.mat-option:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}
.select-wrapper {
  position: relative;
  font-size: 14px;
}

.select-wrapper select {
  font-size: 14px;
  height: 25px;
  overflow: hidden;
}

.select-wrapper.expanded select {
  padding: 2px 10px;
  font-size: 14px;
  position: absolute;
  height: auto !important;
  top: calc(100% + 2px);
  left: 0;
  z-index: 999;
  overflow-y: auto;
  width: 90%;
}

.select-wrapper.expanded select option {
  padding: 2px 10px;
  font-size: 14px;
}
.select-wrapper::after {
  content: '\25BC';
  font-size: 14px;
  color: #666;
  position: absolute;
  top: 30%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}
.select-wrapper select option:checked {
  color: #000;
}

.select-wrapper.expanded select {
  position: absolute;
  left: 5px;
  z-index: 999;
}

 /* select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 36px;
} */


.form-group {
  margin-bottom: 15px;
}

.form-control {
  font-weight: 700;
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Optional styles for improved appearance */

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.mat-dialog-container{
  overflow-y: hidden !important;
}

textarea.form-control {
  height: auto;
}
.form-check {
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}
h5{
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
}

.header {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background-color:#147737;
  padding:15px ;
  text-align: center;
  color: white;
}
