<mat-accordion >
  <mat-expansion-panel class="mat_expansion_border"  [(expanded)]="accordionClosed" >

    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row" >
        <h5 style="margin-right: 1150px;display: contents; color:#25345D"><strong >Stage #1 : Safe Work Permit - Request Initiation </strong> </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <!-- [ngClass]="{ 'position-row': position !== 'SWP_Issuer' }" -->
    <form [formGroup]="swpForm" >
    <mat-card class= mat >
      <mat-card class= mat1>
      <mat-card-content>

        <h4 class="header">General Information</h4>
        <!-- <h6 style="margin-left: 30%;"><strong>PROCEDURE CHECKLIST #A ESTABLISH STEAM DRUM LEVEL</strong></h6> -->

          <div class="form-row row mt-3">

            <div class="col ">
            <label class="label" for="date">Date And Time</label>
            <div class="row">
                <div class="col-sm-4"><input type="date" class="form-control" id="date" formControlName="start_date"></div>
                <div class="col-sm-4"><input type="time" class="form-control" id="date" formControlName="start_time" ></div>
            </div>
            </div>
            <div class="col">
              <label class="label" for="date">End Date And Time</label>
              <div class="row">
                    <div class="col-sm-4"><input type="date" class="form-control" id="date" formControlName="end_date"></div>
                    <div class="col-sm-4"><input type="time" class="form-control" id="date" formControlName="end_time" ></div>
              </div>
              </div>
          </div>
          <div class="form-row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="Requestorname">Requestor Name</label>
                <input id="Requestorname" type="text" class="form-control" formControlName="requestorname" value="SWP Issuer" >
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="eaz">EAZ</label>
                <div class="truncate">
                  <mat-select class="form-control" style="width: 200px;" formControlName="eaz" multiple>
                    <mat-option *ngFor="let zone of allZones" [value]="zone">{{ zone }}</mat-option>
                  </mat-select>
                </div>
                <!-- <mat-form-field>

                  <mat-select  class="select-wrapper1"  formControlName="EAZ" multiple>
                    <mat-option *ngFor="let zone of allZones" [value]="zone">{{ zone }}</mat-option>
                  </mat-select>
                </mat-form-field> -->

               <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='eaz'"  (click)="toggleSelectExpand('eaz')">
                <select id="eaz" multiple class="form-control" formControlName="EAZ" value="Zone1">
                  <option value="Zone1" >Zone1</option>
                  <option value="Zone2" >Zone2</option>
                  <option value="Zone3" >Zone3</option>
                  <option value="Zone4" >Zone4</option>
                  <option value="Zone5" >Zone5</option>
                  <option value="Zone6">Zone6</option>
                  <option value="Zone7" >Zone7</option>
                  <option value="Zone8" >Zone8</option>
                  <option value="Zone9" >Zone9</option>
                  <option value="Zone10" >Zone10</option>
                  <option *ngFor="let zone of allZones" [value]="zone">{{ zone }}</option>

                </select>
               </div> -->
              </div>
            </div>
              <div class="col-md-3">
              <div class="form-group">
                <label for="equipmentID">Equipment ID</label>
                <mat-select class="form-control" style="width: 200px;" formControlName="equipmentID" multiple>
                  <mat-option *ngFor="let equip of EquipID" [value]="equip">{{ equip }}</mat-option>
                </mat-select>
                <!-- <mat-form-field> -->
                  <!-- <mat-label>Select Zones</mat-label> -->
                  <!-- <mat-select class="select-wrapper1"  formControlName="EquipmentID" multiple>
                    <mat-option *ngFor="let equip of EquipID" [value]="equip">{{ equip }}</mat-option>
                  </mat-select>
                </mat-form-field> -->


                <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='equipmentID'"  (click)="toggleSelectExpand('equipmentID')">
                <select id="EquipmentID" multiple class="form-control" formControlName="EquipmentID">
                  <option value="Zone1" selected>F-2230</option>
                </select>
              </div> -->
            </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="wWorkLocation">Work Location</label>
                <div class="truncate">
                  <mat-select class="form-control" style="width: 200px;" formControlName="workLocation" multiple>
                    <mat-option *ngFor="let work of workloc" [value]="work">{{ work }}</mat-option>
                  </mat-select>
                </div>
                <!-- <mat-form-field>

                <mat-select class="select-wrapper1"  formControlName="workLocation" multiple>
                  <mat-option *ngFor="let work of workloc" [value]="work">{{ work }}</mat-option>
                </mat-select>
              </mat-form-field> -->
                <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='workLocation'"  (click)="toggleSelectExpand('workLocation')">
                <select id="workLocation" multiple class="form-control" formControlName="WorkLocation">
                  <option value="Zone1" >EU2-E-2231A/B/C/D/E &F PRIMARY TLE'S</option>
                </select>
                </div> -->
              </div>
          </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="EquipmentDescription">Equipment Description</label>
                <textarea id="EquipmentDescription" rows="4"class="form-control" formControlName="equipmentDescription"  placeholder="Enter Equipment Description"></textarea>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="WorkDescription">Work Description</label>
                <textarea id="WorkDescription" rows="4" class="form-control" formControlName="workDescription" placeholder="Enter Work Description" ></textarea>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
          <h3 class="header">Scope</h3>
        </div>
        </div>
          <div class="col-md-6">
          <div class="form-group">
        <h4 class="header">Tools</h4>
       </div>
      </div>
      </div>
          <!-- <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="Jobscope">Job Scope</label>
              <textarea id="Jobscope" rows="4" class="form-control" formControlName="Jobscope"  placeholder="Enter Job Scope" ></textarea>
            </div>
          </div>


           <div class="col-md-6">
              <div class="form-group">
                <label for="toolsrequired">Tools Required</label>
                <div class="truncate">
                  <mat-select class="form-control" style="width: 200px;" formControlName="toppings" multiple>
                    <mat-option *ngFor="let tool of tools" [value]="tool">{{ tool }}</mat-option>
                  </mat-select>
                </div> -->
                <!-- <mat-form-field>

                    <mat-select class="select-wrapper1"  formControlName="toolsrequired" multiple>
                    <mat-option *ngFor="let tool of tools" [value]="tool">{{ tool }}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='toolsrequired'"  (click)="toggleSelectExpand('toolsrequired')">

                <select id="toolsrequired" multiple class="form-control" formControlName="Toolsrequired">
                  <option value="handtools" >Hand Tools</option>
                </select>
              </div> -->
            <!-- </div>
            </div>
            </div> -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Jobscope">Job Scope</label>
                  <textarea id="Jobscope" rows="4" class="form-control" formControlName="jobScope" placeholder="Enter Job Scope"></textarea>
                </div>
              </div>
              <div class="col-md-6"> <!-- Change col-md-6 to col-md-12 to make it occupy the full width -->
                <div class="form-group">
                  <label for="toolsrequired">Tools Required</label>
                  <div class="truncate">
                    <mat-select class="form-control" style="width: 200px;" formControlName="toolsRequired" multiple>
                      <mat-option *ngFor="let tool of tools" [value]="tool">{{ tool }}</mat-option>
                    </mat-select>
                  </div>
                </div>
              </div>
            </div>


            </mat-card-content>
          </mat-card>
          <mat-card class="mat1">
            <mat-card-content>

            <h4 class="header">Safety Equipment Requirement</h4>
            <br>
            <div class="form-row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="Clothing">Clothing</label>
                  <div class="truncate">
                    <mat-select class="form-control" style="width: 200px;" formControlName="clothing" multiple>
                      <mat-option *ngFor="let clothing of cloth" [value]="clothing">{{ clothing }}</mat-option>
                    </mat-select>
                  </div>
                  <!-- <mat-form-field>

                    <mat-select class="select-wrapper1"  formControlName="clothing" multiple>
                    <mat-option *ngFor="let clothing of cloth" [value]="clothing">{{ clothing }}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                  <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='clothing'" (click)="toggleSelectExpand('clothing')">
                    <select id="clothing" multiple class="form-control" formControlName="clothing">
                    <option value="jacket" >Jacket</option>
                  </select>
                </div> -->
              </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="fhprotection">Face/Head Protection</label>
                    <div class="truncate">
                      <mat-select class="form-control" style="width: 200px;" formControlName="fhProtection" multiple>
                        <mat-option *ngFor="let protect of headprotect" [value]="protect">{{ protect}}</mat-option>
                      </mat-select>
                    </div>

                    <!-- <mat-form-field>

                      <mat-select class="select-wrapper1"  formControlName="fhprotection" multiple>
                      <mat-option *ngFor="let protect of headprotect" [value]="protect">{{ protect}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="respirator">Respiratory</label>
                      <div class="truncate">
                        <mat-select class="form-control" style="width: 200px;" formControlName="respiratory" multiple>
                          <mat-option *ngFor="let respirator of respir" [value]="respirator">{{respirator}}</mat-option>
                        </mat-select>
                      </div>

                      <!-- <mat-form-field>

                        <mat-select class="select-wrapper1"  formControlName="Respiratory" multiple>
                        <mat-option *ngFor="let respirator of respir" [value]="respirator">{{respirator}}</mat-option>
                      </mat-select>
                    </mat-form-field> -->

                    <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='fhprotection'"  (click)="toggleSelectExpand('fhprotection')">
                    <select id="fhprotection" multiple class="form-control" formControlName="fhprotection">
                      <option value="mesh" >Mesh</option>
                      <option value="faceshield" >Face Shield</option>
                      <option value="Helmet" > Helmet</option>
                    </select>
                  </div> -->
                </div>
                </div>
                    <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='respirator'"  (click)="toggleSelectExpand('respirator')">
                    <select id="respirator" multiple class="form-control" formControlName="respirator">
                      <option value="mesh" >Foldable Basic Respiratory'</option>
                    </select>
                  </div> -->

                <div class="col-md-4">
                <div class="form-group">
                  <label for="footleg">Foot/Leg Protection</label>
                  <div class="truncate">
                    <mat-select class="form-control" style="width: 200px;" formControlName="footleg" multiple>
                      <mat-option *ngFor="let foot of footlegs" [value]="foot">{{foot}}</mat-option>
                    </mat-select>
                  </div>

                    <!-- <mat-form-field>

                      <mat-select class="select-wrapper1"  formControlName="footleg" multiple>
                      <mat-option *ngFor="let foot of footlegs" [value]="foot">{{foot}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='footleg'"  (click)="toggleSelectExpand('footleg')">
                  <select id="footleg" multiple class="form-control" formControlName="footleg">
                    <option value="footleg">Ankle High Safety Shoes</option>
                  </select>
                </div> -->
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="ear">Hearing Protection</label>
                  <div class="truncate">
                    <mat-select class="form-control" style="width: 200px;" formControlName="ear" multiple>
                      <mat-option *ngFor="let earp of earprotect" [value]="earp">{{earp}}</mat-option>
                    </mat-select>
                  </div>

                  <!-- <mat-form-field> -->
                    <!-- <mat-label>Select </mat-label> -->
                    <!-- <mat-select class="select-wrapper1"  formControlName="ear" multiple>
                    <mat-option *ngFor="let earp of earprotect" [value]="earp">{{earp}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                  <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='ear'"  (click)="toggleSelectExpand('ear')">
                  <select id="ear" multiple class="form-control" formControlName="ear">
                    <option value="earmuff">Ear Muffs</option>
                  </select>
                </div> -->
              </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="eyeprotect">Eye Protection</label>
                  <div class="truncate">
                    <mat-select class="form-control" style="width: 200px;" formControlName="eyeProtect" multiple>
                      <mat-option *ngFor="let eye of eyeprotect" [value]="eye">{{eye}}</mat-option>
                    </mat-select>
                  </div>
                  <!-- <mat-form-field>

                    <mat-select class="select-wrapper1"  formControlName="eyeprotect" multiple>
                    <mat-option *ngFor="let eye of eyeprotect" [value]="eye">{{eye}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                  <!-- <div class="select-wrapper" [class.expanded]="expandedDropdownId==='eyeprotect'"  (click)="toggleSelectExpand('eyeprotect')">
                  <select id="eyeprotect" multiple class="form-control" formControlName="eyeprotect">
                    <option value="eyeprotect">Safety Glasses with Side Shields</option>
                  </select>
                </div> -->
              </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="Ergonomics">Ergonomics</label>
                  <textarea id="Ergonomics" rows="4" class="form-control" formControlName="ergonomics"  placeholder="Enter Ergonomics"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Heatstress">Heat Stress</label>
                  <textarea id="Heatstress" rows="4" class="form-control" formControlName="heatStress" placeholder="Enter heat stress"></textarea>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="Elevated">Elevated Work</label>
                  <textarea id="Elevated" rows="4" class="form-control" formControlName="elevated"placeholder="Enter Elevated Work"></textarea>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="Others">Others</label>
                  <textarea id="Others" rows="4" class="form-control" formControlName="others"placeholder="Enter others specify"></textarea>
                </div>
              </div>
            </div>

              </mat-card-content>
              </mat-card>
            <mat-card class="mat1">
              <mat-card-content>
                <form [formGroup]="swpForm">
                  <h4 class="header">Safe Job Plan Attachment</h4>
                 
                  <!-- <button (click)="dd()">bb</button> -->
<!-- Add a click event handler to the filename -->
<!-- <div *ngIf="pdf" >
  <span style="font-weight: bold; cursor: pointer;"(click)="openPDF(pdf)">selectedFileName </span>
</div> -->

                  <div class="form-group">
                    <label for="fileUpload">Upload File (PDF, MAX 100KB):</label>
                    <div style="display: flex; align-items: center;">
                      <label for="fileUpload" class="custom-file-upload">
                        {{ 'Choose File' }}
                      </label>
                      <input style="width: 30%; display: none;" #fileInput id="fileUpload" type="file" class="form-control" accept=".pdf" (change)="onFileSelected($event)">
                      <div *ngIf="selectedFileName" style="padding: 1px; border-radius: 20%; margin-left: 2%;">
                        <span style="font-weight: bold;">{{ selectedFileName }}</span>
                       
                        <button mat-icon-button [matTooltipPosition]="'above'" matTooltipHideDelay="50" matTooltipClass="tooltip" matTooltip="Clear" color="warn" (click)="deleteFile()">
                          <mat-icon color="inherit">clear</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                
                
              
              
              
              
              
      </mat-card-content>
    </mat-card>
    <mat-accordion>
      <!-- Your existing code for the accordion goes here -->
    </mat-accordion>

  <div class="save-button-container" *ngIf="!Safeworkpermitup">
    <button mat-raised-button style="background-color:#25345D; ; color: white; margin: 0 auto;" (click)="saveForm()">Save</button>
    </div>
    <div class="save-button-container" *ngIf="Safeworkpermitup">
      <button mat-raised-button style="background-color:#25345D; ; color: white; margin: 0 auto;" (click)="updateFormValues()">Update</button>
      </div>
    </mat-card>
    </form>
  </mat-expansion-panel>
</mat-accordion>
<br>

<app-processingswp></app-processingswp>