body, .content-wrapper h2, .navbar-nav .nav-link, .ng-container, h2,.brand-link, 
.d-block,
.mt-2
{
  /* font-family: 'Montserrat', sans-serif !important; */
}
 
.mt-2{
  font-size: 16px;
  /* font-family: 'Montserrat', sans-serif !important; */
}


body, h2 {
  /* font-family: 'Montserrat', sans-serif !important; */
}

h2{
  margin-left:0;
}
.header {
  color:#147737; /* Choose your desired background color */
  /* Set text color to white for better contrast */
  padding: 10px; /* Add some padding for spacing */
  font-family: 'Montserrat', sans-serif !important;
}
.handsign{
  cursor: pointer; /* Changes cursor to a pointer hand */
}