body, h2 {
  font-family: 'Montserrat', sans-serif;
}

h2{
  margin-left:0;
}
.header {
  color:#147737; /* Choose your desired background color */
  /* Set text color to white for better contrast */
  padding: 10px; /* Add some padding for spacing */
}
