
<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="false" [disabled]="nextformenable">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;">2.Tools & Equipment</h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>



    <form [formGroup]="FirstForm">
      <mat-card class="mat">
        <mat-card-content>
           <table class="table">
            <thead>
              <tr>
                <th class="header">TOOLS AND/OR EQUIMENTS</th>
                <th class="header">Use (if explaination needed)</th>
              </tr>
            </thead>
<!-- <tr>
<th style ="width:30%;padding: 12px;">Tools and/or Equipment</th>
<th style="width:75%; padding: 12px;" >Use(if explaination needed)</th>
</tr> -->
<tr>
  <td>Pipe-wrench,Valve Key,Radio</td>
  <td>As applicable </td>
</tr>
<tr>
<tr>
<td >LEL Meter</td>
<td>As applicable</td>
</tr>

<tr>
<td>Manual Igniter</td>
<td>As applicable</td>
</tr>

<tr>
<td >Mono Goggles</td>
<td>If handling of chemicals is required</td>
</tr>
<tr>
<td>FRC</td>
<td>In inflammable areas to minimize injury from flash fire
</td>
</tr>
<tr>
<td >Ear plug(or) Ear muff</td>
<td>
    To protect from high noise</td>
</tr>
<tr>
<td >Leather Gloves,Helmet,Safety Shoes,Safety Glasses</td>
<td>While operating valves  with valve key to avoid pinch points,hot surface</td>
<tr>
<td >Cooling Vest</td>

 <td>To migitate against heat stress during summer</td>
</tr>

<tr>
<td >Utility Hoses</td>
  <td>
    For purging,draining,pressurizing
    </td>
</tr>
</table>


<div style="display: flex; justify-content: center;">
  <button class="btn1" mat-raised-button style="background-color: #147737; margin-right: 10px;" (click)="nxt()">Agree</button>
  <button class="btn2" mat-raised-button style="background-color: #147737;" (click)="showmsg()">Disagree</button>
</div> 
</mat-card-content>

</mat-card>

</form>
</mat-expansion-panel>
</mat-accordion>
<br>
<app-startup [startupformenable]="startupformenable"></app-startup>