h4{
  text-align: center;
 }
.mat {
  width: 1400px;
  /* height: 1400px;
  border-width: thin;
  border-style: solid;
  border-color: black; */
  border-color: black;
  border-width: thin;
  border-style: solid;
  margin: 3%;

 }
 .colourbule {
  border-collapse: collapse; /* Collapse table borders */
  width: 90%;
}
 .colourbule tr {
  padding: 5px 0; /* Adjust the padding as needed */
}

th{
  font-size: larger;
  background-color: #97ca94 !important;
  text-align: center;
}
td {
  padding: 8px;
  text-align: left;

}
th {
  background-color: #97ca94;
}
.right-head{
  width: 100px;
  font-weight: bold;
  margin-left:150px;
  /* padding-left: 100px; */
}
.checkbox-row {
 margin-left: 126px;
}
.move-comm {
  font-weight: bold;
  padding-left: 29px;

}
.form-control{
  width:30% ;

  margin-left: 750px;
  margin-top: -40px;
}
.checkbox-row input[type="radio"] {
  margin-top: 10px;
  padding-top: 20px;
  margin-left: 40px;
  width: 15px; /* Adjust width as needed */
  height: 15px;
}
.checkbox-row label {
  margin-left: 10px;
}


textarea {
  margin-left: 300px;
  display: block;

  resize: none;
}
.button-container {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
}
.btnleft {
  float: left;
}
.mat-expansion-panel-header-description {

  flex-grow: unset !important;
  margin-left: 10px !important;
}
.mat-expansion-panel-header-description {

  flex-grow: unset !important;
  margin-left: 10px !important;
}
.header{
  text-align: center;
  margin-top: 2%;
 }