mat-accordion, mat-expansion-panel, mat-expansion-panel-header, mat-card, table, th, td,
.btn1, .btn2, .header {
  font-family: 'Montserrat', sans-serif !important;
}
#header{
  color:white;
  width:50%;
  text-align: center;
  font-size: 18px !important;
  font-family:'Montserrat' sans-serif !important;
  margin-top: 2%;
    background-color: #25345D
  ;
 }
 #header1{
  color:white;
  width:50%;
  text-align: center;
  font-size: 18px !important;
  font-family:'Montserrat' sans-serif !important;
  margin-top: 2%;
    background-color: #25345D
  ;
 }
 h4{
  text-align: center;
 }
 .table {
  display: table;
  width: 100%;
}
.mat {
  width: 94%;
  /* height: 1400px;
  border-width: thin;
  border-style: solid;
  border-color: black; */
  border-color:  rgb(165, 164, 164);
  border-width: thick;
  border-style: inherit;
  margin: 3%;
  border-radius: 3%;

 }


 th, td {

  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr,td{
font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


.form-control{
  width:30% ;
  margin-left: 750px;
  margin-top: -40px;
}


.button-container{
  display: flex;
  justify-content: center;

}


.mat-expansion-panel-header-description {

  flex-grow: unset !important;
  margin-left: 10px !important;
}
.mat-expansion-panel-header-description {

  flex-grow: unset !important;
  margin-left: 10px !important;
}