/* General styles */

form {
  display: flex;
  flex-direction: column;
  /* width: 800px; */
  margin: 0 auto;
  /* padding: 20px; */
  
  border-radius: 5px;
  
}
.h1 {
  text-align: center;
  font-size: 24px;
  padding-right: 45%;
}

h2, h3 {
  margin: 10px 0;
  text-align: center;
  padding-right: 28%;
  font-size: 20px;
  font-weight: 600;
  
}
 
label {
  display: block;
  margin-bottom: 5px;
}

 select {
  width: 100%;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.duration-of-works {
  display: flex;
  align-items: center;
  gap: 5px;
}

.safety-checklist {
  width: 100%;
  border-collapse: collapse;
}

.safety-checklist th,
.safety-checklist td {
  padding: 5px;
  border: 1px solid #ccc;
}

/* Specific styles for different form elements */

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* Optional styles for improved appearance */

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.checkbox {
  display: inline-block;
  margin-right: 5px;
}
.tab3 {
  display: -webkit-box;
  align-items: center;
}
/* .tables{
  background-color: #555;
} */
table {
  border-collapse: collapse; /* Remove default cell borders */
}

th, td {
  border: 1px solid #ddd; /* Add borders to cells */
  padding: 5px; /* Add padding around cell content */
}

th {
  /* background-color: #f2f2f2; Lighten header background */
  font-weight: bold; /* Bold text for headers */
}
.mat-dialog-container{
  overflow-y: hidden !important;
}
textarea.form-control {
  height: auto;
}
.form-check {
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}