<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="expand || printexpand8"
  [disabled]="false">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;color:#25345D"><strong>10.Procedure Checklist #E - Warm Up COT</strong>  </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

<mat-card class="mat">
  <mat-card-content>
    <!-- <h6 style="margin-left: 35%"><strong>Procedure Checklist #E—Warm Up COT</strong></h6> -->
    <form  [formGroup]="ChecklistE" [ngClass]="{ 'disabled-form': formdisable }">
    <table>
      <thead>
        <tr>
          <th class="theader">Step</th>
          <th class="theader">Action (Hazard/Precaution if applicable)</th>
          <th class="theader" style="width: 33%; text-align: center;" >Action</th>
          <th class="theader">Skip Status</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td style="text-align: center;" >1</td>
          <td class="header">OOT to ensure that all lower level burners are lit before starting light off of upper level burners.</td>
         
          <td>
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-inprogress" name="oot_lower_level_burner" value="Inprogress" formControlName="oot_lower_level_burner"  (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-inprogress" class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-done" name="oot_lower_level_burner" value="Done" formControlName="oot_lower_level_burner" (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-done"  class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-skip" name="oot_lower_level_burner" value="Skip" formControlName="oot_lower_level_burner"  (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-skip"  class="action"(click)= "onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_lower_level_burner')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_lower_level_burner_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_lower_level_burner')?.setValue(''); ChecklistE?.get('oot_lower_level_burner_comment')?.setValue('')">Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)= "onSkipButtonClick()"(click)="onRadioChange()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_lower_level_burner_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_lower_level_burner_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
       
        <tr  [ngClass]="{ 'disabled-row': disableIO !== 'iot' }" class="colour2">
          <td style="text-align: center;">2</td>
          <td class="header">IOT to continuously monitor the fuel gas pressure and OOT to continue lighting off more burners as required</td>
          
          <td>
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-inprogress" name="iot_monitor_the_fuel_gas" value="Inprogress" formControlName="iot_monitor_the_fuel_gas"  (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-done" name="iot_monitor_the_fuel_gas" value="Done" formControlName="iot_monitor_the_fuel_gas" (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-skip" name="iot_monitor_the_fuel_gas" value="Skip" formControlName="iot_monitor_the_fuel_gas"  (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_monitor_the_fuel_gas')?.value === 'Skip'">
              <textarea id="w3review"  name="w3review" rows="4" cols="40" formControlName="iot_monitor_the_fuel_gas_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_monitor_the_fuel_gas')?.setValue(''); ChecklistE?.get('iot_monitor_the_fuel_gas_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('iot_monitor_the_fuel_gas_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('iot_monitor_the_fuel_gas_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
       
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td style="text-align: center;">3</td>
          <td class="header">OOT to open desuperheater Untreated BFW manual block valves (DB&B) when the COT is &gt; 450 ºC.</td>

          <td>
            <input type="radio" class="custom-radio" id="oot_desuperheater-inprogress" name="oot_desuperheater" value="Inprogress" formControlName="oot_desuperheater"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater-done" name="oot_desuperheater" value="Done" formControlName="oot_desuperheater" (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater-skip" name="oot_desuperheater" value="Skip" formControlName="oot_desuperheater"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_desuperheater')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_desuperheater_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_desuperheater')?.setValue(''); ChecklistE?.get('oot_desuperheater_comment')?.setValue('')">Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_desuperheater_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_desuperheater_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
       
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'iot' }" class="colour2">
          <td style="text-align: center;">4</td>
          <td class="header">IOT to confirm that the desuperheater valve does not pass. If it passes, instruct the OOT to close the B/V until desuperheating flow is needed.</td>
         
          <td>
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-inprogress" name="iot_desuperheater_not_pass" value="Inprogress" formControlName="iot_desuperheater_not_pass"  (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-inprogress" class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-done" name="iot_desuperheater_not_pass" value="Done" formControlName="iot_desuperheater_not_pass" (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-done" class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-skip" name="iot_desuperheater_not_pass" value="Skip" formControlName="iot_desuperheater_not_pass"  (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-skip" class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_desuperheater_not_pass')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="iot_desuperheater_not_pass_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_desuperheater_not_pass')?.setValue(''); ChecklistE?.get('iot_desuperheater_not_pass_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1"(focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('iot_desuperheater_not_pass_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('iot_desuperheater_not_pass_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
         
     
          <tr class="colour1"  [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" >
          <td style="text-align: center;" >5</td>
          <td class="header" >When steam drum pressure is above 90 kg/cm2g:</td>
          <td></td>
          <td></td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }"class="colour2">
          <td ></td>
          <td class="header">*OOT to line up steam drum continuous blowdown valve and block in steam drum intermittent blowdown.</td>
          
          <td>
            <input type="radio" class="custom-radio" id="oot_lineup_sd-inprogress" name="oot_lineup_sd" value="Inprogress" formControlName="oot_lineup_sd"  (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-inprogress" class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_lineup_sd-done" name="oot_lineup_sd" value="Done" formControlName="oot_lineup_sd" (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-done" class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_lineup_sd-skip" name="oot_lineup_sd" value="Skip" formControlName="oot_lineup_sd"  (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-skip" class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_lineup_sd')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_lineup_sd_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_lineup_sd')?.setValue(''); ChecklistE?.get('oot_lineup_sd_comment')?.setValue('')">Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()" (click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_lineup_sd_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_lineup_sd_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td></td>
          <td class="header">*OOT to confirm that the sTLE blowdown to CBD header is lined up.</td>
          
          <td>
            <input type="radio" class="custom-radio" id="oot_cbd-inprogress" name="oot_cbd" value="Inprogress" formControlName="oot_cbd"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd-done" name="oot_cbd" value="Done" formControlName="oot_cbd" (change)="onRadioChangeup()"/>
            <label for="oot_cbd-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd-skip" name="oot_cbd" value="Skip" formControlName="oot_cbd"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_cbd')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_cbd_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_cbd')?.setValue(''); ChecklistE?.get('oot_cbd_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()" (click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_cbd_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_cbd_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }"class="colour2">
          <td></td>
          <td class="header">*OOT to ensure steam drum blowdown analyzer online and confirm cooling water flow to and from cooler.</td>

          <td>
            <input type="radio" class="custom-radio" id="oot_confirm_cooling_water-inprogress" name="oot_confirm_cooling_water" value="Inprogress" formControlName="oot_confirm_cooling_water"  (change)="onRadioChangeup()"/>
            <label for="oot_confirm_cooling_water-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_confirm_cooling_water-done" name="oot_confirm_cooling_water" value="Done" formControlName="oot_confirm_cooling_water" (change)="onRadioChangeup()"/>
            <label for="oot_confirm_cooling_water-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_confirm_cooling_water-skip" name="oot_confirm_cooling_water" value="Skip" formControlName="oot_confirm_cooling_water"  (change)="onRadioChangeup()"/>
            <label for="oot_confirm_cooling_water-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_confirm_cooling_water')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_confirm_cooling_water_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_confirm_cooling_water')?.setValue(''); ChecklistE?.get('oot_confirm_cooling_water_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_confirm_cooling_water_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_confirm_cooling_water_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td></td>
          <td class="header">*OOT to ensure sTLE blowdown analyzer cooling water flow
            to and from cooler is established.</td>
                   <td>
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-inprogress" name="oot_stle_blowdown_analyzer" value="Inprogress" formControlName="oot_stle_blowdown_analyzer"  (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-done" name="oot_stle_blowdown_analyzer" value="Done" formControlName="oot_stle_blowdown_analyzer" (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-skip" name="oot_stle_blowdown_analyzer" value="Skip" formControlName="oot_stle_blowdown_analyzer"  (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_stle_blowdown_analyzer')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_stle_blowdown_analyzer_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_stle_blowdown_analyzer')?.setValue(''); ChecklistE?.get('oot_stle_blowdown_analyzer_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1"(focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_stle_blowdown_analyzer_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_stle_blowdown_analyzer_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour2">
          <td></td>
          <td class="header">*OOT to open desuperheater untreated BFW manual block
            valves (DB&B) if not inprogress before.</td>
          <td>
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-inprogress" name="oot_desuperheater_untreated_bfw" value="Inprogress" formControlName="oot_desuperheater_untreated_bfw"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-done" name="oot_desuperheater_untreated_bfw" value="Done" formControlName="oot_desuperheater_untreated_bfw" (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-skip" name="oot_desuperheater_untreated_bfw" value="Skip" formControlName="oot_desuperheater_untreated_bfw"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-skip"class="action" (click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_desuperheater_untreated_bfw')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_desuperheater_untreated_bfw_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_desuperheater_untreated_bfw')?.setValue(''); ChecklistE?.get('oot_desuperheater_untreated_bfw_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1"(focusin)="patchvalue()"(click)="onSkipButtonClick()" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('oot_desuperheater_untreated_bfw_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('oot_desuperheater_untreated_bfw_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !=='iot' }"class="colour1">
          <td></td>
          <td class="header">*IOT to enable steam drum and sTLE continuous blow downs
            from HMI Station.
            </td>
        
          <td>
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-inprogress" name="iot_to_enable_sd" value="Inprogress" formControlName="iot_to_enable_sd"  (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-done" name="iot_to_enable_sd" value="Done" formControlName="iot_to_enable_sd" (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-skip" name="iot_to_enable_sd" value="Skip" formControlName="iot_to_enable_sd"  (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-skip"class="action" (click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_to_enable_sd')?.value === 'Skip'">
              <textarea id="w3review"  name="w3review" rows="4" cols="40" formControlName="iot_to_enable_sd_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_to_enable_sd')?.setValue(''); ChecklistE?.get('iot_to_enable_sd_comment')?.setValue('')">Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('iot_to_enable_sd_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('iot_to_enable_sd_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        
        <tr class="colour2"  [ngClass]="{ 'disabled-row': disableIO !=='iot' }">
          <td style="text-align: center;">6</td>
          <td class="header">*If steam PSV EVT testing needs to be inprogress, hold COTs at 700°C
            (via COT manual set point) and steam drum pressure at 93
            kg/cm2g using steam vent to atmosphere control valve (flow
            should be around 12 M t/h).
            
            </td>
        
          <td>
            <input type="radio" class="custom-radio" id="psv_evt_start-inprogress" name="psv_evt_start" value="Inprogress" formControlName="psv_evt_start"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_start-done" name="psv_evt_start" value="Done" formControlName="psv_evt_start" (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_start-skip" name="psv_evt_start" value="Skip" formControlName="psv_evt_start"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-skip"class="action" (click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('psv_evt_start')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="psv_evt_start_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('psv_evt_start')?.setValue(''); ChecklistE?.get('psv_evt_start_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('psv_evt_start_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('psv_evt_start_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        <tr class="colour1"   [ngClass]="{ 'disabled-row': disableIO !=='iot' }">
          <td></td>
          <td class="header">*Continue with warm-up when PSV EVT testing is complete
            </td>
          
          <td>
            <input type="radio" class="custom-radio" id="psv_evt_complete-inprogress" name="psv_evt_complete" value="Inprogress" formControlName="psv_evt_complete"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_complete-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_complete-done" name="psv_evt_complete" value="Done" formControlName="psv_evt_complete" (change)="onRadioChangeup()"  />
            <label for="psv_evt_complete-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_complete-skip" name="psv_evt_complete" value="Skip" formControlName="psv_evt_complete"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_complete-skip"class="action" (click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('psv_evt_complete')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="psv_evt_complete_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('psv_evt_complete')?.setValue(''); ChecklistE?.get('psv_evt_complete_comment')?.setValue('')" >Cancel</button>
                <button class="btn btn-primary m-1"(focusin)="patchvalue()" (click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('psv_evt_complete_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('psv_evt_complete_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        
        <tr class="colour2"  [ngClass]="{ 'disabled-row': disableIO !=='iot' }">
          <td style="text-align: center;">7</td>
          <td class="header">OOT&IOT to reconfirm that Decoke Air is blinded (ONIS device).
            </td>
         
          <td>
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-inprogress" name="ootIOT_decoke_air" value="Inprogress" formControlName="ootIOT_decoke_air"  (change)="onRadioChangeup()"/>
            <label for="ootIOT_decoke_air-inprogress"class="action">Inprogress</label>
            
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-done" name="ootIOT_decoke_air" value="Done" formControlName="ootIOT_decoke_air" (change)="onRadioChangeup()"  />
            <label for="ootIOT_decoke_air-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-skip" name="ootIOT_decoke_air" value="Skip" formControlName="ootIOT_decoke_air"  (change)="onRadioChangeup()"/>
            <label for="ootIOT_decoke_air-skip"class="action" (click)="onSkipButtonClick()">Skip</label>
            
            <div *ngIf="ChecklistE?.get('ootIOT_decoke_air')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="ootIOT_decoke_air_comment" ></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('ootIOT_decoke_air')?.setValue(''); ChecklistE?.get('ootIOT_decoke_air_comment')?.setValue('')">Cancel</button>
                <button class="btn btn-primary m-1" (focusin)="patchvalue()" (click)="onSkipButtonClick()"(click)="onRadioChangeup()" >Confirm</button>
              </div>
            </div>
        </td>
        <td style="text-align: center;">
          <div *ngIf="ChecklistE.get('ootIOT_decoke_air_comment_status')?.value; else noStatus">
            {{ ChecklistE.get('ootIOT_decoke_air_comment_status')?.value }}
          </div>
          <ng-template #noStatus>
            <div>{{'-'}}</div>
          </ng-template>
        </td>
        </tr>
        
        <tr class="colour1"  [ngClass]="{ 'disabled-row': disableIO !=='iot' }">
          <td style="text-align: center;">8</td>
          <td class="header">When COT temperature is above 760ºC and if steam flow
            confirmed higher than 10 Mt/h per side, it is possible to move the
            Furnace sequence to Swing MOV step, if ready to do so.        
            </td>
            <td>
              <input type="radio" class="custom-radio" id="furnace_sequence_to_swing_mov-inprogress" name="furnace_sequence_to_swing_mov" value="Inprogress" formControlName="furnace_sequence_to_swing_mov"  (change)="onRadioChangeup()"/>
              <label for="furnace_sequence_to_swing_mov-inprogress"class="action">Inprogress</label>
              
              <input type="radio" class="custom-radio" id="furnace_sequence_to_swing_mov-done" name="furnace_sequence_to_swing_mov" value="Done" formControlName="furnace_sequence_to_swing_mov" (change)="onRadioChangeup()"  />
              <label for="furnace_sequence_to_swing_mov-done"class="action">Done</label>
     
              <input type="radio" class="custom-radio"  id="furnace_sequence_to_swing_mov-skip" name="furnace_sequence_to_swing_mov" value="Skip" formControlName="furnace_sequence_to_swing_mov"  (change)="onRadioChangeup()"/>
              <label for="furnace_sequence_to_swing_mov-skip"class="action"(click)="onSkipButtonClick()">Skip</label>
          
              <div *ngIf="ChecklistE?.get('furnace_sequence_to_swing_mov')?.value === 'Skip'">
                <textarea id="w3review" name="w3review"rows="4" cols="40" formControlName="furnace_sequence_to_swing_mov_comment" ></textarea>
                <div style="margin-left: 31%;">
                  <button class="btn btn-primary m-1" (click)="ChecklistE?.get('furnace_sequence_to_swing_mov')?.setValue(''); ChecklistE?.get('furnace_sequence_to_swing_mov_comment')?.setValue('')">Cancel</button>
                  <button class="btn btn-primary m-1" (focusin)="patchvalue()"(click)="onSkipButtonClick()"(click)="onRadioChangeup()">Confirm</button>
                </div>
              </div>
          </td>
          <td style="text-align: center;">
            <div *ngIf="ChecklistE.get('furnace_sequence_to_swing_mov_comment_status')?.value; else noStatus">
              {{ ChecklistE.get('furnace_sequence_to_swing_mov_comment_status')?.value }}
            </div>
            <ng-template #noStatus>
              <div>{{'-'}}</div>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  
  
  <div *ngIf="remainingValues && remainingValues.shift_comment_e_oot != null">
    <p><strong>Comment : </strong>{{ remainingValues.shift_comment_e_oot }}</p>
  </div>
<div *ngIf="remainingValues && remainingValues.shift_comment_e_iot != null">
  <p><strong>Comment : </strong>{{ remainingValues.shift_comment_e_iot }}</p>

</div>
<!-- <p><strong>2.UserName : </strong>{{ this.currentUser.username === 'Operator1' ? 'Siva' : 'Sakthi' }} <strong>Comment : </strong>{{ remainingValues.shift_comment_e_iot }}</p> -->


<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 2%;">
  
  <div *ngIf="disableIO === 'oot'">
    <div class="row" id="shiftcommentbutton" >
      <div class="col">
        <button mat-raised-button style="background-color: #25345D;color: white;" (click)="toggleEnable()">Finish Shift</button>
        </div>
        <div class="col">
        <button mat-raised-button style="background-color: #25345D;color: white; "  (click)="nxtAccEn()">Next</button>
        </div>
        <div *ngIf="enable"  class="col">
          <button class="btn btn-primary ml-2" style="background-color: #25345D;float: inline-end;width: max-content; " (click)="onRadioChangeup()">Sumbit Comment</button>
          </div>
          <div  *ngIf="enable" class="col">
            <button class="btn btn-primary ml-2" style="background-color: #25345D;float: inline-end; " (click)="toggleEnable();clearTextarea()">Cancel</button>
            </div>
      </div>
    <div *ngIf="enable" style=" margin-top: 2%; ">
      <p id="shiftcommentbutton"><strong>Comment /Observation /Risk</strong></p>
      <textarea id="w3reviews" name="w3reviews" rows="4" cols="60" formControlName="shift_comment_a_oot" ></textarea>


    </div>

  </div>

  <div *ngIf="disableIO === 'iot'">
  <div class="row" id="shiftcommentbutton" >
    <div class="col">
      <button mat-raised-button style="background-color: #25345D; color: white;" (click)="toggleEnable()">Finish Shift</button>
      </div>
      <div class="col">
      <button mat-raised-button style="background-color: #25345D; color: white;" (click)="nxtAccEn()">Next</button>
      </div>
      <div *ngIf="enable" class="col">
        <button class="btn btn-primary" style="background-color: #25345D;float: inline-end; width: max-content;"  (click)="onRadioChangeup()">Submit Comment</button>
        </div>
        <div *ngIf="enable" class="col">
          <button class="btn btn-primary" style="background-color: #25345D;float: inline-end; " (click)="toggleEnable();clearTextarea()">Cancel</button>
          </div>
    </div>
  <div *ngIf="enable" style="margin-top:2%; ">
    <div class="col">
      <p id="shiftcommentbutton"><strong>Comment /Observation /Risk</strong></p>
      <textarea id="w3reviews" name="w3reviews" rows="4" cols="60" formControlName="shift_comment_a_iot" ></textarea>


    </div>
  </div>

</div>

</div>
</form>
</mat-card-content>
</mat-card>
</mat-expansion-panel>
</mat-accordion>
<br>
<app-checklist-f [checklistfformenable]="checklistfformenable" [expand]="open1"[printexpand9]="printexpand8"></app-checklist-f>
