<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="expand" [disabled]="checklisteformenable">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;color:rgb(115, 182, 158)"><strong>10.Procedure Checklist #E - Warm Up COT</strong>  </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

<mat-card class="mat">
  <mat-card-content>
    <!-- <h6 style="margin-left: 35%;"><strong>Procedure Checklist #E—Warm Up COT</strong></h6> -->
    <form  [formGroup]="ChecklistE">
    <table>
      <thead>
        <tr>
          <th class="theader">Step</th>
          <th class="theader">Action (Hazard/Precaution if applicable)</th>
          <th class="theader" style="width: 33%; text-align: center;" >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td style="text-align: center;" >1</td>
          <td class="header">OOT to ensure that all lower level burners are lit before starting light off of upper level burners.</td>
         
          <td>
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-done" name="oot_lower_level_burner" value="Done" formControlName="oot_lower_level_burner"  (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-done" class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-risk" name="oot_lower_level_burner" value="Risk" formControlName="oot_lower_level_burner" (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-risk"  class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_lower_level_burner-skip" name="oot_lower_level_burner" value="Skip" formControlName="oot_lower_level_burner"  (change)="onRadioChange()"/>
            <label for="oot_lower_level_burner-skip"  class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_lower_level_burner')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_lower_level_burner_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_lower_level_burner')?.setValue(''); ChecklistE?.get('oot_lower_level_burner_comment')?.setValue('')">cancel</button>
                <button class="btn btn-primary m-1"(click)="onSubmit()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
       
        <tr  [ngClass]="{ 'disabled-row': disableIO !== 'iot' }" class="colour2">
          <td style="text-align: center;">2</td>
          <td class="header">IOT to continuously monitor the fuel gas pressure and OOT to continue lighting off more burners as required</td>
          
          <td>
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-done" name="iot_monitor_the_fuel_gas" value="Done" formControlName="iot_monitor_the_fuel_gas"  (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-risk" name="iot_monitor_the_fuel_gas" value="Risk" formControlName="iot_monitor_the_fuel_gas" (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="iot_monitor_the_fuel_gas-skip" name="iot_monitor_the_fuel_gas" value="Skip" formControlName="iot_monitor_the_fuel_gas"  (change)="onRadioChangeup()"/>
            <label for="iot_monitor_the_fuel_gas-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_monitor_the_fuel_gas')?.value === 'Skip'">
              <textarea id="w3review"  name="w3review" rows="4" cols="40" formControlName="iot_monitor_the_fuel_gas_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_monitor_the_fuel_gas')?.setValue(''); ChecklistE?.get('iot_monitor_the_fuel_gas_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
       
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td style="text-align: center;">3</td>
          <td class="header">OOT to open desuperheater Untreated BFW manual block valves (DB&B) when the COT is &gt; 450 ºC.</td>

          <td>
            <input type="radio" class="custom-radio" id="oot_desuperheater-done" name="oot_desuperheater" value="Done" formControlName="oot_desuperheater"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater-risk" name="oot_desuperheater" value="Risk" formControlName="oot_desuperheater" (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater-skip" name="oot_desuperheater" value="Skip" formControlName="oot_desuperheater"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_desuperheater')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_desuperheater_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_desuperheater')?.setValue(''); ChecklistE?.get('oot_desuperheater_comment')?.setValue('')">cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
       
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'iot' }" class="colour2">
          <td style="text-align: center;">4</td>
          <td class="header">IOT to confirm that the desuperheater valve does not pass. If it passes, instruct the OOT to close the B/V until desuperheating flow is needed.</td>
         
          <td>
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-done" name="iot_desuperheater_not_pass" value="Done" formControlName="iot_desuperheater_not_pass"  (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-done" class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-risk" name="iot_desuperheater_not_pass" value="Risk" formControlName="iot_desuperheater_not_pass" (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-risk" class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="iot_desuperheater_not_pass-skip" name="iot_desuperheater_not_pass" value="Skip" formControlName="iot_desuperheater_not_pass"  (change)="onRadioChangeup()"/>
            <label for="iot_desuperheater_not_pass-skip" class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_desuperheater_not_pass')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="iot_desuperheater_not_pass_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_desuperheater_not_pass')?.setValue(''); ChecklistE?.get('iot_desuperheater_not_pass_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
         
     
          <tr class="colour1">
          <td style="text-align: center;" >5</td>
          <td class="header" >When steam drum pressure is above 90 kg/cm2g:</td>
          <td></td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }"class="colour1">
          <td ></td>
          <td class="header">*OOT to line up steam drum continuous blowdown valve and block in steam drum intermittent blowdown.</td>
          
          <td>
            <input type="radio" class="custom-radio" id="oot_lineup_sd-done" name="oot_lineup_sd" value="Done" formControlName="oot_lineup_sd"  (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-done" class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_lineup_sd-risk" name="oot_lineup_sd" value="Risk" formControlName="oot_lineup_sd" (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-risk" class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_lineup_sd-skip" name="oot_lineup_sd" value="Skip" formControlName="oot_lineup_sd"  (change)="onRadioChangeup()"/>
            <label for="oot_lineup_sd-skip" class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_lineup_sd')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_lineup_sd_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('oot_lineup_sd')?.setValue(''); ChecklistE?.get('oot_lineup_sd_comment')?.setValue('')">cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour2">
          <td></td>
          <td class="header">*OOT to confirm that the sTLE blowdown to CBD header is lined up.</td>
          
          <td>
            <input type="radio" class="custom-radio" id="oot_cbd-done" name="oot_cbd" value="Done" formControlName="oot_cbd"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd-risk" name="oot_cbd" value="Risk" formControlName="oot_cbd" (change)="onRadioChangeup()"/>
            <label for="oot_cbd-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd-skip" name="oot_cbd" value="Skip" formControlName="oot_cbd"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_cbd')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_cbd_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_cbd')?.setValue(''); ChecklistE?.get('oot_cbd_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }"class="colour1">
          <td></td>
          <td class="header">*OOT to ensure steam drum blowdown analyzer online and confirm cooling water flow to and from cooler.</td>

          <td>
            <input type="radio" class="custom-radio" id="oot_cbd_confirm_cooling_water-done" name="oot_cbd_confirm_cooling_water" value="Done" formControlName="oot_cbd_confirm_cooling_water"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd_confirm_cooling_water-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd_confirm_cooling_water-risk" name="oot_cbd_confirm_cooling_water" value="Risk" formControlName="oot_cbd_confirm_cooling_water" (change)="onRadioChangeup()"/>
            <label for="oot_cbd_confirm_cooling_water-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_cbd_confirm_cooling_water-skip" name="oot_cbd_confirm_cooling_water" value="Skip" formControlName="oot_cbd_confirm_cooling_water"  (change)="onRadioChangeup()"/>
            <label for="oot_cbd_confirm_cooling_water-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_cbd_confirm_cooling_water')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_cbd_confirm_cooling_water_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_cbd_confirm_cooling_water')?.setValue(''); ChecklistE?.get('oot_cbd_confirm_cooling_water_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour2">
          <td></td>
          <td class="header">*OOT to ensure sTLE blowdown analyzer cooling water flow
            to and from cooler is established.</td>
         
          <td>
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-done" name="oot_stle_blowdown_analyzer" value="Done" formControlName="oot_stle_blowdown_analyzer"  (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-risk" name="oot_stle_blowdown_analyzer" value="Risk" formControlName="oot_stle_blowdown_analyzer" (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_stle_blowdown_analyzer-skip" name="oot_stle_blowdown_analyzer" value="Skip" formControlName="oot_stle_blowdown_analyzer"  (change)="onRadioChangeup()"/>
            <label for="oot_stle_blowdown_analyzer-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_stle_blowdown_analyzer')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_stle_blowdown_analyzer_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_stle_blowdown_analyzer')?.setValue(''); ChecklistE?.get('oot_stle_blowdown_analyzer')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1"(click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !== 'oot' }" class="colour1">
          <td></td>
          <td class="header">*OOT to open desuperheater untreated BFW manual block
            valves (DB&B) if not done before.</td>
          <td>
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-done" name="oot_desuperheater_untreated_bfw" value="Done" formControlName="oot_desuperheater_untreated_bfw"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-risk" name="oot_desuperheater_untreated_bfw" value="Risk" formControlName="oot_desuperheater_untreated_bfw" (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="oot_desuperheater_untreated_bfw-skip" name="oot_desuperheater_untreated_bfw" value="Skip" formControlName="oot_desuperheater_untreated_bfw"  (change)="onRadioChangeup()"/>
            <label for="oot_desuperheater_untreated_bfw-skip"class="action" [ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('oot_desuperheater_untreated_bfw')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="oot_desuperheater_untreated_bfw_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('oot_desuperheater_untreated_bfw')?.setValue(''); ChecklistE?.get('oot_desuperheater_untreated_bfw_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr [ngClass]="{ 'disabled-row': disableIO !=='iot' }"class="colour2">
          <td></td>
          <td class="header">*IOT to enable steam drum and sTLE continuous blow downs
            from HMI Station.
            </td>
        
          <td>
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-done" name="iot_to_enable_sd" value="Done" formControlName="iot_to_enable_sd"  (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-risk" name="iot_to_enable_sd" value="Risk" formControlName="iot_to_enable_sd" (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="iot_to_enable_sd-skip" name="iot_to_enable_sd" value="Skip" formControlName="iot_to_enable_sd"  (change)="onRadioChangeup()"/>
            <label for="iot_to_enable_sd-skip"class="action" [ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('iot_to_enable_sd')?.value === 'Skip'">
              <textarea id="w3review"  name="w3review" rows="4" cols="40" formControlName="iot_to_enable_sd_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('iot_to_enable_sd')?.setValue(''); ChecklistE?.get('iot_to_enable_sd_comment')?.setValue('')">cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        
        <tr class="colour1">
          <td style="text-align: center;">6</td>
          <td class="header">If steam PSV EVT testing needs to be done, hold COTs at 700°C
            (via COT manual set point) and steam drum pressure at 93
            kg/cm2g using steam vent to atmosphere control valve (flow
            should be around 12 M t/h).
            
            </td>
        
          <td>
            <input type="radio" class="custom-radio" id="psv_evt_start-done" name="psv_evt_start" value="Done" formControlName="psv_evt_start"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_start-risk" name="psv_evt_start" value="Risk" formControlName="psv_evt_start" (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_start-skip" name="psv_evt_start" value="Skip" formControlName="psv_evt_start"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_start-skip"class="action" [ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('psv_evt_start')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="psv_evt_start_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('psv_evt_start')?.setValue(''); ChecklistE?.get('psv_evt_start_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        <tr class="colour2" >
          <td ></td>
          <td class="header">*Continue with warm-up when PSV EVT testing is complete
            </td>
          
          <td>
            <input type="radio" class="custom-radio" id="psv_evt_complete-done" name="psv_evt_complete" value="Done" formControlName="psv_evt_complete"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_complete-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_complete-risk" name="psv_evt_complete" value="Risk" formControlName="psv_evt_complete" (change)="onRadioChangeup()"  />
            <label for="psv_evt_complete-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="psv_evt_complete-skip" name="psv_evt_complete" value="Skip" formControlName="psv_evt_complete"  (change)="onRadioChangeup()"/>
            <label for="psv_evt_complete-skip"class="action" [ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('psv_evt_complete')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="psv_evt_complete_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1"(click)="ChecklistE?.get('psv_evt_complete')?.setValue(''); ChecklistE?.get('psv_evt_complete_comment')?.setValue('')" >cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        
        <tr class="colour1">
          <td style="text-align: center;">7</td>
          <td class="header">OOT&IOT to reconfirm that Decoke Air is blinded (ONIS device).
            </td>
         
          <td>
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-done" name="ootIOT_decoke_air" value="Done" formControlName="ootIOT_decoke_air"  (change)="onRadioChangeup()"/>
            <label for="ootIOT_decoke_air-done"class="action">Done</label>
            
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-risk" name="ootIOT_decoke_air" value="Risk" formControlName="ootIOT_decoke_air" (change)="onRadioChangeup()"  />
            <label for="ootIOT_decoke_air-risk"class="action">Risk</label>
            
            <input type="radio" class="custom-radio" id="ootIOT_decoke_air-skip" name="ootIOT_decoke_air" value="Skip" formControlName="ootIOT_decoke_air"  (change)="onRadioChangeup()"/>
            <label for="ootIOT_decoke_air-skip"class="action" [ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
            
            <div *ngIf="ChecklistE?.get('ootIOT_decoke_air')?.value === 'Skip'">
              <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="ootIOT_decoke_air_comment"></textarea>
              <div style="margin-left: 31%;">
                <button class="btn btn-primary m-1" (click)="ChecklistE?.get('ootIOT_decoke_air')?.setValue(''); ChecklistE?.get('ootIOT_decoke_air_comment')?.setValue('')">cancel</button>
                <button class="btn btn-primary m-1" (click)="onRadioChangeup()" >Confirm</button>
              </div>
            </div>
        </td>
        </tr>
        
        <tr class="colour2" >
          <td style="text-align: center;">8</td>
          <td class="header">When COT temperature is above 760ºC and if steam flow
            confirmed higher than 10 Mt/h per side, it is possible to move the
            Furnace sequence to Swing MOV step, if ready to do so.        
            </td>
            <td>
              <input type="radio" class="custom-radio" id="furnace_sequence_to_swing_mov-done" name="furnace_sequence_to_swing_mov" value="Done" formControlName="furnace_sequence_to_swing_mov"  (change)="onRadioChangeup()"/>
              <label for="furnace_sequence_to_swing_mov-done"class="action">Done</label>
              
              <input type="radio" class="custom-radio" id="furnace_sequence_to_swing_mov-risk" name="furnace_sequence_to_swing_mov" value="Risk" formControlName="furnace_sequence_to_swing_mov" (change)="onRadioChangeup()"  />
              <label for="furnace_sequence_to_swing_mov-risk"class="action">Risk</label>
     
              <input type="radio" class="custom-radio"  id="furnace_sequence_to_swing_mov-skip" name="furnace_sequence_to_swing_mov" value="Skip" formControlName="furnace_sequence_to_swing_mov"  (change)="onRadioChangeup()"/>
              <label for="furnace_sequence_to_swing_mov-skip"class="action"[ngStyle]="{ 'background-color': aceptreject === 'Accept' ? 'green' : (aceptreject === 'null' ? '' : 'red') }">Skip</label>
          
              <div *ngIf="ChecklistE?.get('furnace_sequence_to_swing_mov')?.value === 'Skip'">
                <textarea id="w3review" name="w3review"rows="4" cols="40" formControlName="furnace_sequence_to_swing_mov_comment"></textarea>
                <div style="margin-left: 31%;">
                  <button class="btn btn-primary m-1" (click)="ChecklistE?.get('furnace_sequence_to_swing_mov')?.setValue(''); ChecklistE?.get('furnace_sequence_to_swing_mov_comment')?.setValue('')">cancel</button>
                  <button class="btn btn-primary m-1" (click)="onRadioChangeup()">Confirm</button>
                </div>
              </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </form>
  
  <div *ngIf="remainingValues && remainingValues.shift_comment_e_oot != null">
    <p><strong>Comment : </strong>{{ remainingValues.shift_comment_e_oot }}</p>
  </div>
<div *ngIf="remainingValues && remainingValues.shift_comment_e_iot != null">
  <p><strong>Comment : </strong>{{ remainingValues.shift_comment_e_iot }}</p>

</div>
<!-- <p><strong>2.UserName : </strong>{{ this.currentUser.username === 'Operator1' ? 'Siva' : 'Sakthi' }} <strong>Comment : </strong>{{ remainingValues.shift_comment_e_iot }}</p> -->


<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 2%;">
  
  <div *ngIf="disableIO ==='oot'">
    <div class="row" style="margin-left: 500px;">
      <div class="col">
        <button mat-raised-button style="background-color: #147737;color: white;" (click)="toggleEnable()">Finish Shift</button>
        </div>
        <div class="col">
          <button mat-raised-button style="background-color: #147737;color: white; " (click)="nxtAccEn()">Next</button>
          </div>
      </div>
    <div *ngIf="enable" [formGroup]="ChecklistE">
      
      <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="shift_comment_e_oot"></textarea>
      <button class="btn btn-primary ml-2" style="background-color: #147737;margin-bottom: 4%;" (click)="onRadioChangeup()">Add Comment</button>
    </div>
   
  </div>

<div *ngIf="disableIO ==='iot'">
  <div class="row" style="margin-left: 500px;">
  <div class="col">
    <button mat-raised-button style="background-color: #147737;color: white" (click)="toggleEnable()">Finish Shift</button>
    </div>
    <div class="col">
      <button mat-raised-button style="background-color: #147737;color: white " (click)="nxtAccEn()">Next</button>
      </div>
  </div>
  
  <div *ngIf="enable" class="m-2" [formGroup]="ChecklistE">
   
    <div>
      <textarea id="w3review" name="w3review" rows="4" cols="40" formControlName="shift_comment_e_iot"></textarea>
      <button class="btn btn-primary ml-2"  style="background-color: #147737;margin-bottom: 4%;"  (click)="onRadioChangeup()">Add Comment</button>
    </div>
  </div>
  
</div>

</div>

</mat-card-content>
</mat-card>
</mat-expansion-panel>
</mat-accordion>
<br>
<app-checklist-f [checklistfformenable]="checklistfformenable" [expand]="open1"></app-checklist-f>
