<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-primary createbutton" (click)="openDialog()">Create Procedure Initialization</button>
  <!-- <h3 class="card-title">DataTable with default features</h3> -->
  </div>
  
  <div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>S.No</th>
    <th>Furnace Id</th>
    <th>Job Start Date</th>
    <th>Job End Date</th>
    <th>OOT Operator</th>
    <th>IOT Operator</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>1</td>
  <td>F1
  </td>
  <td>2024-04-02</td>
  <td>2024-04-03</td>
  <td>Operator1</td>
  <td>Operator2</td>
  <td>Completed</td>
  </tr>
  <tr>
    <td>2</td>
    <td>F2
    </td>
    <td>2024-04-02</td>
    <td>2024-04-03</td>
    <td>Operator1</td>
    <td>Operator2</td>
    <td>Completed</td>
    </tr>
    <tr>
      <td>3</td>
      <td>F3
      </td>
      <td>2024-04-02</td>
      <td>2024-04-03</td>
      <td>Operator1</td>
      <td>Operator2</td>
      <td>Completed</td>
      </tr>
      <tr>
        <td>4</td>
        <td>F4
        </td>
        <td>2024-04-02</td>
        <td>2024-04-03</td>
        <td>Operator1</td>
        <td>Operator2</td>
        <td>Completed</td>
        </tr>
        <tr>
          <td>5</td>
          <td>F5
          </td>
          <td>2024-04-02</td>
          <td>2024-04-03</td>
          <td>Operator1</td>
          <td>Operator2</td>
          <td>Completed</td>
          </tr>
          <tr>
            <td>6</td>
            <td>F6
            </td>
            <td>2024-04-02</td>
            <td>2024-04-03</td>
            <td>Operator1</td>
            <td>Operator2</td>
            <td>Completed</td>
            </tr>
            <tr>
              <td>7</td>
              <td>F7
              </td>
              <td>2024-04-02</td>
              <td>2024-04-03</td>
              <td>Operator1</td>
              <td>Operator2</td>
              <td>Completed</td>
              </tr>
              <tr>
                <td>8</td>
                <td>F8
                </td>
                <td>2024-04-02</td>
                <td>2024-04-03</td>
                <td>Operator1</td>
                <td>Operator2</td>
                <td>Completed</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>F8
                  </td>
                  <td>2024-04-02</td>
                  <td>2024-04-03</td>
                  <td>Operator1</td>
                  <td>Operator2</td>
                  <td>Completed</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>F10
                    </td>
                    <td>2024-04-02</td>
                    <td>2024-04-03</td>
                    <td>Operator1</td>
                    <td>Operator2</td>
                    <td>Completed</td>
                    </tr>
    

  
  
  </table>
  </div>
  
  <aside class="control-sidebar control-sidebar-dark">
  
  </aside>

  </div>