<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="searchbar">
        <label>Search:
          <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" (input)="filterTable($event)">
        </label>
      </div>
      <div class="collectivebuttons">
        <div class="dt-buttons btn-group flex-wrap">
          <button class="btn btn-secondary copy" tabindex="0" aria-controls="example1" type="button" (click)="copyToClipboard()">
            <span>Copy</span>
          </button>
          <button class="btn btn-secondary csv" tabindex="0" aria-controls="example1" type="button" (click)="downloadCSV()">
            <span>CSV</span>
          </button>
          <button class="btn btn-secondary excel" tabindex="0" aria-controls="example1" type="button">
            <span>Excel</span>
          </button>
          <button class="btn btn-secondary pdf" tabindex="0" aria-controls="example1" type="button">
            <span>PDF</span>
          </button>
          <button class="btn btn-secondary print" tabindex="0" aria-controls="example1" type="button">
            <span>Print</span>
          </button>
          <div class="btn-group">
            <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" aria-haspopup="true" aria-expanded="false">
              <span>Column visibility</span><span class="dt-down-arrow"></span>
            </button>
          </div>
        </div>
      </div>
      
    <button type="button" class="btn btn-primary createbutton" (click)="openDialog()">Create Procedure Initialization</button>
  <!-- <h3 class="card-title">DataTable with default features</h3> -->
  </div>
  
  <div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr>
<th (click)="sortData('index')">S.No <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'index'}"></i></th>
<th (click)="sortData('Furnace_Id')">Furnace Id <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'Furnace_Id'}"></i></th>
<th (click)="sortData('job_start_date')">Job Start Date <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'job_start_date'}"></i></th>
<th (click)="sortData('job_end_date')">Job End Date <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'job_end_date'}"></i></th>
<th (click)="sortData('oot_operator')">OOT Operator <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'oot_operator'}"></i></th>
<th (click)="sortData('iot_operator')">IOT Operator <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'iot_operator'}"></i></th>
<th (click)="sortData('status')">Status <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'status'}"></i></th>

  </tr>
  </thead>
  <tbody>
  <tr>
  <td>1</td>
  <td>F1
  </td>
  <td>2024-04-02</td>
  <td>2024-04-03</td>
  <td>Operator1</td>
  <td>Operator2</td>
  <td>Completed</td>
  </tr>
  <tr>
    <td>2</td>
    <td>F2
    </td>
    <td>2024-04-02</td>
    <td>2024-04-03</td>
    <td>Operator1</td>
    <td>Operator2</td>
    <td>Completed</td>
    </tr>
    <tr>
      <td>3</td>
      <td>F3
      </td>
      <td>2024-04-02</td>
      <td>2024-04-03</td>
      <td>Operator1</td>
      <td>Operator2</td>
      <td>Completed</td>
      </tr>
      <tr>
        <td>4</td>
        <td>F4
        </td>
        <td>2024-04-02</td>
        <td>2024-04-03</td>
        <td>Operator1</td>
        <td>Operator2</td>
        <td>Completed</td>
        </tr>
        <tr>
          <td>5</td>
          <td>F5
          </td>
          <td>2024-04-02</td>
          <td>2024-04-03</td>
          <td>Operator1</td>
          <td>Operator2</td>
          <td>Completed</td>
          </tr>
          <tr>
            <td>6</td>
            <td>F6
            </td>
            <td>2024-04-02</td>
            <td>2024-04-03</td>
            <td>Operator1</td>
            <td>Operator2</td>
            <td>Completed</td>
            </tr>
            <tr>
              <td>7</td>
              <td>F7
              </td>
              <td>2024-04-02</td>
              <td>2024-04-03</td>
              <td>Operator1</td>
              <td>Operator2</td>
              <td>Completed</td>
              </tr>
              <tr>
                <td>8</td>
                <td>F8
                </td>
                <td>2024-04-02</td>
                <td>2024-04-03</td>
                <td>Operator1</td>
                <td>Operator2</td>
                <td>Completed</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>F8
                  </td>
                  <td>2024-04-02</td>
                  <td>2024-04-03</td>
                  <td>Operator1</td>
                  <td>Operator2</td>
                  <td>Completed</td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>F10
                    </td>
                    <td>2024-04-02</td>
                    <td>2024-04-03</td>
                    <td>Operator1</td>
                    <td>Operator2</td>
                    <td>Completed</td>
                    </tr>
    

  
  
  </table>
  </div>
  
  <aside class="control-sidebar control-sidebar-dark">
  
  </aside>

  </div>