.mat {
 border-width: thin;
 border-color: black;
 border-style: solid; /* Setting border style to solid */
  margin: 5%;
  margin-left: 20%;
  width: 45%;
background-color: #147737;
color: white;
  
}
.align{
  
  margin-top: 1.5%;
}
.datealign{
  margin-top: 3%;
  margin-left: 15%;
}