<h1>DashBoard</h1>
<mat-card class="mat" (click)="viewselected()">
  <mat-card-content>
<div class="row headercolor">
<h3 style="margin: 1%;">Furnace Startup</h3>
<h6 class="align">HV-2210-86</h6>
</div>
<hr>
<div class="tdcolour">
    <div class="row">
<div class="col">
<h4 style="margin-left: 3%;">Categroy</h4>
</div>
<div class="col">
<h4 style="text-align: center;">Attiributes</h4>
</div>
</div>
<div class="row">
  <div class="col">
<p style="margin-left: 6%;">Critical</p>
  </div>
  <div class="col">
  <p style="text-align: center;">Routine</p>
  </div>
  </div>
</div>
 
  </mat-card-content>
</mat-card>
