.mat {
 border-width: thin;
 border-color: black;
 border-style: solid; /* Setting border style to solid */
  margin: 5%;
  width: 45%;
background-color: #59D5E0;
  
}
.mat:hover {
  box-shadow: 
  -10px -10px 20px rgba(5, 211, 226, 0.1), /* Top Left */
  10px -10px 20px rgba(5, 211, 226, 0.1),  /* Top Right */
  -10px 10px 20px rgba(5, 211, 226, 0.1),  /* Bottom Left */
  10px 10px 20px rgba(5, 211, 226, 0.1);   /* Bottom Right */

}
.align{
  margin-left: 35%;
  padding: 2%;
}
