<h1>DashBoard</h1>
<mat-card class="mat" (click)="viewselected()">
  <mat-card-content>
<div class="row headercolor">
<h3 style="margin: 1%;">Furnace Startup</h3>
<h3 class="align">(HV-2210-86)</h3>
<h6 class="datealign"> DATE : {{formattedDate}}</h6>
</div>
<hr>
<div class="tdcolour">
    <div class="row">
<div class="col">
<h4 style="margin-left: 7%;">Categroy</h4>
</div>
<div class="col">
<h4 style="text-align: center;margin-left: 7%;">Attiributes</h4>
</div>
</div>
<div class="row">
  <div class="col">
<p style="margin-left: 12%;">Critical</p>
  </div>
  <div class="col">
  <p style="text-align: center;margin-left: 7%">Routine</p>
  </div>
  </div>
  <h4 style="margin-left: 40%;">SHIFTH-1</h4>
  <div class="row">
    <div class="col">
      <p style="margin-left: 6%;">User : Operator1</p>
      <p style="margin-left: 6%;">Position : IOT</p>
        </div>
        <div class="col">
          <p style="margin-left: 7%;text-align: center;">User : Operator2</p>
        <p style="margin-left: 6%;text-align: center;">Position : OOT</p>
        </div>
  </div>
  <h4 style="margin-left: 40%;">SHIFTH-2</h4>
  <div class="row">
    <div class="col">
      <p style="margin-left: 6%;">User : Operator3</p>
      <p style="margin-left: 6%;">Position : IOT</p>
        </div>
        <div class="col">
          <p style="margin-left: 7%;text-align: center;">User : Operator4</p>
        <p style="margin-left: 6%;text-align: center;">Position : OOT</p>
        </div>
  </div>
</div>
 
  </mat-card-content>
</mat-card>
