<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="false"  [disabled]="false">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;">1.Procedure Checklist-A</h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
<mat-card >
  <mat-card-content>
    <h6 style="margin-left: 30%;"><strong>PROCEDURE CHECKLIST #A ESTABLISH STEAM DRUM LEVEL</strong></h6>
    <form  [formGroup]="ChecklistA">
    <table>
      <thead>
        <tr>
          <th class="theader">Step</th>
          <th class="theader"style="margin-left:30%;" >Action (Hazard/Precaution if applicable)</th>
          <th class="theader">Yes/No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:center">1</td>
          <td class="header">OOT to ensure treated high pressure BFW (140 kg/cm2g HBF) is available.</td>
          <td>
            <input type="radio" class="radio" id="pressure_BFW-yes" formControlName="pressure_BFW" value="Yes" (focusout)="onSubmit()"/>
         
            <input type="radio" class="radio" id="pressure_BFW-no" formControlName="pressure_BFW" value="No"  (focusout)="onSubmit()"/>
          </td>
        </tr>
       
        <tr>
          <td style="text-align:center">2</td>
          <td class="header">OOT to ensure the following furnace BFW/steam side valves, drains and vents are closed.</td>
        </tr>
        <tr>
          <td class="header"></td>
          <td class="header">*HBF inlet DB 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="hbf_inlet-yes" formControlName="hbf_inlet" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="hbf_inlet-no" formControlName="hbf_inlet" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td class="header"></td>
          <td class="header">*FV-22X6-08 downstream 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="fv_downstream-yes" formControlName="fv_downstream" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="fv_downstream-no" formControlName="fv_downstream" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*FV-22X6-08 bypass 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="fv_bypass-yes" formControlName="fv_bypass" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="fv_bypass-no" formControlName="fv_bypass" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*ECO inlet 1 vents.</td>
          <td>
            <input type="radio" class="radio"  id="eco_inlet-yes" formControlName="eco_inlet" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="eco_inlet-no" formControlName="eco_inlet" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*ECO outlet 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="eco_outlet-yes" formControlName="eco_outlet" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="eco_outlet-no" formControlName="eco_outlet" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Steam Drum Inlet Check Valve 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="inlet_check_valve-yes" formControlName="inlet_check_valve" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="inlet_check_valve-no" formControlName="inlet_check_valve" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Untreated HBF Inlet DB 1 drains.</td>
          <td>
            <input type="radio" class="radio"  id="inlet_DB-yes" formControlName="inlet_DB" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="inlet_DB-no" formControlName="inlet_DB" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Untreated HBF Inlet Check Valve 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="inlet_check-yes" formControlName="inlet_check" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="inlet_check-no" formControlName="inlet_check" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*HPSSH-2 Outlet 1-1/2" drains.</td>
          <td>
            <input type="radio" class="radio"  id="hpssh-yes" formControlName="hpssh" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="hpssh-no" formControlName="hpssh" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*HXS line upstream NRV (non-return valve).</td>
          <td>
            <input type="radio" class="radio"  id="hxs_upstream-yes" formControlName="hxs_upstream" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="hxs_upstream-no" formControlName="hxs_upstream" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Vent Silencer PV-22X0-43 upstream 1 drains.</td>
          <td>
            <input type="radio" class="radio"  id="vent_upstream-yes" formControlName="vent_upstream" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="vent_upstream-no" formControlName="vent_upstream" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Vent Silencer PV-22X0-43 downstream 1" drain.</td>
          <td>
            <input type="radio" class="radio"  id="vent_downstream-yes" formControlName="vent_downstream" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="vent_downstream-no" formControlName="vent_downstream" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*HXS outlet DB 1" drains..</td>
          <td>
            <input type="radio" class="radio"  id="hxs_outlet-yes" formControlName="hxs_outlet" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="hxs_outlet-no" formControlName="hxs_outlet" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Steam Drum Level Transmitters (#3) 1" drains and vents.</td>
          <td>
            <input type="radio" class="radio"  id="transmitters-yes" formControlName="transmitters" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="transmitters-no" formControlName="transmitters" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*2" Steam Drum Intermittent Blow down (#2).</td>
          <td>
            <input type="radio" class="radio"  id="intermittent-yes" formControlName="intermittent" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="intermittent-no" formControlName="intermittent" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Steam Drum Continuous BD Header DB 1" drains</td>
          <td>
            <input type="radio" class="radio"  id="bd_header-yes" formControlName="bd_header" value="Yes" (focusout)="onSubmit()" />
              <input type="radio" class="radio"  id="bd_header-no" formControlName="bd_header" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Secondary TLE Continuous BD Header DB 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="secondary_tle-yes" formControlName="secondary_tle" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="secondary_tle-no" formControlName="secondary_tle" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Intermittent BD Header B/V 1" drains.</td>
          <td>
            <input type="radio" class="radio"  id="intermittent_db-yes" formControlName="intermittent_db" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="intermittent_db-no" formControlName="intermittent_db" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Primary TLEs 2" blow downs (#12).</td>
          <td>
            <input type="radio" class="radio"  id="primary_tles-yes" formControlName="primary_tles" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="primary_tles-no" formControlName="primary_tles" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Secondary TLE 1 blow downs (#2)</td>
          <td>
            <input type="radio" class="radio"  id="secondary_blow-yes" formControlName="secondary_blow" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="secondary_blow-no" formControlName="secondary_blow" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr> <tr>
          <td class="header"></td>
          <td class="header">*Primary TLEs Common Header 1" bleeds.</td>
          <td>
            <input type="radio" class="radio"  id="primary_common-yes" formControlName="primary_common" value="Yes" (focusout)="onSubmit()" />
            <input type="radio" class="radio"  id="primary_common-no" formControlName="primary_common" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
       
        <tr>
          <td style="text-align:center">3</td>
          <td class="header">IOT to ensure that Decoke MOV is open, CG MOVs are closed and the local MOV switches are in "REMOTE" position.</td>
          <td>
            <input type="radio" class="radio"  id="decoke_MOV-yes" formControlName="decoke_MOV" value="Yes" (focusout)="onSubmit()" />
           
              <input type="radio" class="radio"  id="decoke_MOV-no" formControlName="decoke_MOV" value="No" (focusout)="onSubmit()" />
            
          </td>
        </tr>
       
        <tr>
          <td style="text-align:center">4</td>
          <td class="header">IOT to ensure Furnace control sequence is in Process Wait step.</td>
          <td>
            <input type="radio" class="radio"  id="furnace_control-yes" formControlName="furnace_control" value="Yes" (focusout)="onSubmit()" />
           
            <input type="radio" class="radio"  id="furnace_control-no" formControlName="furnace_control" value="No" (focusout)="onSubmit()"/>
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">5</td>
          <td class="header">IOT to move BM sequence to Process Wait step.</td>
          <td>
            <input type="radio"class="radio"  id="bm_sequence-yes" formControlName="bm_sequence" value="Yes" (focusout)="onSubmit()"/>
           
              <input type="radio" class="radio"  id="bm_sequence-no" formControlName="bm_sequence" value="No" (focusout)="onSubmit()"/>
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">6</td>
          <td class="header">IOT to go to each individual auto burner and move its sequence to Process Wait.</td>
          <td>
            <input type="radio" class="radio"  id="auto_burner-yes" formControlName="auto_burner" value="Yes" (focusout)="onSubmit()" />
           
              <input type="radio" class="radio"  id="auto_burner-no" formControlName="auto_burner" value="No" (focusout)="onSubmit()"/>
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">7</td>
          <td class="header">OOT to double check that feed and fuel gas are isolated.</td>
          <td>
            <input type="radio" class="radio"  id="gas_isolated-yes" formControlName="gas_isolated" value="Yes"(focusout)="onSubmit()" />
            
              <input type="radio"  class="radio" id="gas_isolated-no" formControlName="gas_isolated" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">8</td>
          <td class="header">IOT to move BM control sequence to Stand By step.</td>
          <td>
            <input type="radio" class="radio"  id="bm_Control-yes" formControlName="bm_Control" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="bm_Control-no" formControlName="bm_Control" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">9</td>
          <td class="header">Once BMS is moved to Standby, IOT can manually move Furnace control sequence step from process wait to purge light off.</td>
          <td>
            <input type="radio" class="radio"  id="bms_Moved-yes" formControlName="bms_Moved" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="bms_Moved-no" formControlName="bms_Moved" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">10</td>
          <td class="header">OOT to ensure steam drum BFW inlet B/V at the inlet of steam drum is open and car sealed (on top deck).</td>
          <td>
            <input type="radio" class="radio"  id="drum_BFW-yes" formControlName="drum_BFW" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="drum_BFW-no" formControlName="drum_BFW" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">11</td>
          <td class="header">OOT to ensure furnace battery limit HBF inlet 4" second B/V is closed.<br>Note: First B/V should not be operated (it should be always open).<br>Note: The first block valve bypass valves to be used for initial pressurization of the downstream system.</td>
          <td>
            <input type="radio" class="radio"  id="furnace_battery-yes" formControlName="furnace_battery" value="Yes"(focusout)="onSubmit()" />
            
              <input type="radio"  class="radio" id="furnace_battery-no" formControlName="furnace_battery" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">12</td>
          <td class="header">OOT to ensure HBF control valve (FV-22X6-08) upstream and downstream B/Vs are open.<br>Note: This step is applicable only for furnace-2280, and for the other fumaces should be closed.</td>
          <td>
            <input type="radio" class="radio"  id="up_down-yes" formControlName="up_down" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="up_down-no" formControlName="up_down" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">13</td>
          <td class="header">OOT to ensure HBF control valve (FV-22X6-08) bypass 2 B/V and globe valve are closed.</td>
          <td>
            <input type="radio" class="radio"  id="globe_valve-yes" formControlName="globe_valve" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="globe_valve-no" formControlName="globe_valve" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">14</td>
          <td class="header">Keep the steam drum 3" startup vent valves open.</td>
          <td>
            <input type="radio" class="radio"  id="steam_drum-yes" formControlName="steam_drum" value="Yes"(focusout)="onSubmit()" />
            
              <input type="radio"  class="radio" id="steam_drum-no" formControlName="steam_drum" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">15</td>
          <td class="header">OOT to open both HXS vent valve PV-22X0-43 4" upstream block valves.</td>
          <td>
            <input type="radio" class="radio"  id="hxs_vent-yes" formControlName="hxs_vent" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="hxs_vent-no" formControlName="hxs_vent" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        <tr>
          <td style="text-align:center">16</td>
          <td class="header">IOT to ensure PV-22X0-43 is in "auto" control at the default flow set point of 10 Mt/h and default pressure set point of 112 kg/cm2g.<br>Note: this will ensure that the HPSSHs will have the minimum steam flow.</td>
          <td>
            <input type="radio" class="radio"  id="pv_22X043-yes" formControlName="pv_22X043" value="Yes"(focusout)="onSubmit()" />
            
            <input type="radio"  class="radio" id="pv_22X043-no" formControlName="pv_22X043" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
       

        <tr>
          <td style="text-align:center" >17</td>
          <td class="header">Initially use the bypass valves across first block valve to pressurize the downstream header and then open the main block valve. Then close the bypass valves across the first block valve. Start taking BFW to steam drum through FV-22X6-08 2" bypass line, keeping first bypass open and throttling 2nd bypass valve.<br>Note: For F-2280 keep the side entry 4" header valve (manifold from battery limit) and bypass valve closed.</td>
          <td>
            <input type="radio" class="radio"  id="bypass_valves-yes" formControlName="bypass_valves" value="Yes"(focusout)="onSubmit()" />
            
              <input type="radio"  class="radio" id="bypass_valves-no" formControlName="bypass_valves" value="No" (focusout)="onSubmit()" />
           
          </td>
        </tr>
        
        
        
      </tbody>
    </table>
    <button mat-raised-button style="margin-left: 95%; margin-top: 2%; background-color: #97ca94;" [disabled]="!ChecklistA.valid" >Next</button>
  </form>
  </mat-card-content>
</mat-card>
</mat-expansion-panel>
</mat-accordion>
<br>
<app-checklist-e></app-checklist-e>