<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="false" [disabled]="false">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;">6.Procedure Checklist-A</h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <h6 style="margin-left: 30%;"><strong>PROCEDURE CHECKLIST #A ESTABLISH STEAM DRUM LEVEL</strong></h6>
        <form [formGroup]="ChecklistA">
          <table>
            <thead>
              <tr>
                <th class="theader">Step</th>
                <th class="theader" style="margin-left:30%;">Action (Hazard/Precaution if applicable)</th>
                <th class="theader">Yes/No</th>
              </tr>
            </thead>
            <tbody>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">1</td>
                <td class="header">OOT to ensure treated high pressure BFW (140 kg/cm2g HBF) is available.</td>
                <td>
                  <input type="radio" class="radio" id="oot_high_pressure-yes" formControlName="oot_high_pressure" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_high_pressure-no" formControlName="oot_high_pressure" value="No"
                    (focusout)="onSubmit()" />
                </td>
              </tr>

              <tr [class.disabled]="disableiot">
                <td style="text-align:center">2</td>
                <td class="header">OOT to ensure the following furnace BFW/steam side valves, drains and vents are
                  closed.</td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*HBF inlet DB 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_hbf_inlet-yes" formControlName="oot_hbf_inlet" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_hbf_inlet-no" formControlName="oot_hbf_inlet" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*FV-22X6-08 downstream 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_downstream_1_drains-yes" formControlName="oot_downstream_1_drains" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_downstream_1_drains-no" formControlName="oot_downstream_1_drains" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*FV-22X6-08 bypass 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_bypass-yes" formControlName="oot_bypass" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_bypass-no" formControlName="oot_bypass" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*ECO inlet 1 vents.</td>
                <td>
                  <input type="radio" class="radio" id="oot_inlet_vents-yes" formControlName="oot_inlet_vents" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_inlet_vents-no" formControlName="oot_inlet_vents" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*ECO outlet 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_outlet_drains-yes" formControlName="oot_outlet_drains" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_outlet_drains-no" formControlName="oot_outlet_drains" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Steam Drum Inlet Check Valve 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_stream_drum_inlet_check-yes" formControlName="oot_stream_drum_inlet_check"
                    value="Yes" (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_stream_drum_inlet_check-no" formControlName="oot_stream_drum_inlet_check"
                    value="No" (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Untreated HBF Inlet DB 1 drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_untreated_inlet_db_1-yes" formControlName="oot_untreated_inlet_db_1" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_untreated_inlet_db_1-no" formControlName="oot_untreated_inlet_db_1" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Untreated HBF Inlet Check Valve 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_untreated_hbf_inlet_check-yes" formControlName="oot_untreated_hbf_inlet_check" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_untreated_hbf_inlet_check-no" formControlName="oot_untreated_hbf_inlet_check" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*HPSSH-2 Outlet 1-1/2" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_hpssh_2_Outlet-yes" formControlName="oot_hpssh_2_Outlet" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_hpssh_2_Outlet-no" formControlName="oot_hpssh_2_Outlet" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*HXS line upstream NRV (non-return valve).</td>
                <td>
                  <input type="radio" class="radio" id="oot_hxs_upstream_nrv-yes" formControlName="oot_hxs_upstream_nrv" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_hxs_upstream_nrv-no" formControlName="oot_hxs_upstream_nrv" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Vent Silencer PV-22X0-43 upstream 1 drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_vent_silencer_upstream-yes" formControlName="oot_vent_silencer_upstream" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_vent_silencer_upstream-no" formControlName="oot_vent_silencer_upstream" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Vent Silencer PV-22X0-43 downstream 1" drain.</td>
                <td>
                  <input type="radio" class="radio" id="oot_vent_silencer_downstream-yes" formControlName="oot_vent_silencer_downstream"
                    value="Yes" (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_vent_silencer_downstream-no" formControlName="oot_vent_silencer_downstream" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*HXS outlet DB 1" drains..</td>
                <td>
                  <input type="radio" class="radio" id="oot_hxs_outlet-yes" formControlName="oot_hxs_outlet" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_hxs_outlet-no" formControlName="oot_hxs_outlet" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Steam Drum Level Transmitters (#3) 1" drains and vents.</td>
                <td>
                  <input type="radio" class="radio" id="oot_sdl_transmitters-yes" formControlName="oot_sdl_transmitters" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_sdl_transmitters-no" formControlName="oot_sdl_transmitters" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*2" Steam Drum Intermittent Blow down (#2).</td>
                <td>
                  <input type="radio" class="radio" id="oot_sdi_blow_down-yes" formControlName="oot_sdi_blow_down" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_sdi_blow_down-no" formControlName="oot_sdi_blow_down" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Steam Drum Continuous BD Header DB 1" drains</td>
                <td>
                  <input type="radio" class="radio" id="oot_bd_header-yes" formControlName="oot_bd_header" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_bd_header-no" formControlName="oot_bd_header" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Secondary TLE Continuous BD Header DB 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_secondary_tle-yes" formControlName="oot_secondary_tle" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_secondary_tle-no" formControlName="oot_secondary_tle" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Intermittent BD Header B/V 1" drains.</td>
                <td>
                  <input type="radio" class="radio" id="oot_intermittent_bd_header-yes" formControlName="oot_intermittent_bd_header"
                    value="Yes" (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_intermittent_bd_header-no" formControlName="oot_intermittent_bd_header" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Primary TLEs 2" blow downs (#12).</td>
                <td>
                  <input type="radio" class="radio" id="oot_primary_tles_2-yes" formControlName="oot_primary_tles_2" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_primary_tles_2-no" formControlName="oot_primary_tles_2" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Secondary TLE 1 blow downs (#2)</td>
                <td>
                  <input type="radio" class="radio" id="oot_secondary_tle_1-yes" formControlName="oot_secondary_tle_1" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_secondary_tle_1-no" formControlName="oot_secondary_tle_1" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td class="header"></td>
                <td class="header">*Primary TLEs Common Header 1" bleeds.</td>
                <td>
                  <input type="radio" class="radio" id="oot_primary_tles_commom_header-yes" formControlName="oot_primary_tles_commom_header" value="Yes"
                    (focusout)="onSubmit()" />
                  <input type="radio" class="radio" id="oot_primary_tles_commom_header-no" formControlName="oot_primary_tles_commom_header" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>

              <tr [class.disabled]="disableoot">
                <td style="text-align:center">3</td>
                <td class="header">IOT to ensure that Decoke MOV is open, CG MOVs are closed and the local MOV switches
                  are in "REMOTE" position.</td>
                <td>
                  <input type="radio" class="radio" id="iot_decoke_mov-yes" formControlName="iot_decoke_mov" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_decoke_mov-no" formControlName="iot_decoke_mov" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>

              <tr [class.disabled]="disableoot">
                <td style="text-align:center">4</td>
                <td class="header">IOT to ensure Furnace control sequence is in Process Wait step.</td>
                <td>
                  <input type="radio" class="radio" id="iot_furnace_control_sequence-yes" formControlName="iot_furnace_control_sequence" value="Yes" (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_furnace_control_sequence-no" formControlName="iot_furnace_control_sequence" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">5</td>
                <td class="header">IOT to move BM sequence to Process Wait step.</td>
                <td>
                  <input type="radio" class="radio" id="iot_bm_sequence-yes" formControlName="iot_bm_sequence" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_bm_sequence-no" formControlName="iot_bm_sequence" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">6</td>
                <td class="header">IOT to go to each individual auto burner and move its sequence to Process Wait.</td>
                <td>
                  <input type="radio" class="radio" id="iot_individual_auto_burner-yes" formControlName="iot_individual_auto_burner" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_individual_auto_burner-no" formControlName="iot_individual_auto_burner" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">7</td>
                <td class="header">OOT to double check that feed and fuel gas are isolated.</td>
                <td>
                  <input type="radio" class="radio" id="oot_feed_and_fuel_gas-yes" formControlName="oot_feed_and_fuel_gas" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_feed_and_fuel_gas-no" formControlName="oot_feed_and_fuel_gas" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">8</td>
                <td class="header">IOT to move BM control sequence to Stand By step.</td>
                <td>
                  <input type="radio" class="radio" id="iot_bm_control_sequence_to_stand-yes" formControlName="iot_bm_control_sequence_to_stand" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_bm_control_sequence_to_stand-no" formControlName="iot_bm_control_sequence_to_stand" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr>
                <td style="text-align:center">9</td>
                <td class="header">Once BMS is moved to Standby, IOT can manually move Furnace control sequence step
                  from process wait to purge light off.</td>
                <td>
                  <input type="radio" class="radio" id="iot_purge_light_off-yes" formControlName="iot_purge_light_off" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_purge_light_off-no" formControlName="iot_purge_light_off" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">10</td>
                <td class="header">OOT to ensure steam drum BFW inlet B/V at the inlet of steam drum is open and car
                  sealed (on top deck).</td>
                <td>
                  <input type="radio" class="radio" id="oot_open_and_car_sealed-yes" formControlName="oot_open_and_car_sealed" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_open_and_car_sealed-no" formControlName="oot_open_and_car_sealed" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">11</td>
                <td class="header">OOT to ensure furnace battery limit HBF inlet 4" second B/V is closed.<br>Note: First
                  B/V should not be operated (it should be always open).<br>Note: The first block valve bypass valves to
                  be used for initial pressurization of the downstream system.</td>
                <td>
                  <input type="radio" class="radio" id="oot_second_bv-yes" formControlName="oot_second_bv"
                    value="Yes" (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_second_bv-no" formControlName="oot_second_bv" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">12</td>
                <td class="header">OOT to ensure HBF control valve (FV-22X6-08) upstream and downstream B/Vs are
                  open.<br>Note: This step is applicable only for furnace-2280, and for the other fumaces
                  should be closed.</td>
                <td>
                  <input type="radio" class="radio" id="oot_upstream_and_downstram_bv_open-yes" formControlName="oot_upstream_and_downstram_bv_open" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_upstream_and_downstram_bv_open-no" formControlName="oot_upstream_and_downstram_bv_open" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">13</td>
                <td class="header">OOT to ensure HBF control valve (FV-22X6-08) bypass 2 B/V and globe valve are closed.
                </td>
                <td>
                  <input type="radio" class="radio" id="oot_bv_and_globe_value_close-yes" formControlName="oot_bv_and_globe_value_close" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_bv_and_globe_value_close-no" formControlName="oot_bv_and_globe_value_close" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr>
                <td style="text-align:center">14</td>
                <td class="header">Keep the steam drum 3" startup vent valves open.</td>
                <td>
                  <input type="radio" class="radio" id="drum_3_startup_vent-yes" formControlName="drum_3_startup_vent" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="drum_3_startup_vent-no" formControlName="drum_3_startup_vent" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableiot">
                <td style="text-align:center">15</td>
                <td class="header">OOT to open both HXS vent valve PV-22X0-43 4" upstream block valves.</td>
                <td>
                  <input type="radio" class="radio" id="oot_hxs_vent_valve-yes" formControlName="oot_hxs_vent_valve" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="oot_hxs_vent_valve-no" formControlName="oot_hxs_vent_valve" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">16</td>
                <td class="header">IOT to ensure PV-22X0-43 is in "auto" control at the default flow set point of 10
                  Mt/h and default pressure set point of 112 kg/cm2g.<br>Note: this will ensure that the HPSSHs will
                  have the minimum steam flow.</td>
                <td>
                  <input type="radio" class="radio" id="iot_default_pressure-yes" formControlName="iot_default_pressure" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_default_pressure-no" formControlName="iot_default_pressure" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr>
                <td style="text-align:center">17</td>
                <td class="header">Initially use the bypass valves across first block valve to pressurize the downstream
                  header and then open the main block valve. Then close the bypass valves across the first block valve.
                  Start taking BFW to steam drum through FV-22X6-08 2" bypass line, keeping first bypass open and
                  throttling 2nd bypass valve.<br>Note: For F-2280 keep the side entry 4" header valve (manifold from
                  battery limit) and bypass valve closed.</td>
                <td>
                  <input type="radio" class="radio" id="pressurize_the_downstream-yes" formControlName="pressurize_the_downstream" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="pressurize_the_downstream-no" formControlName="pressurize_the_downstream" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">18</td>
                <td class="header">IOT to start filling the steam drum SLOWLY. Must enable “BFW to
                  steam drum flow control slave” controller through activation of the
                  HS.
                  <br>Note 1: The control logic will initially fill the drum on flow control
                  with a flow set point of 5 Mt/h until the level is within 5% of the fill
                  set point at which time the level control will be enabled.<br>Note 2: The fill set point is 45%, which is less than the normal run
                  set point of 60 % to allow for swell. The set point will ramp from
                  45% to 60 % when the steam drum pressure has reach 95
                  kg/cm2g.
                  </td>
                <td>
                  <input type="radio" class="radio" id="iot_filling_the_steam_drum-yes" formControlName="iot_filling_the_steam_drum" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_filling_the_steam_drum-no" formControlName="iot_filling_the_steam_drum" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>
              <tr [class.disabled]="disableoot">
                <td style="text-align:center">19</td>
                <td class="header">IOT to confirm that “steam drum level control master” controller is
                  automatically enabled after level has been within 5% of fill set
                  point</td>
                <td>
                  <input type="radio" class="radio" id="iot_steam_drum_level_control_master-yes" formControlName="iot_steam_drum_level_control_master" value="Yes"
                    (focusout)="onSubmit()" />

                  <input type="radio" class="radio" id="iot_steam_drum_level_control_master-no" formControlName="iot_steam_drum_level_control_master" value="No"
                    (focusout)="onSubmit()" />

                </td>
              </tr>

            </tbody>
          </table>
          <button mat-raised-button style="margin-left: 90%; margin-top: 2%; background-color: #97ca94;"
            [disabled]="!ChecklistA.valid" (click)="nxtAccEn()">Next</button>
        </form>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
<br>
<app-checklist-b [checklistbformenable]="checklistbformenable"></app-checklist-b>

