/* Apply Montserrat font to dropdown menu */
app-dropdown .dropdown-menu {
  /* font-family: 'Montserrat', sans-serif; */
}

/* Apply Montserrat font to dropdown menu items */
app-dropdown .dropdown-item {
  /* font-family: 'Montserrat', sans-serif; */
}

/* Apply Montserrat font to specific elements within dropdown items */
app-dropdown .dropdown-header,
app-dropdown .dropdown-footer,
app-dropdown .text-muted,
app-dropdown .text-sm {
  /* font-family: 'Montserrat', sans-serif; */
}

content {
  width: 2000px;
  height: 40px;
  font-size: 16px;
}
.disabled {
  pointer-events: none;
  opacity: 0;
}