
<!-- <app-dropdown size="xl">
    <ng-container dropdown-button>
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">15</span>
    </ng-container>
    <ng-container dropdown-menu style="width: 900%;">
        <span class="dropdown-item dropdown-header">15 Notifications</span>

        <div *ngIf="ootIotObject">
            <div *ngFor="let key of ootIotObject | keyvalue">
                <div class="notification-box">
                    <p>{{ key.key }} : {{ key.value }}</p>
                </div>
            </div>
        </div>

      

    </ng-container>
</app-dropdown> -->
<app-dropdown size="xl">
    <ng-container dropdown-button>
        <i class="far fa-bell"></i>
        <span class="badge badge-warning navbar-badge">1</span>
    </ng-container>
    <mat-card dropdown-menu style="width: 300px; margin: 7%;" >
        <mat-card-content style="width: 300px;">
            <div *ngIf="ootIotObject">
                <p><strong>procedure : </strong>{{ show?.checklist }}</p>
                <p><strong>UserName : </strong>{{show?.userLoginDTO.username}}</p>
                <div *ngFor="let keyValuePair of ootIotObject | keyvalue; let i = index">
                    <div class="notification-box">
                     
                        <p *ngIf="i === 0"><strong>Skip Request form Operators</strong> {{ keyValuePair.value }}</p>
                        <p *ngIf="i === 1"></p>
                        <!-- Move the buttons inside the ngFor loop -->
                        
                    </div>
                    <div *ngIf="i === 1">
                    <button  mat-button color="primary" style="margin-left: 130px;" (click)="accept(keyValuePair.key)">Accept</button>
                        <button  mat-button color="warn" (click)="reject(keyValuePair.key)"  >Reject</button>
                    </div>
                    </div>
                
            </div>
        </mat-card-content>
    </mat-card>
    