
<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="expand" [disabled]="saferoperformenable">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents;color: #25345D"><strong> 4.Safe Operating & Limits </strong> </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>


<form [formGroup]="FirstForm">
  <mat-card class="mat">
    <mat-card-content>
      <h5 style="text-align: center;padding: 10px; color: white; background-color:  #25345D"><strong> SAFE OPERATING & LIMITS</strong></h5>
      <div class="table">
        <div>
          <div class="table-cell">
           <ul><li>Steam drum level should be maintained at 50 % (low-level total trip sp is 18%, partial trip sp is 40% and low alarm sp is
            42%)</li></ul>

          </div>
        </div>
        <div>
          <div class="table-cell"><ul><li> Furnace draft (firebox pressure) should be maintained < -4 mm H20 column (low draft total trip sp is 0 mm H2O, partial trip
            sp is -2 mmH2O).</li></ul>

          </div>
        </div>
        <div>
          <div class="table-cell">
           <ul><li> Fuel gas system pressure must be maintained > than 0.056 kg/cm2g and < 2.8 kg/cm2g to avoid furnace trip.</li></ul>

          </div>
        </div>
        <div>
          <div class="table-cell">
            <ul><li> Ensure that the furnace area is cleared of all personnel before initial automatic light off.</li></ul>

          </div>
        </div>

      </div>
      <div style="display: flex; justify-content: center;">
        <button class="btn1" mat-raised-button style="background-color:  #25345D;color: white; margin-right: 10px;" (click)="nxt()">Agree</button>
        <button class="btn2" mat-raised-button style="background-color: #25345D;color: white;" (click)="showmsg()">Disagree</button>
      </div>
    </mat-card-content>
  </mat-card>
</form>
</mat-expansion-panel>
</mat-accordion>
<br>
<app-devaition [devaitionformenable]="devaitionformenable" [expand]="open1"></app-devaition>

