h2{
  margin-top: 10px;
  text-align: center;
}
.mat {
  width: 100%;
  align-items: center;/* Adjust width as needed */
  margin: auto; /* Center the card */
  padding: 20px; /* Add some padding */
}

.mat-card-content {
  margin-top: 2px;
  padding: 0; /* Remove padding from card content */
}
.table {
  display: table;
  width: 100%;
}
.mat{
  border-color: rgb(165, 164, 164);
  border-width: thin;
  border-style: none;
  border-radius: 3%;
 
}
.table-row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: table-row;
  background-color: #97ca94;
}

.table-cell {
  font-size: medium;
  display: table-cell;
  padding: 5px;
}
.table-row {
  background-color: #97ca94;
}
.check_class {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mat-expansion-panel-header-description {
  
  flex-grow: unset !important;
  margin-left: 10px !important;
}