<section class="content">

  <!-- Adjusted column width -->
  <div class="search-container">
    <div class="input-group" data-widget="sidebar-search">
      <input #searchInput class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" >
      <button class="btn btn-sidebar">
        <i class="fas fa-search fa-fw"></i>
      </button>
    </div>
   </div>

     <br>

       <div class="container-fluid">
         <!-- Small boxes (Stat box) -->
         <div class="row">
     <!-- small box -->
     <div class="col-lg-6 col-6 ">
     <div class="small-box bg-royal-purple " (click)="addItem()">
       <div class="inner">
         <h3>Safe Work Permit</h3>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <!-- <p class="small-box-footer button-transition "  (click)="addItem()">More info <i class="fas fa-arrow-circle-right"></i></p> -->
     </div>
   

   </div>
   <!-- ./col -->
   <br>
     <br>
   <div class="col-lg-6 col-6">
     <!-- small box -->
     <div class="small-box bg-royal-green" (click)="addItem1()">
       <div class="inner">
         <h3>OPS Dashboard</h3>
         <!-- <p>No.of District Reg OB</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <!-- <p class="small-box-footer button-transition" (click)="addItem1()">More info <i class="fas fa-arrow-circle-right"></i></p> -->
     </div>

   

   </div>
  
   
   <!-- <div>
         <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
       </div>   -->
 </div>

 
 

</div>
</section>