
<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border"  [(expanded)]="accordionClosed" [disabled]="false">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents; color: #25345D;"><strong>Stage #3 :Safe Work Permit - Approval  </strong></h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <div class="mat">
      <div class="form-section">
    <div class="mat-box">
      <form [formGroup]="agreementForm1">
        <!-- [ngClass]="{ 'position-row': position !== 'Job_rep' }" -->
      <mat-card class= card >
    <table>
      <thead>
        <tr class="heading">

          <th style="height: 50px;">Safe Work Permit</th>
          <th style="width: 170px;">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>I understand the scope of work under this permit.</td>
          <td >
            <input type="checkbox" class="check-box" id="scopeOfWork" style="width: 170px;" formControlName="scopeOfWork" />

          </td>
        </tr>
        <tr>
          <td>I understand the hazards of the area, equipment & work and the safeguards in place.</td>
          <td >
            <input type="checkbox" class="check-box" id="hazards" style="width: 170px;" formControlName="hazards" />
          </td>
        </tr>
        <tr>
          <td>I understand and follow PPE requirements.</td>
          <td >
            <input type="checkbox" class="check-box" id="ppeRequirements"  style="width: 170px;" formControlName="ppeRequirements" />
          </td>
        </tr>
        <tr>
          <td>I have the necessary skills, training & knowledge to do the permitted work safely.</td>
          <td>
            <input type="checkbox" class="check-box" id="necessarySkills"   style="width: 170px;" formControlName="necessarySkills" />
          </td>
        </tr>
        <tr>
          <td>Know the emergency alarms, assembly points, location and usage of emergency equipment.</td>
          <td >
            <input type="checkbox" class="check-box" id="emergencyKnowledge" style="width: 170px;" formControlName="emergencyKnowledge" />
          </td>
        </tr>
        <tr class="">
          <td>I know the scope of other work that could impact this.</td>
          <td>
            <input type="checkbox" class="check-box" id="impactOfWork"  style="width: 170px; align-items: center;" formControlName="impactOfWork" />
          </td>
        </tr>
      </tbody>
    </table>
      <!-- Signature section -->
      <div class="row" style="  margin-top: 20px;">
        <div class="cols-4">
          <label>Signature:</label>
          <div class="signature-box">
            <button mat-raised-button style="background-color:  #25345D; color: white;  margin-top: 1%;" (click)="signatureImage1.style.display = (signatureImage1.style.display === 'none' ? 'block' : 'none')">Signature</button>
            <img #signatureImage1 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; margin-left: 10px;">
        </div>
        </div>

        <!-- <div class="row">
        <div style="display: flex; flex-direction: column; align-items: left;">
          <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
          <div style="margin-top: 10px;">
            <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
          </div>
          <div *ngIf="signatureImage.style.display !== 'none'" style="margin-top: 10px;" style="align-items: left;">
           <strong>Ragasudha Ambayeram</strong><br>
          <strong>[1Emp2024001]</strong>
          </div>
        </div>
        </div> -->

        <div class="cols-4em">
          <label for="employee-number">Employee Number:</label>
          <input id="employee-number" class="form-control" [value]="employeenumber">
        </div>



        <div class="cols-4dt">
          <label class="label" for="date">Date</label>
          <div class="row">
            <div class="col"><input type="date" class="form-control" id="date" formControlName="date"></div>
          </div>
        </div>

        <div class="cols-4dt">
          <label class="label" for="time" style="margin-left: 40px;">Time</label>
          <div class="row">
            <div class="col" style="margin-left: 40px;"><input type="time" class="form-control" id="time" formControlName="time"></div>
          </div>
        </div>

      </div>

      <!-- <br>
      <div class="row">
        <div class="col text-center">
            <button mat-raised-button style="background-color: 25345D; color: white; margin: 0 auto;" [disabled]="!allCheckboxesChecked()">Agree</button>
        </div>
        </div> -->
        
        <div class="save-button-container" *ngIf="!agreementForm1up">
          <button type="button" style="margin-top: 20px;" class="agree-button" [disabled]="!isFormValid()" (click)="agreementFormsave1()">Agree</button>
        </div>
        
        <div class="save-button-container" *ngIf="agreementForm1up">
          <button
            mat-raised-button
            style="background-color: #25345d; color: white; margin-top: 20px" class="update-button"
            (click)="saveFormup1()"
          >
            Update
          </button>
        </div>
      
      <!-- <div>
        <button type="button" style="margin-top: 20px;" class="save-button"  [disabled]="!allCheckboxesChecked()" >Save</button>
    </div> -->
    
      </mat-card>
    </form>
    </div>
  </div>
    <div class="empty"></div>
    <div class="form-section">
    <div class="mat-box">
      <form [formGroup]="agreementForm2">
        <!-- [ngClass]="{ 'position-row': position !== 'swp_issuer' }" -->
      <mat-card class= card>
      <table>
        <thead>
          <tr class="heading">
            <th style="height: 50px;">Safe Work Permit</th>
            <th>Action</th>
          </tr>
        </thead>
<tbody>
  <tr>
    <td>All people working under this SWP have the necessary training and skills to perform the permitted work including the use of special PPE, if any</td>
    <td>
      <div class="button-group" >
        <input type="radio" class="custom-radio" id="people_training-yes" name="people_training"
        value="Yes" formControlName="people_training" />
      <label for="people_training-yes" class="action">Yes</label>

      <input type="radio" class="custom-radio" id="people_training-no" name="people_training"
        value="No" formControlName="people_training" />
      <label for="people_training-no" class="action">No</label>
      </div>
    </td>
  </tr>
  <tr>
    <td>All people working under this SWP know the location of assembly points, emergency equip. & nearest EB/SS?</td>
    <td>
      <div class="button-group">
        <input type="radio" class="custom-radio" id="location_known-yes" name="location_known"
          value="Yes" formControlName="location_known" />
        <label for="location_known-yes" class="action">Yes</label>

        <input type="radio" class="custom-radio" id="location_known-no" name="location_known"
          value="No" formControlName="location_known" />
        <label for="location_known-no" class="action">No</label>
      </div>
    </td>
  </tr>
  <tr>
    <td>Equipment to be worked on has been properly prepared, identified and is ready to work on?</td>
    <td>
      <div class="button-group">
        <input type="radio" class="custom-radio" id="equipment_prepared-yes" name="equipment_prepared"
          value="Yes" formControlName="equipment_prepared" />
        <label for="equipment_prepared-yes" class="action">Yes</label>

        <input type="radio" class="custom-radio" id="equipment_prepared-no" name="equipment_prepared"
          value="No" formControlName="equipment_prepared" />
        <label for="equipment_prepared-no" class="action">No</label>
      </div>
    </td>
  </tr>
  <tr>
    <td>Scope of boundaries of any other work in the area that could affect this permitted work has been reviewed and understood?</td>
    <td>
      <div class="button-group">
        <input type="radio" class="custom-radio" id="boundaries_reviewed-yes" name="boundaries_reviewed"
          value="Yes" formControlName="boundaries_reviewed" />
        <label for="boundaries_reviewed-yes" class="action">Yes</label>

        <input type="radio" class="custom-radio" id="boundaries_reviewed-no" name="boundaries_reviewed"
          value="No" formControlName="boundaries_reviewed" />
        <label for="boundaries_reviewed-no" class="action">No</label>
      </div>
    </td>
  </tr>
</tbody>

      </table>

          <!-- Signature section -->
          <div class="row" style="  margin-top: 20px;">
            <div class="cols-4">
              <label>Signature:</label>
              <div class="signature-box">
                <button mat-raised-button style="background-color:  #25345D; color: white;  margin-top: 1%;" (click)="signatureImage2.style.display = (signatureImage2.style.display === 'none' ? 'block' : 'none')">Signature</button>
                <img #signatureImage2 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; margin-left: 5px;">
            </div>
            </div>
    
            <!-- <div class="row">
            <div style="display: flex; flex-direction: column; align-items: left;">
              <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
              <div style="margin-top: 10px;">
                <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
              </div>
              <div *ngIf="signatureImage.style.display !== 'none'" style="margin-top: 10px;" style="align-items: left;">
               <strong>Ragasudha Ambayeram</strong><br>
              <strong>[1Emp2024001]</strong>
              </div>
            </div>
            </div> -->
    
            <div class="cols-4em">
              <label for="employee-number">Employee Number:</label>
              <input id="employee-number" class="form-control" [value]="employeenumber">
            </div>
    
    
    
            <div class="cols-4dt">
              <label class="label" for="date">Date</label>
              <div class="row">
                <div class="col"><input type="date" class="form-control" id="date" formControlName="date"></div>
              </div>
            </div>
    
            <div class="cols-4dt">
              <label class="label" for="time" style="margin-left: 40px;">Time</label>
              <div class="row">
                <div class="col" style="margin-left: 40px;"><input type="time" class="form-control" id="time" formControlName="time"></div>
              </div>
            </div>
    
          </div>
         
          <div  class="save-button-container" *ngIf="!agreementForm2up">
          
            <button type="button" style="margin-top: 20px;" class="agree-button" [disabled]="!agreementForm2.valid" (click)="agreementFormsave2()">Agree</button>
          </div>
          <div class="save-button-container" *ngIf="agreementForm2up">
            <button
              mat-raised-button
              style="background-color: #25345d; color: white; margin-top: 20px" class="update-button"
              (click)="saveFormup2()"
            >
              Update
            </button>
          </div>
        </mat-card>
      </form>
  </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<br>
<app-swpcloseout></app-swpcloseout>




