<form [formGroup]="agreementForm">
<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border"  [expanded]="false" [disabled]="false">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents; color:rgb(115, 182, 158)"><strong>Stage #3 :Safe Work Permit </strong></h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>

    <div class="mat">
      <div class="form-section">
    <div class="mat-box">
    <div></div>
    <table>
      <thead>
        <tr class="heading">
          <th style="height: 50px;">Safe Work Permit</th>
          <th style="width: 170px;">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>I understand the scope of work under this permit.</td>
          <td >
            <input type="checkbox" class="check-box" id="scopeOfWork" style="width: 170px;" formControlName="scopeOfWork" />
            
          </td>
        </tr>
        <tr>
          <td>I understand the hazards of the area, equipment & work and the safeguards in place.</td>
          <td >
            <input type="checkbox" class="check-box" id="hazards" style="width: 170px;" formControlName="hazards" />
          </td>
        </tr>
        <tr>
          <td>I understand and follow PPE requirements.</td>
          <td >
            <input type="checkbox" class="check-box" id="ppeRequirements"  style="width: 170px;" formControlName="ppeRequirements" />
          </td>
        </tr>
        <tr>
          <td>I have the necessary skills, training & knowledge to do the permitted work safely.</td>
          <td>
            <input type="checkbox" class="check-box" id="necessarySkills"   style="width: 170px;" formControlName="necessarySkills" />
          </td>
        </tr>
        <tr>
          <td>Know the emergency alarms, assembly points, location and usage of emergency equipment.</td>
          <td >
            <input type="checkbox" class="check-box" id="emergencyKnowledge" style="width: 170px;" formControlName="emergencyKnowledge" />
          </td>
        </tr>
        <tr class="">
          <td>I know the scope of other work that could impact this.</td>
          <td>
            <input type="checkbox" class="check-box" id="impactOfWork"  style="width: 170px; align-items: center;" formControlName="impactOfWork" />
          </td>
        </tr>
      </tbody>
    </table>
      <!-- Signature section -->
      <div class="row" style="  margin-top: 20px;">
        <div class="cols-4">
          <label>Signature:</label>
          <div class="signature-box">
            <button mat-raised-button style="background-color: #147737; color: white; margin-top: 1%;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Signature</button>
            <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
          </div>
        </div>
        <div class="cols-4em">
          <label>Employee Number:</label>
          <div>
            <input type="text" class="employee-number-box" formControlName="employeeNumber" />
          </div>
        </div>
        

        <div class="cols-4dt">
          <label class="label" for="date">Date</label>
          <div class="row">
            <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate"></div>
          </div>
        </div>

        <div class="cols-4dt">
          <label class="label" for="time" style="margin-left: 40px;">Time</label>
          <div class="row">
            <div class="col" style="margin-left: 40px;"><input type="time" class="form-control" id="time" [value]="formattedTime"></div>
          </div>
        </div>

      </div>
      <button type="button" style="  margin-top: 20px;"  class="agree-button" [disabled]="!allCheckboxesChecked()">Agree</button>
    </div>
  </div>
    <div class="empty"></div>
    <div class="form-section">
    <div class="mat-box">
      <table>
        <thead>
          <tr class="heading">
            <th style="height: 50px;">Safe Work Permit</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>All people working under this SWP have the necessary training and skills to perform the permitted work including the use of special PPE, if any</td>
            <td>
              <div class="button-group">
              <input type="radio" class="custom-radio" id="oot_high_pressures-done" name="oot_high_pressures"
              value="Yes" formControlName="oot_high_pressures"  />
            <label for="oot_high_pressures-done" class="action">Yes</label>
  
            <input type="radio" class="custom-radio" id="oot_high_pressures-risk" name="oot_high_pressures"
              value="No" formControlName="oot_high_pressures"/>
            <label for="oot_high_pressures-risk" class="action">No</label>
              </div>
            </td>
          </tr>
          <tr>
            <td>All people working under this SWP know the location of assembly points, emergency equip. & nearest EB/SS?</td>
            <td>
              <div class="button-group">
                <input type="radio" class="custom-radio" id="oot_downstream_1_drain-done"
                name="oot_downstream_1_drain" value="Yes" formControlName="oot_downstream_1_drain" />
              <label for="oot_downstream_1_drain-done" class="action">Yes</label>
  
              <input type="radio" class="custom-radio" id="oot_downstream_1_drain-risk"
                name="oot_downstream_1_drain" value="No" formControlName="oot_downstream_1_drain"/>
              <label for="oot_downstream_1_drain-risk" class="action">No</label>
  
                </div>
            </td>
          </tr>
          <tr>
            <td>Equipment to be worked on has been properly prepared, identified and is ready to work on?</td>
            <td>
              <div class="button-group">
              <input type="radio" class="custom-radio" id="oot_bypasss-done" name="oot_bypasss" value="Yes"
              formControlName="oot_bypasss"/>
            <label for="oot_bypasss-done" class="action">Yes</label>
  
            <input type="radio" class="custom-radio" id="oot_bypasss-risk" name="oot_bypasss" value="No"
              formControlName="oot_bypasss"/>
            <label for="oot_bypasss-risk" class="action">No</label>
          </div>
            </td>
          </tr>
          <tr>
            <td>Scope of boundaries of any other work in the area that could affect this permitted work has been reviewed and understood?</td>
            <td>
              <div class="button-group">
                <input type="radio" class="custom-radio" id="oot_inlet_ventss-done" name="oot_inlet_ventss" value="Yes"
                      formControlName="oot_inlet_ventsss"/>
                    <label for="oot_inlet_ventss-done" class="action">Yes</label>
  
                    <input type="radio" class="custom-radio" id="oot_inlet_ventss-risk" name="oot_inlet_ventss" value="No"
                      formControlName="oot_inlet_ventss"/>
                    <label for="oot_inlet_ventss-risk" class="action">No</label>
                </div>
            </td>
          </tr>
        </tbody>
      </table>
   
          <!-- Signature section -->
          <div class="row" style="  margin-top: 20px;">
            <div class="cols-4">
              <label>Signature:</label>
              <div class="signature-box">
                <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage1.style.display = (signatureImage1.style.display === 'none' ? 'block' : 'none')">Signature</button>
                <img #signatureImage1 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
              </div>
            </div>
    
            <div class="cols-4em">
              <label>Employee Number:</label>
              <div>
                <input type="text" class="employee-number-box" formControlName="employeeNumber" />
              </div>
            </div>
    
            <div class="cols-4dt">
              <label class="label" for="date">Date</label>
              <div class="row">
                <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate"></div>
              </div>
            </div>
    
            <div class="cols-4dt">
              <label class="label" for="time" style="margin-left: 40px;">Time</label>
              <div class="row">
                <div class="col" style="margin-left: 40px;"><input type="time" class="form-control" id="time" [value]="formattedTime"></div>
              </div>
            </div>
          </div>
  </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
</form>
<br>
<app-swpcloseout></app-swpcloseout>




