<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="searchbar">
        <label>Search:
          <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example1" (input)="filterTable($event)">
        </label>
      </div>
      <div class="collectivebuttons">
        <div class="dt-buttons btn-group flex-wrap">
          <button class="btn btn-secondary copy" tabindex="0" aria-controls="example1" type="button" (click)="copyToClipboard()">
            <span>Copy</span>
          </button>
          <button class="btn btn-secondary csv" tabindex="0" aria-controls="example1" type="button" (click)="downloadCSV()">
            <span>CSV</span>
          </button>
          <!-- <button class="btn btn-secondary excel" tabindex="0" aria-controls="example1" type="button">
            <span>Excel</span>
          </button>
          <button class="btn btn-secondary pdf" tabindex="0" aria-controls="example1" type="button">
            <span>PDF</span>
          </button>
          <button class="btn btn-secondary print" tabindex="0" aria-controls="example1" type="button">
            <span>Print</span>
          </button> -->
          <div class="btn-group">
            <button class="btn btn-secondary buttons-collection dropdown-toggle buttons-colvis" tabindex="0" aria-controls="example1" type="button" (click)="toggleColumnVisibilityDropdown()">
              <span>Column visibility</span><span class="dt-down-arrow"></span>
            </button>
        <div class="dropdown-menu" [ngClass]="{'show': showColumnVisibilityDropdown}" role="menu">
    <a class="dropdown-item" href="#" (click)="toggleColumnVisibility('requester_name', $event)">Requester Name </a>
    <a class="dropdown-item" href="#" (click)="toggleColumnVisibility('equipment_id', $event)">Equipment Id</a>
    <a class="dropdown-item" href="#" (click)="toggleColumnVisibility('work_location', $event)">Work Location</a>
    <a class="dropdown-item" href="#" (click)="toggleColumnVisibility('start_date', $event)">Start Date </a>
    <a class="dropdown-item" href="#" (click)="toggleColumnVisibility('end_date', $event)">End Date</a>
</div>
          </div>
        </div>
      </div>
      
    <button type="button" class="btn btn-primary createbutton ml-auto" (click)="openDialog()">Create Safe Work Permit</button>
  <!-- <h3 class="card-title">DataTable with default features</h3> -->
  </div>
  <div class="collectivebuttons-edv">
    <!-- Existing buttons -->
    <div class="dt-buttons btn-group flex-wrap">
      <!-- Existing buttons -->
    </div>
  
  

  
  <div class="card-body">
  <table #example1Table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr>
    <th (click)="sortData('sno')" data-column="index">S.No <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'sno'}"></i></th>
    <th (click)="sortData('requester_name')" data-column="requester_name">Requester Name <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'requester_name'}"></i></th>
    <th (click)="sortData('equipment_id')" data-column="equipment_id">Equipment Id<i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'equipment_id'}"></i></th>
    <th (click)="sortData('work_location')" data-column="work_location">Work Location <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'work_location'}"></i></th>
    <th (click)="sortData('start_date')" data-column="start_date">Start Date <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'start_date'}"></i></th>
    <th (click)="sortData('end_date')" data-column="end_date">End Date <i class="fas fa-sort" [ngClass]="{'fa-flip-vertical': sortColumn === 'end_date'}"></i></th>

    <th  >Edit</th>
    <th  >View</th>
    <th >Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <tr *ngFor="let row of tableData">
    <td>{{ row.sno }}</td>
    <td>{{ row.requester_name }}</td>
    <td>{{ row.equipment_id }}</td>
    <td>{{ row.work_location }}</td>
    <td>{{ row.start_date }}</td>
    <td>{{ row.end_date }}</td>
    <td><i class="fas fa-edit" style="color: blue;"></i></td> <!-- Edit icon color -->
    <td><i class="fas fa-eye" style="color: green;"></i></td> <!-- View icon color -->
    <td><i class="fas fa-trash-alt" style="color: red;"></i></td> <!-- Delete icon color -->
  
  </tr>
  </table>
  </div>
  <aside class="control-sidebar control-sidebar-dark"></aside>
  </div>
