<section class="content">

  <!-- Adjusted column width -->
  <div class="search-container">
 <div class="input-group" data-widget="sidebar-search">
   <input #searchInput class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" >
   <button class="btn btn-sidebar" (click)="handleSearch(searchInput.value)">
     <i class="fas fa-search fa-fw"></i>
   </button>
 </div>
</div>

     <br>

       <div class="container-fluid">
         <!-- Small boxes (Stat box) -->
         <div class="row">
     <!-- small box -->
     <div class="col-lg-4 col-6 ">
     <div class="small-box .bg-royal-purple">
       <div class="inner">
         <h3>Startup Procedures</h3>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <p class="small-box-footer button-transition "  (click)="addItem()">Explore <i class="fas fa-arrow-circle-right"></i></p>
     </div>
   <div class="row col-md-12">
     <div class="small-box .bg-royal-purple cols-4 button-slide slide-in" style="width: fit-content;" *ngIf="addbutton">
       <div class="inner" style="width: 220px;">
         <h4>Furnace Startup</h4>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <a href="#" class="small-box-footer" routerLink="/main/showadmin">Initiate a work order
        <i class="fas fa-arrow-circle-right"></i></a>
     </div>

     <div class="small-box .bg-royal-purple cols-4 button-slide slide-in" style="width: fit-content; margin-left: 3px;" *ngIf="addbutton">
       <div class="inner" style="width: 220px;">
         <h4>Tub Boiler</h4>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <a href="#" class="small-box-footer">Initiate a work order
        <i class="fas fa-arrow-circle-right"></i></a>
     </div>

     <div class="small-box .bg-royal-purple cols-4 button-slide slide-in" style="width: fit-content; " *ngIf="addbutton">
       <div class="inner" style="width: 220px;">
         <h4>Dust Collector</h4>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <a href="#" class="small-box-footer">Initiate a work order
        <i class="fas fa-arrow-circle-right"></i></a>
     </div>

     <div class="small-box .bg-royal-purple cols-4 button-slide slide-in" style="width: fit-content; margin-left: 3px;" *ngIf="addbutton">
       <div class="inner" style="width: 220px;">
         <h4>Safety Valve</h4>
         <!-- <p>Registered Office Bearers</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <a href="#" class="small-box-footer">Initiate a work order
        <i class="fas fa-arrow-circle-right"></i></a>
     </div>

   </div>

   </div>
   <!-- ./col -->
   <br>
     <br>
   <div class="col-lg-4 col-6">
     <!-- small box -->
     <div class="small-box .bg-royal-purple">
       <div class="inner">
         <h3>Maintenance</h3>
         <!-- <p>No.of District Reg OB</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <p class="small-box-footer button-transition" (click)="addItem1()">Explore <i class="fas fa-arrow-circle-right"></i></p>
     </div>

     <div class="row col-md-12">
       <div class="small-box .bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content;" *ngIf="addbutton2">
         <div class="inner" style="width: 220px;">
           <h4>Thermostat</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>

       <div class="small-box .bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content; margin-left: 3px;" *ngIf="addbutton2">
         <div class="inner" style="width: 220px;">
           <h4>Air filter</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>
       <div class="small-box .bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content;" *ngIf="addbutton2">
         <div class="inner" style="width: 220px;">
           <h4>Heat</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <br>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>

       <div class="small-box .bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content; margin-left: 3px;" *ngIf="addbutton2">
         <div class="inner" style="width: 220px;">
           <h4>Clean flame sensor</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>


     </div>

   </div>
   <br>
     <br>
   <div class="col-lg-4 col-6">
     <!-- small box -->
     <div class="small-box .bg-royal-purple">
       <div class="inner">
         <h3>Shutdown</h3>
         <!-- <p>Number of District</p> -->
       </div>
       <div class="icon">
         <i class="ion ion-stats-bars"></i>
       </div>
       <p class="small-box-footer button-transition" (click)="addItem2()">Explore <i class="fas fa-arrow-circle-right"></i></p>
     </div>

     <div class="row col-md-12">
       <div class="small-box bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content;" *ngIf="addbutton3">
         <div class="inner" style="width: 220px;">
           <h4>Fanning</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>

       <div class="small-box bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content; margin-left: 3px;" *ngIf="addbutton3">
         <div class="inner" style="width: 220px;">
           <h4>Blowing Out</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>
       <div class="small-box bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content;" *ngIf="addbutton3">
         <div class="inner" style="width: 220px;">
           <h4>Combustion Chamber</h4>
           <!-- <p>Registered Office Bearers</p> -->
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>
       <div class="small-box bg-royal-purple cols-4  button-slide slide-in" style="width: fit-content;margin-left: 3px;" *ngIf="addbutton3">
         <div class="inner" style="width: 220px;">
           <h4>Dust  Collector</h4>           
         </div>
         <div class="icon">
           <i class="ion ion-stats-bars"></i>
         </div>
         <br>
         <a href="#" class="small-box-footer">Initiate a work order
<i class="fas fa-arrow-circle-right"></i></a>
       </div>
     </div>

   </div>
   <!-- <div>
         <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
       </div>   -->
 </div>


 <!-- <div class="text-secondary text-center"  *ngIf="barchat==''"><h3><b>NO DATA FOUND FOR GRAPHS</b></h3></div> -->

</div>
</section>