<mat-accordion>
<mat-expansion-panel class="mat_expansion_border" [(expanded)]="accordionClosed">
  <mat-expansion-panel-header class="mat_expansion_header_border">
    <div class="row">
      <h5 style="display: contents; color:#25345D"><strong>Stage #4 : Safe Work Permit Close-Out </strong>
      </h5>
    </div>
    <mat-panel-description></mat-panel-description>
  </mat-expansion-panel-header>
  <mat-card class=mat>
    <mat-card-content>
      <!-- <h6 style="margin-left: 30%;"><strong>PROCEDURE CHECKLIST #A ESTABLISH STEAM DRUM LEVEL</strong></h6> -->
      <form [formGroup]="swpcloseout">
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Job_Rep' }">
          <mat-card-content>
            <table>
              <thead>
                <th class="theader">Safe Work Permit - Close-Out </th>
                <th class="theader" style="width: 29%; text-align: left; padding-left: 85px;">Action</th>
              </thead>
              <tr>
                <td class="header">Is Housekeeping completed?</td>
                <td>
                  <input type="radio" class="custom-radio" id="Housekeeping-yes" name="Housekeeping" value="Yes"
                    formControlName="Housekeeping" />
                  <label for="Housekeeping-yes" class="action">Yes</label>

                  <input type="radio" class="custom-radio" id="Housekeeping-no" name="Housekeeping" value="No"
                    formControlName="Housekeeping" />
                  <label for="Housekeeping-no" class="action">No</label>
                </td>
              </tr>
              <tr>
                <td class="header">

                  Is Status of job and equipment reviewed?</td>
                <td>
                  <input type="radio" class="custom-radio" id="jobandequipment-yes" name="jobandequipment" value="Yes"
                    formControlName="jobandequipment" />
                  <label for="jobandequipment-yes" class="action">Yes</label>
                  <input type="radio" class="custom-radio" id="jobandequipment-no" name="jobandequipment" value="No"
                    formControlName="jobandequipment" />
                  <label for="jobandequipment-no" class="action">No</label>
                </td>
              </tr>
              <tr>
                <td class="header">Is Radioactive sources removed?</td>
                <td>
                  <input type="radio" class="custom-radio" id="Radioactive-yes" name="Radioactive" value="Yes"
                    formControlName="Radioactive" />
                  <label for="Radioactive-yes" class="action">Yes</label>

                  <input type="radio" class="custom-radio" id="Radioactive-no" name="Radioactive" value="No"
                    formControlName="Radioactive" />
                  <label for="Radioactive-no" class="action">No</label>
                </td>
              </tr>
              <tr>
                <td class="header">
                  Is Area/Equipment surveyed by TRSO?</td>
                <td>
                  <input type="radio" class="custom-radio" id="Area_Equipment-yes" name="Area_Equipment" value="Yes"
                    formControlName="Area_Equipment" />
                  <label for="Area_Equipment-yes" class="action">Yes</label>
                  <input type="radio" class="custom-radio" id="Area_Equipment-no" name="Area_Equipment" value="No"
                    formControlName="Area_Equipment" />
                  <label for="Area_Equipment-no" class="action">No</label>
                </td>
              </tr>
              <tr>
                <td class="header">
                  Signature of TRSO
              </td>
              <!-- <td style="text-align: left; padding-left: 70px;">
                <div style="display: flex; align-items: center;">
                  <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                  <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  <span *ngIf="signatureImage.style.display !== 'none'">
                    Employee Name: Ragasudha Ambayeram<br>
                    Employee No.: 1Emp2024001
                  </span>
                </div>
              </td> -->
              <td style="text-align: right; padding-right: 40px;">
                <div style="display: flex; flex-direction: column; align-items: left;">
                  <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                  <div style="margin-top: 10px;">
                    <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                  </div>
                  <div *ngIf="signatureImage.style.display !== 'none'" style="margin-top: 10px;" style="align-items: left;">
                   <strong>Ragasudha Ambayeram</strong><br>
                  <strong>[1Emp2024001]</strong>
                  </div>
                </div>
              </td>


              </tr>
            </table>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Job_Rep' }" >
          <mat-card-content>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Permit close-out status</label>
                  <select id="status" formControlName="closeoutstatus" class="form-control">
                    <option value="" selected>Select status</option>
                    <option value="Pending">Pending</option>
                    <option value="complete">Complete</option>
                  </select>
                </div>
              </div>


              <div class="col-sm-3">
                <div class="form-group" >
                  <label>Work complete signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage1.style.display = (signatureImage1.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage1 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage1.style.display !== 'none'" style="margin-top: 10px;" style="align-items: left;">
                     <strong>Ragasudha Ambayeram</strong><br>
                    <strong>[1Emp2024001]</strong>
                    </div>
                  </div>
                  <!-- <div style="display: flex; align-items: center;">

                  <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage1.style.display = (signatureImage1.style.display === 'none' ? 'block' : 'none')">Signature</button>
                  <img #signatureImage1 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                </div> -->
                </div>
              </div>
              <div class="col-sm-3">

                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="close_out_status_date" formControlName="close_out_status_date" class="form-control">
                </div>

              </div>
              <div class="col-sm-3">

                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="close_out_status_time" formControlName="close_out_status_time" class="form-control">

                </div>
              </div>

            </div>
            <br>
            <div class="row">
              <div class="col text-center">
                  <button mat-raised-button style="background-color: #25345D; color: white; margin: 0 auto;">Save</button>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'SWP_Issuer' }">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Is Duplicates and any additional checklists reconciled?</label>
                  <input type="radio" class="custom-radio" id="additionalchecklists-yes" name="AreaEquipment" value="Yes"
                  formControlName="additionalchecklists" />
                <label for="additionalchecklists-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="additionalchecklists-no" name="additionalchecklists" value="No"
                  formControlName="additionalchecklists" />
                <label for="additionalchecklists-no" class="action">No</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Permit closed signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage2.style.display = (signatureImage2.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage2 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage2.style.display !== 'none'" style="margin-top: 10px;" style="align-items: left;">
                     <strong>Ramya RajKumar</strong><br>
                    <strong>[1Emp20240101]</strong>
                    </div>
                  </div>
                  <!-- <div style="display: flex; align-items: center;">

                    <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage2.style.display = (signatureImage2.style.display === 'none' ? 'block' : 'none')">Signature</button>
                    <img #signatureImage2 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  </div> -->
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="additionalchecklists_date" formControlName="additionalchecklists_date" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="additionalchecklists_time" formControlName="additionalchecklists_time" class="form-control">
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col text-center">
                  <button mat-raised-button style="background-color: #25345D; color: white; margin: 0 auto;">Save</button>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Job_Rep' }">
          <mat-card-content>
            <table>
            <th class="theader"  style="width: 100%; text-align: center; ">Master Card - Work Completion </th>
            </table>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Is Work Completed?</label>
                  <input type="radio" class="custom-radio" id="Work_Completed-yes" name="Work_Completed" value="Yes"
                  formControlName="Work_Completed" />
                <label for="Work_Completed-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="Work_Completed-no" name="Work_Completed" value="No"
                  formControlName="Work_Completed" />
                <label for="Work_Completed-no" class="action">No</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Employee Number</label>
                  <input type="text" id="Work_Completed_emp" formControlName="Work_Completed_emp" class="form-control" placeholder="Enter Employee Number">
                </div>
              </div>

              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="Work_Completed_date" formControlName="Work_Completed_date" class="form-control">
                </div>

              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="Work_Completed_time" formControlName="Work_Completed_time" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage3.style.display = (signatureImage3.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage3 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage3.style.display !== 'none'" style="margin-top: 10px;" style="align-items: centr;">
                     <strong>Raja Kumaravel</strong><br>
                    <strong>[1Emp20240101]</strong>
                    </div>
                  </div>
                  <!-- <div style="display: flex; align-items: center;">
                    <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage3.style.display = (signatureImage3.style.display === 'none' ? 'block' : 'none')">Signature</button>
                    <img #signatureImage3 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  </div> -->
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Job_Rep' }">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Additional Work Description (if any)</label>
                  <textarea type="text" id="Additional_Work " formControlName="Additional_Work" rows="3" class="form-control" placeholder="Enter Additional Work Description (if any)"></textarea>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Is Additional Work Completed?</label>
                  <input type="radio" class="custom-radio" id="Additional_Work_Completed-yes" name="Additional_Work_Completed" value="Yes"
                  formControlName="Additional_Work_Completed" />
                <label for="Additional_Work_Completed-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="Additional_Work_Completed-no" name="Additional_Work_Completed" value="No"
                  formControlName="Additional_Work_Completed" />
                <label for="Additional_Work_Completed-no" class="action">No</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Work complete signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage4.style.display = (signatureImage4.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage4 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage4.style.display !== 'none'" style="margin-top: 10px;" style="align-items: center;">
                     <strong>Raja Kumaravel</strong><br>
                    <strong>[1Emp20240101]</strong>
                    </div>
                    </div>
                  <!-- <div style="display: flex; align-items: center;">
                    <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage4.style.display = (signatureImage4.style.display === 'none' ? 'block' : 'none')">Signature</button>
                    <img #signatureImage4 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  </div> -->
                </div>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label>Employee Number</label>
                    <input type="text" id="Additional_Work_Completed_emp" formControlName="Additional_Work_Completed_emp" class="form-control" placeholder="Enter Employee Number">
                    </div>
                  </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="Additional_Work_date" formControlName="Additional_Work_date" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="Additional_Work_time" formControlName="Additional_Work_time" class="form-control">
                </div>
              </div>
            </div>

          </mat-card-content>
        </mat-card>
        <br>
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Job_Rep' }">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Is House Keeping Completed?</label>
                  <input type="radio" class="custom-radio" id="HouseKeeping_Comp-yes" name="HouseKeeping_Comp" value="Yes"
                  formControlName="HouseKeeping_Comp" />
                <label for="HouseKeeping_Comp-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="HouseKeeping_Comp-no" name="HouseKeeping_Comp" value="No"
                  formControlName="HouseKeeping_Comp" />
                <label for="HouseKeeping_Comp-no" class="action">No</label>
                </div>
              </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label>Employee Number</label>
                    <input type="text" id="HouseKeeping_Comp_emp" formControlName="HouseKeeping_Comp_emp" class="form-control" placeholder="Enter Employee Number">
                  </div>
                </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="HouseKeeping_Comp_date" formControlName="HouseKeeping_Comp_date" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="HouseKeeping_Comp_time" formControlName="HouseKeeping_Comp_time" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Work complete signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage5.style.display = (signatureImage5.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage5 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage5.style.display !== 'none'" style="margin-top: 10px;" style="align-items: center;">
                     <strong>Raja Kumaravel</strong><br>
                    <strong>[1Emp20240101]</strong>
                    </div>
                    </div>
                  <!-- <div style="display: flex; align-items: center;">
                    <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage5.style.display = (signatureImage5.style.display === 'none' ? 'block' : 'none')">Signature</button>
                    <img #signatureImage5 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  </div> -->
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col text-center">
                  <button mat-raised-button style="background-color: #25345D; color: white; margin: 0 auto;">Save</button>
              </div>
          </div>
          </mat-card-content>
        </mat-card>
        <br>
        <!--  -->
        <mat-card class=mat1 [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
          <mat-card-content>
            <table>
              <th class="theader"  style="width: 100%; text-align: center; ">Master Card - Work Completion Check & Equipment RFS</th>
              </table>
            <div class="row">
              <div class="col-sm-3" >
                <div class="form-group">
                  <label>Is House Keeping Checked?</label>
                  <input type="radio" class="custom-radio" id="HouseKeepingCheck-yes" name="HouseKeepingCheck" value="Yes"
                  formControlName="HouseKeepingCheck" />
                <label for="HouseKeepingCheck-yes" class="action">Yes</label>

                <input type="radio" class="custom-radio" id="HouseKeepingCheck-no" name="HouseKeepingCheck" value="No"
                  formControlName="HouseKeepingCheck" />
                <label for="HouseKeepingCheck-no" class="action">No</label>
                </div>
              </div>
                <div class="col-sm-3" >
                  <div class="form-group" >
                    <label>Employee Number</label>
                    <input type="text" id="HouseKeeping_emp" formControlName="HouseKeeping_emp" class="form-control" placeholder="Enter Employee Number">
                  </div>
                </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="HouseKeeping_date" formControlName="HouseKeeping_date" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="HouseKeeping_time" formControlName="HouseKeeping_time" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Work complete signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage6.style.display = (signatureImage6.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage6 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage6.style.display !== 'none'" style="margin-top: 10px;" style="align-items: center;">
                     <strong>Punitha Lokesh</strong><br>
                    <strong>[1Emp20240151]</strong>
                    </div>
                    </div>
                  <!-- <div style="display: flex; align-items: center;">
                    <button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage6.style.display = (signatureImage6.style.display === 'none' ? 'block' : 'none')">Signature</button>
                    <img #signatureImage6 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                  </div> -->
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>
        <!--  -->
        <mat-card class=mat1  [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
          <mat-card-content>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Equipment Tested</label>
                  <input type="radio" class="custom-radio" id="EquipmentTested-yes" name="EquipmentTested" value="Yes"
                  formControlName="EquipmentTested" />
                <label for="EquipmentTested-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="EquipmentTested-no" name="EquipmentTested" value="No"
                  formControlName="EquipmentTested" />
                <label for="EquipmentTested-no" class="action">No</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>De-tagged</label>
                  <input type="radio" class="custom-radio" id="Detagged-yes" name="Detagged" value="Yes"
                  formControlName="Detagged" />
                <label for="Detagged-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="Detagged-no" name="Detagged" value="No"
                  formControlName="Detagged" />
                <label for="Detagged-no" class="action">No</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label>Ready for Service</label>
                  <input type="radio" class="custom-radio" id="ReadyforService-yes" name="ReadyforService" value="Yes"
                  formControlName="ReadyforService" />
                <label for="ReadyforService-yes" class="action">Yes</label>
                <input type="radio" class="custom-radio" id="ReadyforService-no" name="ReadyforService" value="No"
                  formControlName="ReadyforService" />
                <label for="ReadyforService-no" class="action">No</label>
                </div>
              </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Employee Number</label>
                      <input type="text" id="EquipmentTested_emp" formControlName="EquipmentTested_emp" class="form-control" placeholder="Enter Employee Number">
                    </div>
                  </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Date</label>
                <div class="col-sm-9">
                  <input type="date" id="EquipmentTested_date" formControlName="EquipmentTested_date" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <label class="col-sm-3 ">Time</label>
                <div class="col-sm-9">
                  <input type="time" id="EquipmentTested_time" formControlName="EquipmentTested_time" class="form-control">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Work complete signature</label>
                  <div style="display: flex; flex-direction: column; align-items: left;">
                    <button mat-raised-button style="background-color: #25345D; color: white;" (click)="signatureImage7.style.display = (signatureImage7.style.display === 'none' ? 'block' : 'none')">Click to Sign</button>
                    <div style="margin-top: 10px;">
                      <img #signatureImage7 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 150px; max-height: 150px; display: none;">
                    </div>
                    <div *ngIf="signatureImage7.style.display !== 'none'" style="margin-top: 10px;" style="align-items: center;">
                     <strong>Sundhar Ramasamy</strong><br>
                    <strong>[1Emp20240251]</strong>
                    </div>
                    </div>
                </div>
              </div>
            </div>
          </mat-card-content>
          <br>
        <div class="row">
          <div class="col text-center">
              <button mat-raised-button style="background-color: #25345D; color: white; margin: 0 auto;" (click)="save()">Save</button>
          </div>
      </div>
        </mat-card>
      </form>
      <div >





      </div>
    </mat-card-content>
  </mat-card>
</mat-expansion-panel>
</mat-accordion>
