
<mat-accordion>
  <mat-expansion-panel class="mat_expansion_border" [expanded]="expand" [disabled]="devaitionformenable">
    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5 style="margin-right: 1150px;display: contents; color:rgb(115, 182, 158)">5.Consequences of Deviation</h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>


<form >
  <mat-card class="mat">
    <mat-card-content>
      <!-- <h5 style="text-align: center;padding: 10px; "><strong>CONSEQUENCES OF DEVIATION</strong></h5> -->
      <div >
        <thead>
          <tr>
            <th class="column-heading" style="padding: 10px;background-color: #147737;color: white;">Types of Deviation</th>
            <th class="column-heading" style="padding: 10px;background-color: #147737 ;color: white;">Consequences and How to Avoid</th>
          </tr>
        </thead>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Not following operating procedures. </label>
          </div>
          <div class="column">
            <label for="field2">
              <ul>
              <li>Could lead to unsafe process conditions and or cause false furnace trips.
              Follow operating procedure.
            </li>
          </ul>
        </label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Not filling in the preparation check
              list.</label>
          </div>
          <div class="column">
            <label for="field2">
              <ul>
                <li>Filling in of the check list is critical as this will insure that all the instruments and
              PSVs are in service and the furnace is properly lined up to avoid any dead
              heading and potential incident.</li>
             <li> Fill in the preparation check list.</li>
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Operate furnace with instruments
              placed in manual.</label>
          </div>
          <div class="column">
            <label for="field2">
              <ul><li>Could lead to unsafe process conditions and or cause false furnace trips.</li>
              <li>Potential damage to equipment as abnormal conditions are reached but not
              detected.</li>
              <li> Delays to furnace startup to call out I&E to resolve.</li>
                <li> Make sure to place instruments in auto mode</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to confirm MOV positions</label>
          </div>
          <div class="column">
            <label for="field2"><ul>
              <li>
                Potential fire and explosion from air introduction to cracked gas header or
cracked gas introduction to firebox.
              </li>
              <li>
                Both outside operator and panel operator to confirm the positions of the MOV’s
from outside and inside.</li>
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to open burner registers
              before starting Light off procedure.</label>
          </div>
          <div class="column">
            <label for="field2"><ul>
              <li>  Air purge prevented from flowing proper amount of air through furnace.</li>
              <li>Furnace light off could take place with dangerous localized oxygen deficiencies.</li>
              <li>
                Set all registers to proper light off position per procedure.</li>
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Lighting off without confirming furnace housekeeping is              acceptable.</label>
          </div>
          <div class="column">
            <label for="field2"><ul>
            <li>Potential fires from combustible materials like scaffold boards and tarps.</li>
            <li>Confirm furnace housekeeping is acceptable.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Lighting off without leak checking
              furnace piping.
              </label>
          </div>
          <div class="column">
            <label for="field2"><ul>
              <li>Potential leaks, fires, LOPCs.</li>
              <li>Leak check should be done as per procedure.
              </li>
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failing to properly warm up the
              dilution steam lines.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential damage to radiant coils from shock induced by boil off of condensate
              in coils.</li><li></li>Drain condensate from steam system before introducing the steam.
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to properly drain the decoke
              header.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential damage to firebox refractory from thermal stresses induced by cold
              liquid from decoke header being ejected into the hot firebox when flow through
              coils is started.</li>
              <li>Drain condensate from decoke air system form decoke drain header.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to properly drain the dilution
              steam piping.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential piping damage from evaporating steam hammer due to trapped
              condensate when steam is introduced.
              </li>
            <li>
              Drain condensate from steam system before introducing the steam
            </li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to light off manual burners
              soon after BM sequence is moved
              to Run.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Fuel pressure ramps up in attempt to control arch temperature. When burners
              are lit firing is very hard, and rapid local heating potentially damages refractory
              due to thermal stresses.</li>
            <li>Make sure all manual burners are open and lighted off otherwise raise service
              request for the burners which not working.</li></ul></label>
          </div>
        </div><div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to warm up per dry-out
              procedure following refractory
              maintenance.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential damage to refractory as moisture trapped in the refractory is rapidly
              heated and “busts its way out”</li>
            <li>Follow furnace dry-out procedure.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to confirm free travel of coils at bottom tube guides and
              available travel of spring hangers.
              </label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential for short term coil breakage due to stress as coil grows from heating.
              Potential for long-term furnace problems due to bowed coils as a result of
              hanger and guide system not working properly.</li>
            <li>All guides and spring hangers must be properly prepared for operation prior to
              light off.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to purge nitrogen from fuel
              gas system prior to attempting
              Light off.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Delay to furnace startup and wear and tear on system as multiple trip and purge
              cycles are required to clear fuel headers.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Failure to light burners in proper
              pattern.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Potential damage to coils and refractory as the furnace is heated unevenly as it
              warms up.
              </li>
            <li>Light burners in proper sequence.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Opening pTLE BD line while
              furnace is in operation.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>The blowdown lines connected to the pTLE are intended only for draining the
              system when the furnace is down. Blowing down the pTLEs while the furnace
              is in operation can empty the pTLE of water, overheat it, and lead to cracking.</li>
              <li>P-TLE BD valves should not operated during furnace cracking.
              </li>
            </ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Operating the furnace with the
              pTLE inlet fitting and/or pTLE clean
              out flanges insulated.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>verheating of metal and improper sealing of internal refractory/metal joint in
              the inlet swedge will lead to cracking and leaks over the long term</li>
            <li>Ensure P-TLE inlet and outlet fitting / flanges are not insulated. They should
              have protection cage.
              </li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Hydrocarbons vapor
              cloud/explosion.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>System contains hydrocarbon which could be ignited by any heat source. </li>
              <li>All the drains and vents on the fuel gas/ethane/cracked gas system must be closed
              and capped or plugged off</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Explosion or back firing may occur
              during initial Burner Light Off if fire
              box is not LEL free.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Initial lighting of the auto burners (4 Nos.) will be done remotely from the Control
              Room after ensuring that there are no personnel near the furnace. Before light
              off close vents and drains on fuel gas burner assembly, do gas test at all four
              corners of the fire box.</li></ul></label>
          </div>
        </div>
        <div class="row top-aligned">
          <div class="column">
            <label for="field1">Water hammering</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Warming up, pressurizing and depressurizing of steam, condensate and BFW
              system should be done very slowly to avoid water hammer.
              </li>
            <li>All low points must be drained and proper operation of steam traps checked.
            </li></ul></label>
          </div>
        </div><div class="row top-aligned">
          <div class="column">
            <label for="field1">Opening of combustion air drop out
              doors.</label>
          </div>
          <div class="column">
            <label for="field2"><ul><li>Drop out doors area is caged and personnel are not allowed to access area
              unless the FD Fan is shut down and the furnace is cooled down.</li></ul></label>
          </div>
        </div>

        </div>
        <thead>
          <tr style="display: flex; justify-content: center;">
            <th >  <button class="btn1" mat-raised-button style="background-color: #147737;color: white; " (click)="nxt()">Agree</button></th>
            <th > <button class="btn2" mat-raised-button style="background-color: #147737;color: white;" (click)="showmsg()">Disagree</button></th>
          </tr>
</thead>




      </mat-card-content>
        </mat-card>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <app-checklist-a [checklistformenable]="checklistformenable" [expand]="open1"></app-checklist-a>
