.mat-expansion-panel-header-description {
  
  flex-grow: unset !important;
  margin-left: 10px !important;
}
.mat{
  border-color: rgb(204, 202, 202);
  border-width: thick;
  border-style: double;
  border-radius: 2%;

}
.card{
  border-color: rgb(204, 202, 202);
  border-width: thin;
  border-style:solid;
  border-radius: 2%;
}

h5{
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
}
.gg{
  border:1px solid rgb(51, 50, 50);
  
  
  }
  .input-group-append .input-group-text {
    background-color: #e9ecef;
    border-color: #ced4da;
    z-index: 1;
    border-left: 0;
    border-radius: .25rem;
  }
  .custom-radio {
    display: none;
  }
  
  .custom-radio + label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #343a402b;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .custom-radio[value="Yes"]:checked + label {
    background-color: rgb(155, 247, 155); /* Change to green when selected */
  }
  
  .custom-radio[value="No"]:checked + label {
    background-color: rgb(240, 130, 130); /* Change to red when "Risk" is selected */
  }
  
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .position-row {
    opacity: 0.5; /* or any other styling to indicate disabled state */
    pointer-events: none; /* optionally disable pointer events */
  }