.mat-expansion-panel-header-description {
  
  flex-grow: unset !important;
  margin-left: 10px !important;
}
.mat{
  border-color: rgb(204, 202, 202);
  border-width: thick;
  border-style: double;
  border-radius: 2%;

}
.card{
  border-color: rgb(204, 202, 202);
  border-width: thin;
  border-style:outset;
  border-radius: 2%;

}
h5{
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
}
