<mat-accordion>
  

  <mat-expansion-panel class="mat_expansion_border" [expanded]="false"
  [disabled]="false">

    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5  style="display: contents; color:rgb(115, 182, 158)"><strong>Stage #2 :Processing SWP</strong> </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class= mat>
    <mat-card class="card" [ngClass]="{ 'position-row': position !== 'PAC' }">
      <div style="background-color: #147737; padding: 7px; color: white;">
        <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
      </div>
        
      <mat-card-content>
        <form [formGroup]="Safeworkpermit">
          <h6 style="margin: 1%;"><strong>ECP : {{764564}}</strong></h6>
          
            
        <div class="row mt-3">

<div class="col">
  <label class="label" for="preparations">Preparations And Tests</label>
  <textarea type="text" class="form-control" rows="3"   id="preparations" placeholder="Please Enter preparations" formControlName="preparations_and_test"></textarea>
</div>
<div class="col">
  <label class="label" for="house_keeping_instructions">Waste Disposal & House Keeping Instructions</label>
  <textarea type="text" class="form-control" rows="3"   id="house_keeping_instructions" placeholder="Please Enter Housing Kepping Instruction" formControlName="house_keeping_instructions"></textarea>
</div>
</div>
<div class="row mt-3">

  <div class="col">
    <label class="label" for="environmental_concerns">Environmental Concerns & Safeguards</label>
    <textarea type="text" class="form-control" rows="3"   id="environmental_concerns" placeholder="Please Enter EnvironmentalConcerns&Safeguards " formControlName="environmental_concerns"></textarea>
  </div>
  <div class="col">
    <label class="label" for="Physical_Hazards">Physical Hazards</label>
    <textarea type="text" class="form-control" rows="3"   id="Physical_Hazards" placeholder="Please Enter Physical Hazards" formControlName="Physical_Hazards"></textarea>
  </div>
  </div>
  <div class="row mt-3">
    
    <div class="col">
      <label class="label" for="chemicals_last_contained">Chemicals Last Contained</label>
      <textarea type="text" class="form-control" rows="3"   id="chemicals_last_contained" placeholder="Please Enter Chemicals Last Contained " formControlName="chemicals_last_contained"></textarea>
    </div>
    <div class="col">
      <label class="label" for="inspection_required">Inspection Required During the Job</label>
      <textarea type="text" class="form-control" rows="3"   id="inspection_required" placeholder="Please Enter Inspection_Required" formControlName="inspection_required"></textarea>
    </div>
    </div>
    <div class="row mt-3">
      
      <div class="col">
        <label class="label" for="checklists_Attachments_Required">Checklists / Attachments Required</label>
        <textarea type="text" class="form-control" rows="3"   id="checklists_Attachments_Required" placeholder="Please Enter Checklists/Attachments Required" formControlName="checklists_Attachments_Required"></textarea>
      </div>
      <div class="col">
        <label class="label" for="conditions_set_by">Conditions Set By</label>
        <input type="text" class="form-control" id="conditions_set_by" value="Siva">
      </div>
      </div>
     
       </form>
        </mat-card-content>
        </mat-card>


        <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
          <div style="background-color: #147737; padding: 7px;color: white;">
            <h6 style="margin-left: 40%;"><strong>MC - Master Card</strong></h6>
          </div>
            
          <mat-card-content>
            <form [formGroup]="Safeworkpermit">
              <h6 style="margin: 1%;"><strong>Master Card Number : {{76488}}</strong></h6>
              
                
            <div class="row mt-3">
    
              <div class="col">
                <label class="label" for="date">Date And Time</label>
                <div class="row">
<div class="col-sm-4"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
<div class="col-sm-4"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                </div>
                
                
              </div>
              <div class="col">
                <div class="row">
              <div class="col-sm-4">
                <label class="label" for="red_tag">Total No. of Red Tags</label>
                <input type="text" class="form-control truncate"  formControlName="red_tag" placeholder="Please Enter Red Tag Number" (focusout)="updateRedTagValue()" oninput="this.value = this.value.replace(/[^0-9]/g, '');">

            </div>
            <div class="col-sm-4">
              <label class="label" for="equipment_identification_iD">Equipment Identification ID</label>
              <input type="text" class="form-control" id="equipment_identification_iD" value="56789" readonly >
            </div>
          </div>
          </div>
    </div>
    <div class="row mt-3">
     <div class="col">
        <label class="label" for="reason_for_work">Reason for work</label>
        <textarea type="text" class="form-control"   rows="3" id="reason_for_work" placeholder="Please Enter Reason for work" formControlName="reason_for_work"></textarea>
      </div>
      <div class="col">
        <label class="label" for="work_description">Work Description</label>
        <textarea type="text" class="form-control"   rows="3" id="work_description" placeholder="Please Enter Work Description" formControlName="work_description"></textarea>
      </div>
      </div>
      
      
    
        
      
           </form>
            </mat-card-content>
            </mat-card>

            <mat-card class="card" [ngClass]="{ 'position-row': position !== 'Facility_Rep' || position !== 'Job_Rep' }">
              <div style="background-color: #147737;padding: 1px; margin-top: 2%;color: white;">
                <h6 style="margin-left: 30%; margin-top: 2%;"><strong>Tags added to the location list of ECP while master card is active
                </strong></h6>
              </div>
              <mat-card-content>
                <form [formGroup]="Safeworkpermit">
                 
                  
                  <div class="row mt-3">
              
                    <div class="col-sm-2">
            <label class="label" for="add_tag">Number of added tags</label>
            <input type="text" class="form-control truncate "  id="add_tag" placeholder="Please Enter Add Tag" formControlName="add_tag" oninput="this.value = this.value.replace(/[^0-9]/g, '');" readonly>
          </div>
          <div class="col">
           
          </div>
          </div>
          <div class="row mt-3">
              
           
            <div class="col">
              <label for="facility_representative_sign">Facility Representative (sign)</label>
              <textarea formControlName="facility_representative_sign" class="form-control " rows="3" id="facility_representative_sign" placeholder="Please enter Facility Representative Sign"></textarea>
              <button (click)="showSignatureCard()" style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
          </div>
          <div id="signature-card" *ngIf="showSignature" >
              <canvas id="signature-canvas" width="300" height="150" style="border: 1px solid #000;"></canvas>
              <button (click)="clearCanvas()"style="background-color: #147737;color: white; margin-top: 1%;">Clear</button>
              <button (click)="saveSignature()"style="background-color: #147737;color: white; margin-top: 1%;">Save</button>
          </div>
          
          
          <div class="col">
            <label  for="job_representative_sign">Job Representative (sign)</label>
            <textarea type="text" class="form-control "   rows="3" id="job_representative_sign" placeholder="Please Enter Job Representative Sign" formControlName="job_representative_sign"></textarea>
            <button mat-raised-button style="background-color: #147737; color: white; margin-top: 1%;" (click)="signatureImage.style.display = (signatureImage.style.display === 'none' ? 'block' : 'none')">Signature</button>
            <img #signatureImage src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
            </div>
          </div>
          <div class="row mt-3">
              
           
            <div class="col">
            <label  for="signature_other_unit_facility_representative">Signature of other unit Facility Representative</label>
            <textarea type="text" class="form-control"   rows="3" id="signature_other_unit_facility_representative" placeholder="Please Enter Facility Representative Sign" formControlName="signature_other_unit_facility_representative"></textarea>
            <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage1.style.display = (signatureImage1.style.display === 'none' ? 'block' : 'none')">Signature</button>
                                      <img #signatureImage1 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
            </div>
            <div class="col">
              <label  for="employee_number:">Employee Number</label>
              <textarea type="text" class="form-control"   rows="3" id="employee_number" placeholder="Please Enter Employee Number" formControlName="employee_number" ></textarea>
              <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage2.style.display = (signatureImage2.style.display === 'none' ? 'block' : 'none')">Signature</button>
              <img #signatureImage2 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
              </div>
            </div>
           
                </form>
              </mat-card-content>
              </mat-card>
            <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'ECP_Issuer' }">
              <div style="background-color: #147737; padding: 7px;color: white;">
                <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan</strong></h6>
              </div>
                
              <mat-card-content>
                <form [formGroup]="Safeworkpermit">
                  <div class="row">
                 <div class="col"><h6 style="margin: 1%;"><strong>ECP : {{764564}}</strong></h6></div>
                     <div class="col"><h6 style="margin: 1%;"><strong>Master Card Number : {{76488}}</strong></h6></div>
                       <div class="col"><h6 style="margin: 1%;"><strong>ECP Issued by: {{76488}}</strong></h6></div>
                  </div>
                  
                  <div class="row mt-3">
        
                    <div class="col-sm-4">
                      <label class="label" for="date">Date And Time</label>
                      <div class="row">
      <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" placeholder="Please Enter Date"></div>
      <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime"placeholder="Please Enter Time" ></div>
                      </div>
                      </div>
                      <div class="col-sm-4">
                        <label class="label" for="date">Date And Time</label>
                        <div class="row">
        <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate"placeholder="Please Enter Date" ></div>
        <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime"placeholder="Please Enter Time" ></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="row">
                        <div class="col">
                          <label class="label" for="equipment_id">Equipment ID</label>
                          <input type="text" class="form-control truncate" id="equipment_id" value="11" placeholder="Please Enter Equipment ID " oninput="this.value = this.value.replace(/[^0-9]/g, '');" >
                        </div>
                        <div class="col">
                          <label class="label" for="scope">Scope</label>
                          <input type="text" class="form-control truncate" id="scope" value="jk" placeholder="Please Enter Scope" >
                        </div>
                      </div>
                    </div>
</div>

               
      
        <div class="row mt-3">
        
          <div class="col">
            <label class="label" for="isolating_and_securing">Steps for shutting down, isolating and securing the isolation devices</label>
            <input type="text" class="form-control"  id="isolating_and_securing" placeholder="Please Enter Isolating and Securing " formControlName="isolating_and_securing">
          </div>
          <div class="col">
            <label class="label" for="hazards_energies">List the energy sources being isolated and the hazards associated with those energies</label>
            <input type="text" class="form-control"  id="hazards_energies" placeholder="Please Enter Hazards Energies" formControlName="hazards_energies">
          </div>
          </div>
          <div class="row mt-3">
            
            <div class="col">
              <label class="label" for="residual_energy_material">Method(s) used to release the residual energy and/or materials</label>
              <input type="text" class="form-control"  id="residual_energy_material" placeholder="Please Enter Residual Energy Material" formControlName="residual_energy_material">
            </div>
            <div class="col">
              <label class="label" for="inspection_required_job">Inspection Required During the Job</label>
              <input type="text" class="form-control"  id="inspection_required_job" placeholder="Please Enter Inspection Required" formControlName="inspection_required_job">
            </div>
            </div>
            <div class="row mt-3">
              
              <div class="col">
                <label class="label" for="inadvertent_operation">Method(s) used to secure the isolating devices from inadvertent operation (OnePlus)</label>
                <input type="text" class="form-control truncate"  id="inadvertent_operation" placeholder="Please Enter Inadvertent Operation" formControlName="inadvertent_operation">
              </div>
              <div class="col">
                <label class="label" for="special_instructions">Special Instructions</label>
                <input type="text" class="form-control truncate"  id="special_instructions" placeholder="Please Enter Special Instructions" formControlName="special_instructions">
              </div>
              </div>
             
               </form>
                </mat-card-content>
                </mat-card>
          
  <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
                  <div style="background-color: #147737; padding: 7px;">
                    <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan(Facility Rep.)</strong></h6>
                  </div>
                  <mat-card-content>
                    <form [formGroup]="Safeworkpermit">
                      <table>
                        <tr>
                          <th>Isolation Method</th>
                          <th>Location of Red Tags</th>
                          <th>Red Tag Number</th>
                          <th>Lock Number</th>
                          <th>Tag Removed Date</th>
                          <th>Tag Removed Time</th>
                          <th>Tag Placed Signature</th>
                          <th>Tag Removed Signature</th>
                          

                        </tr>
                        <tr *ngFor="let item of items;let i=index">
                          <td>
                            <div class="truncate">
                              <mat-select class="form-control" style="width: 200px;" formControlName="toppings" multiple>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
                              </mat-select>
                            </div>
                          </td>
                          <td><input type="text" class="form-control truncate" id="location_of_red_tags" placeholder="Please Enter Location of Red Tags" formControlName="location_of_red_tags"></td>
                          <td><input type="text" class="form-control truncate" id="facilityrep_red_tag" placeholder="Please Enter Red Tag" formControlName="facilityrep_red_tag"></td>
                          <td><input type="text" class="form-control truncate" id="lock_number" placeholder="Please Enter Lock Number" formControlName="lock_number"></td>
                          <td><input type="date" class="form-control truncate" id="date" placeholder="Please Enter Date" formControlName="date"></td>
                          <td><input type="time" class="form-control truncate" id="time" placeholder="Please Enter Time" formControlName="time"></td>
                          <td><button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage3.style.display = (signatureImage3.style.display === 'none' ? 'block' : 'none')">Signature</button>
                            <img #signatureImage3 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;"></td>
                            <td><button mat-raised-button style="background-color: #147737; color: white;" (click)="signatureImage4.style.display = (signatureImage4.style.display === 'none' ? 'block' : 'none')">Signature</button>
                              <img #signatureImage4 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;"></td>
                              
                            </tr>
                        
                      </table>
                      <button mat-raised-button type="button" style="background-color: #147737;color: white; margin-left: 90%;margin-top: 1%;" (click)="addRow()">Add Row</button>
                    </form>
                  </mat-card-content>
                  
                  
                    </mat-card>



                    <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'ECP_Issuer' }">
                      <div style="background-color: #147737; padding: 7px;color: white;">
                        <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan(ECP Issuer)</strong></h6>
                      </div>
                        
                      <mat-card-content>
                        <form [formGroup]="Safeworkpermit">
                         
                          
                          <div class="row mt-3">
                
                            <div class="col">
                              <label class="label" for="date">Date And Time</label>
                              <div class="row">
                              <div class="col-sm-4"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                            <div class="col-sm-4"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                              </div>
                          </div>

                          <div class="col">
                            <label class="label" for="tag_added_location">Tags Added to Location List Number (Quantity)</label>
                            <input type="text" class="form-control"  id="tag_added_location" placeholder="Please Enter Tags Added to Location List Number" formControlName="tag_added_location">
                          </div>
                          <div class="col">
                            <label class="label" for="tag_deleted_location">Tags Deleted From Location List Number (Quantity)</label>
                            <input type="text" class="form-control"  id="tag_deleted_location" placeholder="Please Enter Tags Deleted to Location List Number" formControlName="tag_deleted_location">
                          </div>
                         
                              
                           </div>
        
                        <div class="row mt-3">
                
                          <div class="col">
                              
                            <label  for="tags_reconciled_signature">Tags Reconciled Signature</label>
                            <textarea type="text" class="form-control"   rows="3" id="tags_reconciled_signature" placeholder="Please Enter Tags Reconciled Signature" formControlName="tags_reconciled_signature"></textarea>
                            <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage5.style.display = (signatureImage5.style.display === 'none' ? 'block' : 'none')">Signature</button>
                            <img #signatureImage5 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
                            </div>
                            <div class="col">
                              <label  for="tag_deleted_location_sign">Tags Deleted from Location List Signature</label>
                              <textarea type="text" class="form-control"   rows="3" id="tag_deleted_location_sign" placeholder="Please Enter Tags Deleted to Location List Signature" formControlName="tag_deleted_location_sign"></textarea>
                              <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage6.style.display = (signatureImage6.style.display === 'none' ? 'block' : 'none')">Signature</button>
                                      <img #signatureImage6 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
                              </div>  
                            
                
                
                  
                  
                    <div class="col">
                      <label  for="tag_added_location_sign">Tags Added to Location List Signature</label>
                      <textarea type="text" class="form-control"   rows="3" id="tag_added_location_sign" placeholder="Please Enter Tags Added to Location List Signature" formControlName="tag_added_location_sign"></textarea>
                      <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage7.style.display = (signatureImage7.style.display === 'none' ? 'block' : 'none')">Signature</button>
                      <img #signatureImage7 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
                      </div>
                    
                   </div>
                     
                       </form>
                        </mat-card-content>
                        </mat-card>


                        <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
                          <div style="background-color: #147737; padding: 7px; color: white;">
                            <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
                          </div>
                            <h6 style="text-align: center;">Atmospheric Test Requirements</h6>
                            <h6 style="text-align: center;">Initial Test</h6>
                          <mat-card-content>
                            <form [formGroup]="Safeworkpermit">
                             
                              
                              <div class="row mt-3">
                    
                                
                                <div class="col"><label >User Initials : {{'operator'}}</label></div>
                              
                              <div class="col">
                                
                                </div>
                            </div>
                              
                              
                              <div class="row mt-3">
                    
                                <div class="col-sm-4">
                                <div class="row">
                                  <div class="col">
                                  <label class="label" for="initial_oxygen">oxygen</label>
                                  <div class="input-group">
                                      <input type="text" class="form-control truncate" id="initial_oxygen" placeholder="Please Enter oxygen" formControlName="initial_oxygen">
                                      <div class="input-group-append">
                                          <span class="input-group-text">%</span>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col-sm-6">
                                <label class="label" for="initial_lel">LEL</label>
                                <div class="input-group">
                                    <input type="text" class="form-control truncate" id="initial_lel" placeholder="Please Enter LEL" formControlName="initial_lel">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                          </div>
                       </div>
                          <div class="col-sm-4">
                            <label class="label" for="date">Date And Time</label>
                            <div class="row">
                            <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                          <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                            </div>
                      </div>
                      <div class="col-sm-4">
                        <label class="label" for="initial_others">Initial Others</label>
                        <input type="text" class="form-control truncate"  id="initial_others" placeholder="Please Enter others" formControlName="initial_others">
                      </div>
                              </div>
                              
                              <mat-card class="mt-2">
                            <div class="row mt-1" style="background-color: #147737; padding: 5px;color: white; text-align: center;">
                    
                              <div class="col">
                                <label class="label"  >Retest #1</label>
                               
                              </div>
                              <div class="col">
                                <label class="label ">Retest #2</label>
                                
                                </div>
                    </div>
                    <div class="row mt-3">
                    
                      <div class="col">
                        <div class="row"><label >User Initials : {{'operator'}}</label></div>
                        <div class="col">
                          <div class="row">
                          <div class="col">
                            <label class="label" style="margin-right: 2%;" for="Retest_1_oxygen">oxygen</label>
                            <div class="input-group">
                                <input type="text" class="form-control truncate" id="Retest_1_oxygen" placeholder="Please Enter oxygen" formControlName="Retest_1_oxygen">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                          <label class="label" for="retest_1_lel">LEL</label>
                          <div class="input-group">
                              <input type="text"class="form-control truncate"  id="retest_1_lel" placeholder="Please Enter LEL" formControlName="retest_1_lel">
                              <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                              </div>
                          </div>
                          </div>
                        </div>
                        </div>
                        
                        <div class="row">
                          <label class="label " for="date">Date And Time</label>
                          
                    </div>
                    <div class="row">
                      <div class="col"><input type="date" class="form-control " id="date" [value]="formattedDate" ></div>
                    <div class="col"><input type="time" class="form-control truncate" id="date" [value]="formattedTime" ></div>
                  </div>
                        <div class="row">
                          <label class="label" for="retest_1_others">Others</label>
                          <input type="text" class="form-control truncate"  id="retest_1_others" placeholder="Please Enter others" formControlName="retest_1_others">
                        </div>
                      
                        

                
                      </div>
                      <div class="col">
                        <div class="row"><label >User Initials : {{'operator'}}</label></div>
                        <div class="row">
                        <div class="col">
                          <label class="label" for="Retest_2_oxygen">oxygen</label>
                          <div class="input-group">
                              <input type="text" class="form-control truncate" id="Retest_2_oxygen" placeholder="Please Enter oxygen" formControlName="Retest_2_oxygen">
                              <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col">
                        <label class="label" for="retest_2_lel">LEL</label>
                        <div class="input-group">
                            <input type="text" class="form-control truncate"  id="retest_2_lel" placeholder="Please Enter LEL" formControlName="retest_2_lel">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                      </div>
                        </div>
                        <div class="row">
                          <label class="label ml-1" for="date">Date And Time</label>
                          
                      </div>
                      <div class="row">
                        <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                      <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                    </div>
                        <div class="row">
                          <label class="label ml-1" for="retest_2_others">Others</label>
                          <input type="text" class="form-control ml-2"  id="retest_2_others" placeholder="Please Enter others" formControlName="retest_2_others">
                        </div>
                      
                       

                    
                      </div>
                       </div>
                         </mat-card>
                           </form>
                            </mat-card-content>
                            </mat-card>


                            <mat-card class= "card" [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
                              <div style="background-color: #147737; padding: 7px;color: white;">
                                <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
                              </div>
                                 <h6 style="text-align: center;">Equipment Prepared by (Facility Rep.)</h6>
                              <mat-card-content>
                                <form [formGroup]="Safeworkpermit">
                                 
                                  
                                  <div class="row mt-3">
                                    <div class="col">
                                      <label class="label" for="equipment_prepared_facility_rep">Name</label>
                                      <input type="text" class="form-control truncate"  id="equipment_prepared_facility_rep" placeholder="Please Enter Name" formControlName="equipment_prepared_facility_rep">
                                    </div>
                                    <div class="col">
                                      <label class="label" for="equipment_prepared_employee_number">Employee Number</label>
                                      <input type="text" class="form-control truncate"  id="equipment_prepared_employee_number" placeholder="Please Enter Employee Number" formControlName="equipment_prepared_employee_number">
                                    </div>
                                   
                                   
                                      
                                   
                        
                                  <div class="col">
                                    <label class="label" for="date">Date And Time</label>
                                    <div class="row">
                                    <div class="col-sm-6"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                                  <div class="col-sm-6.5"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                                    </div>
                                </div>
                                <div class="col">
                                  <label class="label" for="equipment_prepared_master_card_Number">Master Card Number</label>
                                  <input type="text" class="form-control truncate"  id="equipment_prepared_master_card_Number" placeholder="Please Enter Master Card Number" formControlName="equipment_prepared_master_card_Number">
                                </div>
                        </div>
                        <div class="row mt-3">
                        
                          <div class="col">
                            <label class="label" for="fire_watch_name">Fire Watch Name</label>
                            <input type="text" class="form-control truncate"  id="fire_watch_name" placeholder="Please Enter Fire Watch Nmae" formControlName="fire_watch_name">
                          </div>
                          <div class="col">
                            <label class="label" for="initial_dep_rep">Initial of the other Dep Rep</label>
                            <input type="text" class="form-control truncate"  id="initial_dep_rep" placeholder="Please Enter Dep Rep" formControlName="initial_dep_rep">
                          </div>
                          
                        
                            <div class="col">
                              <label class="label" for="safety_attendant_name">Safety Attendant Name</label>
                              <input type="text" class="form-control truncate"  id="safety_attendant_name" placeholder="Please Enter Safety Attendant Name" formControlName="safety_attendant_name">
                            </div>
                            <div class="col">
                              <label class="label" for="reviewed_by_trso">Reviewed by TRSO</label>
                              <input type="text" class="form-control truncate"  id="reviewed_by_trso" placeholder="Please Enter Reviewed by TRSO" formControlName="reviewed_by_trso">
                            </div>
                             </div>
                             <div class="row mt-3">
                        
                              <div class="col">
                                <label class="label" for="contractor_rso">Contractor RSO</label>
                                <input type="text" class="form-control truncate"  id="contractor_rso" placeholder="Please Enter Contractor RSO" formControlName="contractor_rso">
                              </div>
                              <div class="col">
                                <label class="label" for="outside_barricade">Radiation Reading Outside Barricade</label>
                                <input type="text" class="form-control truncate"  id="outside_barricade" placeholder="Please Enter Outside Barricade" formControlName="outside_barricade">
                              </div>
                               
                        
                                <div class="col">
                                  <label class="label" for="inside_barricade">Radiation Reading Inside Barricade</label>
                                  <input type="text" class="form-control truncate"  id="inside_barricade" placeholder="Please Enter InsideBarricade" formControlName="inside_barricade">
                                </div>
                                <div class="col">
                                  <label class="label" >All radiation safe condition applied</label>
                                  <div class="button-group">
                                    <input type="radio" class="custom-radio form-control" id="radition_safe_condition-Yes"
                                    name="radition_safe_condition" value="Yes" formControlName="radition_safe_condition"
                                   />
                                  <label for="radition_safe_condition-Yes" class="action">Yes</label>
                      
                                  <input type="radio" class="custom-radio form-control ml-2" id="radition_safe_condition-No"
                                    name="radition_safe_condition" value="No" formControlName="radition_safe_condition"
                                   />
                                  <label for="radition_safe_condition-No" class="action ml-2">No</label>
                                    
                                    </div>
                                </div>
                                 </div>
                               </form>
                                </mat-card-content>
                                </mat-card>



                                <mat-card class= "card">
                                  <div style="background-color: #147737; padding: 7px;color: white;">
                                    <h6 style="margin-left: 40%;"><strong>MC - Master Card</strong></h6>
                                  </div>
                              
                                     <h6 style="text-align: center;margin-top: 1%;">Equipment is Prepared for Work Described Above</h6>
                                  <mat-card-content>
                                    <form [formGroup]="Safeworkpermit">
                                    
                                      <div [ngClass]="{ 'position-row': position !== 'Facility_Rep' }">
                                      <div class="row mt-3">
                                        <div class="col">
                                          <label class="label" for="facility_representative_name">Facility Representative Name</label>
                                          <input type="text" class="form-control truncate"  id="facility_representative_name" placeholder="Please Enter Facility Representative Name" formControlName="facility_representative_name">
                                        </div>
                                        <div class="col">
                                          <label class="label" for="facility_representative_employee_number">Facility Representative Employee Numbe</label>
                                          <input type="text" class="form-control truncate"  id="facility_representative_employee_number" placeholder="Please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number">
                                        </div>
                                       
                                       
                                          
                                       
                            
                                      <div class="col">
                                        <label class="label" for="date">Date And Time</label>
                                        <div class="row">
                                        <div class="col-sm-6"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                                      <div class="col-sm-6.5"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                      <label class="label" for="facility_representative_employee_number_sign">Facility Representative Employee Number</label>
                                      <textarea type="text" class="form-control truncate"   rows="1" id="facility_representative_employee_number" placeholder="Please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number"></textarea>
                                      <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%" (click)="signatureImage8.style.display = (signatureImage8.style.display === 'none' ? 'block' : 'none')">Signature</button>
                                      <img #signatureImage8 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 1px;">
                                    </div>
                            </div>
                          </div>

                            <!-- <div class="row mt-3">
                              <div class="col">
                                <label class="label" for="facility_representative_name">Facility Representative Name</label>
                                <input type="text" class="form-control"  id="facility_representative_name" placeholder="Please Enter Facility Representative Name" formControlName="facility_representative_name">
                              </div>
                              <div class="col">
                                <label class="label" for="facility_representative_employee_number">Facility Representative Employee Numbe</label>
                                <input type="text" class="form-control"  id="facility_representative_employee_number" placeholder="Please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number">
                              </div>
                             
                             
                                
                             </div>
          
                          <div class="row mt-3">
                  
                            <div class="col">
                              <label class="label" for="date">Date And Time</label>
                              <div class="row">
                              <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                            <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                              </div>
                          </div>
                          <div class="col">
                            <label class="label" for="facility_representative_employee_number">Facility Representative Employee Number</label>
                            <textarea type="text" class="form-control"   rows="3" id="facility_representative_employee_number" placeholder="Please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number"></textarea>
                            <button  style="background-color: #147737;color: white; margin-top: 1%;" >Signature</button>
                          </div>
                  </div> -->
                  <div style="background-color: #147737;color: white;padding: 3px;margin-top: 2%;">
                  <h6 style="text-align: center;"><strong> MC - Master Card PEFM Confirmation Job Representative</strong></h6>
                </div>
                  <div [ngClass]="{ 'position-row': position !== 'Job_Rep' }">
                  <div class="row mt-3">
                    <div class="col">
                      <label class="label" for="job_facility_representative_name">Facility Representative Name</label>
                      <input type="text" class="form-control truncate"  id="job_facility_representative_name" placeholder="Please Enter Job Facility Representative Name" formControlName="job_facility_representative_name">
                    </div>
                    <div class="col">
                      <label class="label" for="job_facility_representative_employee_number">Facility Representative Employee Numbe</label>
                      <input type="text" class="form-control truncate"  id="job_facility_representative_employee_number" placeholder="Please Enter Job Facility Representative Employee Number" formControlName="job_facility_representative_employee_number">
                    </div>
                    <div class="col">
                      <label class="label" for="date">Date And Time</label>
                      <div class="row">
                      <div class="col-sm-6"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                    <div class="col-sm-6.5"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                      
                   </div>
                      </div>
                   
        
                 
                
                <div class="col">
                  <label class="label" for="job_facility_representative_employee_number_sign">Facility Representative Employee Number</label>
                  <textarea type="text" class="form-control"   rows="1" id="job_facility_representative_employee_number_sign" placeholder="Please Enter Job Facility Representative Employee Number" formControlName="job_facility_representative_employee_number_sign"></textarea>
                  <button mat-raised-button style="background-color: #147737; color: white;margin-top: 1%;" (click)="signatureImage9.style.display = (signatureImage9.style.display === 'none' ? 'block' : 'none')">Signature</button>
                  <img #signatureImage9 src="../../../assets/img/sign.png" alt="Signature" style="max-width: 100px; max-height: 100px; display: none; margin-left: 10px;">
                </div>
                
        </div>
</div>
                                   </form>
                                    </mat-card-content>
                                    </mat-card>


          </mat-card>

      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <app-swapapproval></app-swapapproval>
