<mat-accordion>
  

  <mat-expansion-panel class="mat_expansion_border" [expanded]="false"
  [disabled]="false">

    <mat-expansion-panel-header class="mat_expansion_header_border">
      <div class="row">
        <h5  style="display: contents; color:rgb(115, 182, 158)"><strong>Stage #2 :Processing SWP</strong> </h5>
      </div>
      <mat-panel-description></mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card class= mat>
    <mat-card class= card>
      <div style="background-color: #147737; padding: 7px; color: white;">
        <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
      </div>
        
      <mat-card-content>
        <form [formGroup]="Safeworkpermit">
          <h3 style="margin: 1%;">ECP : {{764564}}</h3>
          
            
        <div class="row mt-3">

<div class="col">
  <label class="label" for="preparations">Preparations And Tests</label>
  <textarea type="text" class="form-control" rows="3"   id="preparations" placeholder="please Enter preparations" formControlName="preparations_and_test"></textarea>
</div>
<div class="col">
  <label class="label" for="house_keeping_instructions">Waste Disposal & House Keeping Instructions</label>
  <textarea type="text" class="form-control" rows="3"   id="house_keeping_instructions" placeholder="please Enter Housing Kepping Instruction" formControlName="house_keeping_instructions"></textarea>
</div>
</div>
<div class="row mt-3">

  <div class="col">
    <label class="label" for="environmental_concerns">Environmental Concerns & Safeguards</label>
    <textarea type="text" class="form-control" rows="3"   id="environmental_concerns" placeholder="please Enter EnvironmentalConcerns&Safeguards " formControlName="environmental_concerns"></textarea>
  </div>
  <div class="col">
    <label class="label" for="Physical_Hazards">Physical Hazards</label>
    <textarea type="text" class="form-control" rows="3"   id="Physical_Hazards" placeholder="please Enter Physical Hazards" formControlName="Physical_Hazards"></textarea>
  </div>
  </div>
  <div class="row mt-3">
    
    <div class="col">
      <label class="label" for="chemicals_last_contained">Chemicals Last Contained</label>
      <textarea type="text" class="form-control" rows="3"   id="chemicals_last_contained" placeholder="please Enter Chemicals Last Contained " formControlName="chemicals_last_contained"></textarea>
    </div>
    <div class="col">
      <label class="label" for="inspection_required">Inspection Required During the Job</label>
      <textarea type="text" class="form-control" rows="3"   id="inspection_required" placeholder="please Enter Inspection_Required" formControlName="inspection_required"></textarea>
    </div>
    </div>
    <div class="row mt-3">
      
      <div class="col">
        <label class="label" for="checklists_Attachments_Required">Checklists / Attachments Required</label>
        <textarea type="text" class="form-control" rows="3"   id="checklists_Attachments_Required" placeholder="please Enter Checklists/Attachments Required" formControlName="checklists_Attachments_Required"></textarea>
      </div>
      <div class="col">
        <label class="label" for="conditions_set_by">Conditions Set By</label>
        <input type="text" class="form-control" id="conditions_set_by" value="Siva">
      </div>
      </div>
     
       </form>
        </mat-card-content>
        </mat-card>


        <mat-card class= card>
          <div style="background-color: #147737; padding: 7px;color: white;">
            <h6 style="margin-left: 40%;"><strong>MC - Master Card</strong></h6>
          </div>
            
          <mat-card-content>
            <form [formGroup]="Safeworkpermit">
              <h3 style="margin: 1%;">Master Card Number : {{76488}}</h3>
              
                
            <div class="row mt-3">
    
              <div class="col">
                <label class="label" for="date">Date And Time</label>
                <div class="row">
<div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
<div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                </div>
                
                
              </div>
    <div class="col">
      <label class="label" for="red_tag">Total No. of Red Tags</label>
      <input type="text" class="form-control"  id="red_tag" placeholder="please Enter Red Tag" formControlName="red_tag" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
    </div>
    </div>
    <div class="row mt-3">
    
     
      <div class="col">
        <label class="label" for="reason_for_work">Reason for work</label>
        <textarea type="text" class="form-control"   rows="3" id="reason_for_work" placeholder="please Enter Reason for work" formControlName="reason_for_work"></textarea>
      </div>
      <div class="col">
        <label class="label" for="work_description">Work Description</label>
        <textarea type="text" class="form-control"   rows="3" id="work_description" placeholder="please Enter Work Description" formControlName="work_description"></textarea>
      </div>
      </div>
      
      
      <div class="row mt-3">
        
        <div class="col">
          <label class="label" for="equipment_identification_iD">Equipment Identification ID</label>
          <input type="text" class="form-control" id="equipment_identification_iD" value="56789" readonly >
        </div>
        <div class="col">
         
        </div>
        </div>
        
        <div style="background-color: #147737;padding: 1px; margin-top: 2%;color: white;">
          <h6 style="margin-left: 30%; margin-top: 2%;"><strong>Tags added to the location list of ECP while master card is active
          </strong></h6>
        </div>
        
        <div class="row mt-3">
    
          <div class="col">
  <label class="label" for="add_tag">Number of added tags</label>
  <input type="text" class="form-control"  id="add_tag" placeholder="please Enter Add Tag" formControlName="add_tag" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
</div>
<div class="col">
 
</div>
</div>
<div class="row mt-3">
    
 
  <div class="col">
    <label for="facility_representative_sign">Facility Representative (sign)</label>
    <textarea formControlName="facility_representative_sign" class="form-control" rows="3" id="facility_representative_sign" placeholder="Please enter Facility Representative Sign"></textarea>
    <button (click)="showSignatureCard()" style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
</div>
<div id="signature-card" *ngIf="showSignature" >
    <canvas id="signature-canvas" width="300" height="150" style="border: 1px solid #000;"></canvas>
    <button (click)="clearCanvas()"style="background-color: #147737;color: white; margin-top: 1%;">Clear</button>
    <button (click)="saveSignature()"style="background-color: #147737;color: white; margin-top: 1%;">Save</button>
</div>


<div class="col">
  <label  for="job_representative_sign">Job Representative (sign)</label>
  <textarea type="text" class="form-control"   rows="3" id="job_representative_sign" placeholder="please Enter Job Representative Sign" formControlName="job_representative_sign"></textarea>
  <button  style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
  </div>
</div>
<div class="row mt-3">
    
 
  <div class="col">
  <label  for="signature_other_unit_facility_representative">Signature of other unit Facility Representative</label>
  <textarea type="text" class="form-control"   rows="3" id="signature_other_unit_facility_representative" placeholder="please Enter Facility Representative Sign" formControlName="signature_other_unit_facility_representative"></textarea>
  <button  style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
  </div>
  <div class="col">
    <label  for="employee_number:">Employee Number</label>
    <textarea type="text" class="form-control"   rows="3" id="employee_number" placeholder="please Enter Employee Number" formControlName="employee_number"></textarea>
    <button  style="background-color: #147737;color: white; margin-top: 1%;" >Signature</button>
    </div>
  </div>
           </form>
            </mat-card-content>
            </mat-card>

            <mat-card class= card>
              <div style="background-color: #147737; padding: 7px;color: white;">
                <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan</strong></h6>
              </div>
                
              <mat-card-content>
                <form [formGroup]="Safeworkpermit">
                  <div class="row">
                 <div class="col"><h5 style="margin: 1%;">ECP : {{764564}}</h5></div>
                     <div class="col"><h5 style="margin: 1%;">Master Card Number : {{76488}}</h5></div>
                       <div class="col"><h5 style="margin: 1%;">ECP Issued by: {{76488}}</h5></div>
                  </div>
                  
                  <div class="row mt-3">
        
                    <div class="col">
                      <label class="label" for="date">Date And Time</label>
                      <div class="row">
      <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
      <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                      </div>
                      </div>
                      <div class="col">
                        <label class="label" for="date">Date And Time</label>
                        <div class="row">
        <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
        <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                        </div>
                    </div>
</div>

                <div class="row mt-3">
        
        <div class="col">
          <label class="label" for="equipment_id">Equipment ID</label>
          <input type="text" class="form-control" id="equipment_id" value="hhh"  >
        </div>
        <div class="col">
          <label class="label" for="scope">Scope</label>
          <input type="text" class="form-control" id="scope" value="jk"  >
        </div>
        </div>
        <div class="row mt-3">
        
          <div class="col">
            <label class="label" for="isolating_and_securing">Steps for shutting down, isolating and securing the isolation devices</label>
            <input type="text" class="form-control"  id="isolating_and_securing" placeholder="please Enter Isolating and Securing " formControlName="isolating_and_securing">
          </div>
          <div class="col">
            <label class="label" for="hazards_energies">List the energy sources being isolated and the hazards associated with those energies</label>
            <input type="text" class="form-control"  id="hazards_energies" placeholder="please Enter Hazards Energies" formControlName="hazards_energies">
          </div>
          </div>
          <div class="row mt-3">
            
            <div class="col">
              <label class="label" for="residual_energy_material">Method(s) used to release the residual energy and/or materials</label>
              <input type="text" class="form-control"  id="residual_energy_material" placeholder="please Enter Residual Energy Material" formControlName="residual_energy_material">
            </div>
            <div class="col">
              <label class="label" for="inspection_required_job">Inspection Required During the Job</label>
              <input type="text" class="form-control"  id="inspection_required_job" placeholder="please Enter Inspection Required" formControlName="inspection_required_job">
            </div>
            </div>
            <div class="row mt-3">
              
              <div class="col">
                <label class="label" for="inadvertent_operation">Method(s) used to secure the isolating devices from inadvertent operation (OnePlus)</label>
                <input type="text" class="form-control"  id="inadvertent_operation" placeholder="please Enter Inadvertent Operation" formControlName="inadvertent_operation">
              </div>
              <div class="col">
                <label class="label" for="special_instructions">Special Instructions</label>
                <input type="text" class="form-control"  id="special_instructions" placeholder="please Enter Special Instructions" formControlName="special_instructions">
              </div>
              </div>
             
               </form>
                </mat-card-content>
                </mat-card>
          
  <!-- <mat-card class= card>
                  <div style="background-color: #147737; padding: 7px;">
                    <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan(Facility Rep.)</strong></h6>
                  </div>
                    
                  <mat-card-content>
                    <form [formGroup]="Safeworkpermit">
                     
                      
                      <div class="row mt-3">
                        <div class="row">
                            <div style="display:inline; flex-wrap:initial;">
                              <mat-form-field>
                                <label>Isolation Method</label>
                                <mat-select class="gg" formControlName="toppings" multiple>
                                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{ topping }}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="col">
                          <label class="label" for="location_of_red_tags">Location of Red Tags</label>
                          <input type="text" class="form-control"  id="location_of_red_tags" placeholder="please Enter Location of Red Tags" formControlName="location_of_red_tags">
                        </div>
                    </div>
                    
                    
                    
    
    
                    <div class="row mt-3">
            
                      <div class="col">
                        <label class="label" for="facilityrep_red_tag">Red Tag Number</label>
                        <input type="text" class="form-control"  id="facilityrep_red_tag" placeholder="please Enter Red Tag" formControlName="facilityrep_red_tag">
                      </div>
                      <div class="col">
                        <label class="label" for="lock_number">Lock Number</label>
                        <input type="text" class="form-control"  id="lock_number" placeholder="please Enter Lock Number" formControlName="lock_number">
                      </div>
            </div>
            <div class="row mt-3">
            
              <div class="col">
                <label class="label" for="isolating_and_securing">Steps for shutting down, isolating and securing the isolation devices</label>
                <input type="text" class="form-control"  id="isolating_and_securing" placeholder="please Enter Isolating and Securing " formControlName="isolating_and_securing">
              </div>
              <div class="col">
                <label class="label" for="hazards_energies">List the energy sources being isolated and the hazards associated with those energies</label>
                <input type="text" class="form-control"  id="hazards_energies" placeholder="please Enter Hazards Energies" formControlName="hazards_energies">
              </div>
              </div>
              <div class="row mt-3">
                
                <div class="col">
                  <label class="label" for="residual_energy_material">Method(s) used to release the residual energy and/or materials</label>
                  <input type="text" class="form-control"  id="residual_energy_material" placeholder="please Enter Residual Energy Material" formControlName="residual_energy_material">
                </div>
                <div class="col">
                  <label class="label" for="inspection_required_job">Inspection Required During the Job</label>
                  <input type="text" class="form-control"  id="inspection_required_job" placeholder="please Enter Inspection Required" formControlName="inspection_required_job">
                </div>
                </div>
                <div class="row mt-3">
                  
                  <div class="col">
                    <label class="label" for="inadvertent_operation">Method(s) used to secure the isolating devices from inadvertent operation (OnePlus)</label>
                    <input type="text" class="form-control"  id="inadvertent_operation" placeholder="please Enter Inadvertent Operation" formControlName="inadvertent_operation">
                  </div>
                  <div class="col">
                    <label class="label" for="special_instructions">Special Instructions</label>
                    <input type="text" class="form-control"  id="special_instructions" placeholder="please Enter Special Instructions" formControlName="special_instructions">
                  </div>
                  </div>
                 
                   </form>
                    </mat-card-content>
                    </mat-card> -->



                    <mat-card class= card>
                      <div style="background-color: #147737; padding: 7px;color: white;">
                        <h6 style="margin-left: 40%;"><strong>ECP - Energy Control Plan(ECP Issuer)</strong></h6>
                      </div>
                        
                      <mat-card-content>
                        <form [formGroup]="Safeworkpermit">
                         
                          
                          <div class="row mt-3">
                
                            <div class="col">
                              <label class="label" for="date">Date And Time</label>
                              <div class="row">
                              <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                            <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                              </div>
                          </div>
                            <div class="col">
                              
                              <label  for="tags_reconciled_signature">Tags Reconciled Signature</label>
                              <textarea type="text" class="form-control"   rows="3" id="tags_reconciled_signature" placeholder="please Enter Tags Reconciled Signature" formControlName="tags_reconciled_signature"></textarea>
                              <button  style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
                              </div>
                              
                           </div>
        
                        <div class="row mt-3">
                
                          <div class="col">
                            <label class="label" for="tag_added_location">Tags Added to Location List Number (Quantity)</label>
                            <input type="text" class="form-control"  id="tag_added_location" placeholder="please Enter Tags Added to Location List Number" formControlName="tag_added_location">
                          </div>
                          <div class="col">
                            <label  for="tag_added_location_sign">Tags Added to Location List Signature</label>
                            <textarea type="text" class="form-control"   rows="3" id="tag_added_location_sign" placeholder="please Enter Tags Added to Location List Signature" formControlName="tag_added_location_sign"></textarea>
                            <button  style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
                            </div>
                </div>
                <div class="row mt-3">
                
                  <div class="col">
                    <label class="label" for="tag_deleted_location">Tags Deleted From Location List Number (Quantity)</label>
                    <input type="text" class="form-control"  id="tag_deleted_location" placeholder="please Enter Tags Deleted to Location List Number" formControlName="tag_deleted_location">
                  </div>
                  <div class="col">
                    <label  for="tag_deleted_location_sign">Tags Deleted from Location List Signature</label>
                    <textarea type="text" class="form-control"   rows="3" id="tag_deleted_location_sign" placeholder="please Enter Tags Deleted to Location List Signature" formControlName="tag_deleted_location_sign"></textarea>
                    <button  style="background-color: #147737;color: white; margin-top: 1%;">Signature</button>
                    </div>
                   </div>
                     
                       </form>
                        </mat-card-content>
                        </mat-card>


                        <mat-card class= card>
                          <div style="background-color: #147737; padding: 7px; color: white;">
                            <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
                          </div>
                            <h6 style="text-align: center;">Atmospheric Test Requirements</h6>
                            <h6 style="text-align: center;">Initial Test</h6>
                          <mat-card-content>
                            <form [formGroup]="Safeworkpermit">
                             
                              
                              <div class="row mt-3">
                    
                                
                                <div class="col"><label >User Initials : {{'operator'}}</label></div>
                              
                              <div class="col">
                                
                                </div>
                            </div>
                              
                              
                              <div class="row mt-3">
                    
                                <div class="col">
                                <div class="row">
                                  <div class="col">
                                  <label class="label" for="initial_oxygen">oxygen</label>
                                  <div class="input-group">
                                      <input type="text"  id="initial_oxygen" placeholder="please Enter oxygen" formControlName="initial_oxygen">
                                      <div class="input-group-append">
                                          <span class="input-group-text">%</span>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="col">
                                <label class="label" for="initial_lel">LEL</label>
                                <div class="input-group">
                                    <input type="text"  id="initial_lel" placeholder="please Enter LEL" formControlName="initial_lel">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                          </div>
                       </div>
                          <div class="col">
                            <label class="label" for="date">Date And Time</label>
                            <div class="row">
                            <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                          <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                            </div>
                      </div>
                        
                              </div>
                              <div class="row mt-3">
                    
                                
                                <div class="col">
                                  <label class="label" for="initial_others">Initial Others</label>
                                  <input type="text" class="form-control"  id="initial_others" placeholder="please Enter others" formControlName="initial_others">
                                </div>
                              <div class="col"></div>
                               
                              </div>
                              <mat-card class="mt-2">
                            <div class="row mt-1" style="background-color: #147737; padding: 5px;color: white; text-align: center;">
                    
                              <div class="col">
                                <label class="label"  >Retest #1</label>
                               
                              </div>
                              <div class="col">
                                <label class="label ">Retest #2</label>
                                
                                </div>
                    </div>
                    <div class="row mt-3">
                    
                      <div class="col">
                        <div class="row"><label class="ml-3">User Initials : {{'operator'}}</label></div>
                        <div class="col">
                          <div class="row">
                          <div class="col">
                            <label class="label ml-3" for="Retest_1_oxygen">oxygen</label>
                            <div class="input-group">
                                <input type="text" class="ml-3" id="Retest_1_oxygen" placeholder="please Enter oxygen" formControlName="Retest_1_oxygen">
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                          <label class="label" for="retest_1_lel">LEL</label>
                          <div class="input-group">
                              <input type="text"  id="retest_1_lel" placeholder="please Enter LEL" formControlName="retest_1_lel">
                              <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                              </div>
                          </div>
                          </div>
                        </div>
                        </div>
                        
                        <div class="row-1">
                          <label class="label ml-2" for="date">Date And Time</label>
                          <div class="row-1">
                          <div class="col"><input type="date" class="form-control " id="date" [value]="formattedDate" ></div>
                        <div class="col"><input type="time" class="form-control " id="date" [value]="formattedTime" ></div>
                          </div>
                    </div>
                        <div class="row">
                          <label class="label ml-3" for="retest_1_others">Others</label>
                          <input type="text" class="form-control ml-3"  id="retest_1_others" placeholder="please Enter others" formControlName="retest_1_others">
                        </div>
                      
                        

                
                      </div>
                      <div class="col">
                        <div class="row"><label class="ml-3">User Initials : {{'operator'}}</label></div>
                        <div class="row">
                        <div class="col">
                          <label class="label ml-3" for="Retest_2_oxygen">oxygen</label>
                          <div class="input-group">
                              <input type="text" class="ml-3" id="Retest_2_oxygen" placeholder="please Enter oxygen" formControlName="Retest_2_oxygen">
                              <div class="input-group-append">
                                  <span class="input-group-text">%</span>
                              </div>
                          </div>
                      </div>
                      
                      <div class="col">
                        <label class="label ml-3" for="retest_2_lel">LEL</label>
                        <div class="input-group">
                            <input type="text" class="ml-3"  id="retest_2_lel" placeholder="please Enter LEL" formControlName="retest_2_lel">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                      </div>
                        </div>
                        <div class="row-1">
                          <label class="label ml-2" for="date">Date And Time</label>
                          <div class="row-2">
                          <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                        <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                          </div>
                    </div>
                        <div class="row">
                          <label class="label ml-3" for="retest_2_others">Others</label>
                          <input type="text" class="form-control ml-3"  id="retest_2_others" placeholder="please Enter others" formControlName="retest_2_others">
                        </div>
                      
                       

                    
                      </div>
                       </div>
                         </mat-card>
                           </form>
                            </mat-card-content>
                            </mat-card>


                            <mat-card class= card>
                              <div style="background-color: #147737; padding: 7px;color: white;">
                                <h6 style="margin-left: 40%;"><strong>SWP - Safe Work Permit</strong></h6>
                              </div>
                                 <h6 style="text-align: center;">Equipment Prepared by (Facility Rep.)</h6>
                              <mat-card-content>
                                <form [formGroup]="Safeworkpermit">
                                 
                                  
                                  <div class="row mt-3">
                                    <div class="col">
                                      <label class="label" for="equipment_prepared_facility_rep">Name</label>
                                      <input type="text" class="form-control"  id="equipment_prepared_facility_rep" placeholder="please Enter Name" formControlName="equipment_prepared_facility_rep">
                                    </div>
                                    <div class="col">
                                      <label class="label" for="equipment_prepared_employee_number">Employee Number</label>
                                      <input type="text" class="form-control"  id="equipment_prepared_employee_number" placeholder="please Enter Employee Number" formControlName="equipment_prepared_employee_number">
                                    </div>
                                   
                                   
                                      
                                   </div>
                
                                <div class="row mt-3">
                        
                                  <div class="col">
                                    <label class="label" for="date">Date And Time</label>
                                    <div class="row">
                                    <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                                  <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                                    </div>
                                </div>
                                <div class="col">
                                  <label class="label" for="equipment_prepared_master_card_Number">Master Card Number</label>
                                  <input type="text" class="form-control"  id="equipment_prepared_master_card_Number" placeholder="please Enter Master Card Number" formControlName="equipment_prepared_master_card_Number">
                                </div>
                        </div>
                        <div class="row mt-3">
                        
                          <div class="col">
                            <label class="label" for="fire_watch_name">Fire Watch Name</label>
                            <input type="text" class="form-control"  id="fire_watch_name" placeholder="please Enter Fire Watch Nmae" formControlName="fire_watch_name">
                          </div>
                          <div class="col">
                            <label class="label" for="initial_dep_rep">Initial of the other Dep Rep</label>
                            <input type="text" class="form-control"  id="initial_dep_rep" placeholder="please Enter Dep Rep" formControlName="initial_dep_rep">
                          </div>
                           </div>
                           <div class="row mt-3">
                        
                            <div class="col">
                              <label class="label" for="safety_attendant_name">Safety Attendant Name</label>
                              <input type="text" class="form-control"  id="safety_attendant_name" placeholder="please Enter Safety Attendant Name" formControlName="safety_attendant_name">
                            </div>
                            <div class="col">
                              <label class="label" for="reviewed_by_trso">Reviewed by TRSO</label>
                              <input type="text" class="form-control"  id="reviewed_by_trso" placeholder="please Enter Reviewed by TRSO" formControlName="reviewed_by_trso">
                            </div>
                             </div>
                             <div class="row mt-3">
                        
                              <div class="col">
                                <label class="label" for="contractor_rso">Contractor RSO</label>
                                <input type="text" class="form-control"  id="contractor_rso" placeholder="please Enter Contractor RSO" formControlName="contractor_rso">
                              </div>
                              <div class="col">
                                <label class="label" for="outside_barricade">Radiation Reading Outside Barricade</label>
                                <input type="text" class="form-control"  id="outside_barricade" placeholder="please Enter Outside Barricade" formControlName="outside_barricade">
                              </div>
                               </div>
                               <div class="row mt-3">
                        
                                <div class="col">
                                  <label class="label" for="inside_barricade">Radiation Reading Inside Barricade</label>
                                  <input type="text" class="form-control"  id="inside_barricade" placeholder="please Enter InsideBarricade" formControlName="inside_barricade">
                                </div>
                                <div class="col">
                                  <label class="label" >All radiation safe condition applied</label>
                                  <div class="button-group">
                                    <input type="radio" class="custom-radio form-control" id="radition_safe_condition-Yes"
                                    name="radition_safe_condition" value="Yes" formControlName="radition_safe_condition"
                                   />
                                  <label for="radition_safe_condition-Yes" class="action">Yes</label>
                      
                                  <input type="radio" class="custom-radio form-control ml-2" id="radition_safe_condition-No"
                                    name="radition_safe_condition" value="No" formControlName="radition_safe_condition"
                                   />
                                  <label for="radition_safe_condition-No" class="action ml-2">No</label>
                                    
                                    </div>
                                </div>
                                 </div>
                               </form>
                                </mat-card-content>
                                </mat-card>



                                <mat-card class= card>
                                  <div style="background-color: #147737; padding: 7px;color: white;">
                                    <h6 style="margin-left: 40%;"><strong>MC - Master Card</strong></h6>
                                  </div>
                                     <h6 style="text-align: center;">Equipment is Prepared for Work Described Above</h6>
                                  <mat-card-content>
                                    <form [formGroup]="Safeworkpermit">
                                     
                                      
                                      <div class="row mt-3">
                                        <div class="col">
                                          <label class="label" for="facility_representative_name">Facility Representative Name</label>
                                          <input type="text" class="form-control"  id="facility_representative_name" placeholder="please Enter Facility Representative Name" formControlName="facility_representative_name">
                                        </div>
                                        <div class="col">
                                          <label class="label" for="facility_representative_employee_number">Facility Representative Employee Numbe</label>
                                          <input type="text" class="form-control"  id="facility_representative_employee_number" placeholder="please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number">
                                        </div>
                                       
                                       
                                          
                                       </div>
                    
                                    <div class="row mt-3">
                            
                                      <div class="col">
                                        <label class="label" for="date">Date And Time</label>
                                        <div class="row">
                                        <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                                      <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                                        </div>
                                    </div>
                                    <div class="col">
                                      <label class="label" for="facility_representative_employee_number_sign">Facility Representative Employee Number</label>
                                      <textarea type="text" class="form-control"   rows="3" id="facility_representative_employee_number" placeholder="please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number"></textarea>
                                      <button  style="background-color: #147737;color: white; margin-top: 1%;" >Signature</button>
                                    </div>
                            </div>


                            <!-- <div class="row mt-3">
                              <div class="col">
                                <label class="label" for="facility_representative_name">Facility Representative Name</label>
                                <input type="text" class="form-control"  id="facility_representative_name" placeholder="please Enter Facility Representative Name" formControlName="facility_representative_name">
                              </div>
                              <div class="col">
                                <label class="label" for="facility_representative_employee_number">Facility Representative Employee Numbe</label>
                                <input type="text" class="form-control"  id="facility_representative_employee_number" placeholder="please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number">
                              </div>
                             
                             
                                
                             </div>
          
                          <div class="row mt-3">
                  
                            <div class="col">
                              <label class="label" for="date">Date And Time</label>
                              <div class="row">
                              <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                            <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                              </div>
                          </div>
                          <div class="col">
                            <label class="label" for="facility_representative_employee_number">Facility Representative Employee Number</label>
                            <textarea type="text" class="form-control"   rows="3" id="facility_representative_employee_number" placeholder="please Enter Facility Representative Employee Number" formControlName="facility_representative_employee_number"></textarea>
                            <button  style="background-color: #147737;color: white; margin-top: 1%;" >Signature</button>
                          </div>
                  </div> -->
                  <h6 style="text-align: center;">MC - Master Card PEFM Confirmation Job Representative</h6>
                  <div class="row mt-3">
                    <div class="col">
                      <label class="label" for="job_facility_representative_name">Facility Representative Name</label>
                      <input type="text" class="form-control"  id="job_facility_representative_name" placeholder="please Enter Job Facility Representative Name" formControlName="job_facility_representative_name">
                    </div>
                    <div class="col">
                      <label class="label" for="job_facility_representative_employee_number">Facility Representative Employee Numbe</label>
                      <input type="text" class="form-control"  id="job_facility_representative_employee_number" placeholder="please Enter Job Facility Representative Employee Number" formControlName="job_facility_representative_employee_number">
                    </div>
                   
                   
                      
                   </div>

                <div class="row mt-3">
        
                  <div class="col">
                    <label class="label" for="date">Date And Time</label>
                    <div class="row">
                    <div class="col"><input type="date" class="form-control" id="date" [value]="formattedDate" ></div>
                  <div class="col"><input type="time" class="form-control" id="date" [value]="formattedTime" ></div>
                    </div>
                </div>
                <div class="col">
                  <label class="label" for="job_facility_representative_employee_number_sign">Facility Representative Employee Number</label>
                  <textarea type="text" class="form-control"   rows="3" id="job_facility_representative_employee_number_sign" placeholder="please Enter Job Facility Representative Employee Number" formControlName="job_facility_representative_employee_number_sign"></textarea>
                  <button  style="background-color: #147737;color: white; margin-top: 1%;" >Signature</button>
                </div>
        </div>

                                   </form>
                                    </mat-card-content>
                                    </mat-card>


          </mat-card>

      </mat-expansion-panel>
    </mat-accordion>
    <br>
    <app-swprequest></app-swprequest>
